Repository oscar-system/Oscar.jl, pull requests merged in 2021-11, with the labels that each got.

#785 Some code unification
  docs/src/PolyhedralGeometry/Polyhedra/auxiliary.md
  docs/src/ToricVarieties/NormalToricVarieties.md
  src/Polytopes/PolyhedralFan/properties.jl
  src/Polytopes/Polyhedron/properties.jl
  src/Polytopes/Polyhedron/standard_constructions.jl
  src/Polytopes/Polytopes.jl
  src/ToricVarieties/AttributesAndMethods.jl
  src/ToricVarieties/CyclicQuotientSingularities.jl
  src/ToricVarieties/NormalToricVarieties/constructors.jl
  src/ToricVarieties/NormalToricVarieties/properties.jl
  src/ToricVarieties/ToricDivisors.jl
  src/ToricVarieties/ToricIdeals.jl
Labels: enhancement, polytopes, ToricVarieties

#816 Minor tweaks to the group actions code
  src/Groups/action.jl
  src/Groups/perm.jl
Labels: groups

#828 Rework folder structure and some minor improvements to PolyhedralGeometry
  docs/doc.main
  docs/oscar_references.bib
  docs/src/Combinatorics/graphs.md
  docs/src/PolyhedralGeometry/Polyhedra/auxiliary.md
  docs/src/PolyhedralGeometry/Polyhedra/constructions.md
  docs/src/PolyhedralGeometry/intro.md
  src/Combinatorics/Graphs.jl
  src/Oscar.jl
  src/PolyhedralGeometry/Cone/constructors.jl
  src/PolyhedralGeometry/Cone/properties.jl
  src/PolyhedralGeometry/Cone/standard_constructions.jl
  src/PolyhedralGeometry/Groups.jl
  src/PolyhedralGeometry/LinearProgram.jl
  src/PolyhedralGeometry/PolyhedralFan/constructors.jl
  src/PolyhedralGeometry/PolyhedralFan/properties.jl
  src/PolyhedralGeometry/PolyhedralFan/standard_constructions.jl
  src/PolyhedralGeometry/Polyhedron/constructors.jl
  src/PolyhedralGeometry/Polyhedron/properties.jl
  src/PolyhedralGeometry/Polyhedron/standard_constructions.jl
  src/PolyhedralGeometry/Polytopes.jl
  src/PolyhedralGeometry/Serialization.jl
  src/PolyhedralGeometry/SubdivisionOfPoints/constructors.jl
  src/PolyhedralGeometry/SubdivisionOfPoints/functions.jl
  src/PolyhedralGeometry/SubdivisionOfPoints/properties.jl
  src/PolyhedralGeometry/Visualization.jl
  src/PolyhedralGeometry/helpers.jl
  src/PolyhedralGeometry/iterators.jl
  src/PolyhedralGeometry/solving_integrally.jl
  test/PolyhedralGeometry/Cone.jl
  test/PolyhedralGeometry/Graph.jl
  test/PolyhedralGeometry/Group.jl
  test/PolyhedralGeometry/PolyhedralFan.jl
  test/PolyhedralGeometry/Polyhedron.jl
  test/PolyhedralGeometry/Serialization.jl
  test/PolyhedralGeometry/SubdivisionOfPoints.jl
  test/PolyhedralGeometry/extended.jl
  test/PolyhedralGeometry/iterators.jl
  test/PolyhedralGeometry/runtests.jl
  test/PolyhedralGeometry/types.jl
  test/Polytopes/runtests.jl
  test/runtests.jl
Labels: enhancement, polytopes
