Repository oscar-system/Oscar.jl, pull requests merged in 2022-11, with the labels that each got.

#1681 Migration of schemes part iii
  experimental/Schemes/Glueing.jl
  experimental/Schemes/SpecialTypes.jl
  experimental/Schemes/Types.jl
  src/Schemes/Glueing/Attributes.jl
  src/Schemes/Glueing/Constructors.jl
  src/Schemes/Glueing/Methods.jl
  src/Schemes/Glueing/Types.jl
  src/Schemes/main.jl
Labels: schemes

#1682 Migration of schemes part iv
  experimental/Schemes/CoveredScheme.jl
  experimental/Schemes/Types.jl
  src/Schemes/CoveredSchemes/Morphisms/Attributes.jl
  src/Schemes/CoveredSchemes/Morphisms/Constructors.jl
  src/Schemes/CoveredSchemes/Morphisms/Methods.jl
  src/Schemes/CoveredSchemes/Morphisms/Types.jl
  src/Schemes/CoveredSchemes/Objects/Attributes.jl
  src/Schemes/CoveredSchemes/Objects/Constructors.jl
  src/Schemes/CoveredSchemes/Objects/Methods.jl
  src/Schemes/CoveredSchemes/Objects/Properties.jl
  src/Schemes/CoveredSchemes/Objects/Types.jl
  src/Schemes/Covering/Morphisms/Attributes.jl
  src/Schemes/Covering/Morphisms/Constructors.jl
  src/Schemes/Covering/Morphisms/Methods.jl
  src/Schemes/Covering/Morphisms/Types.jl
  src/Schemes/Covering/Objects/Attributes.jl
  src/Schemes/Covering/Objects/Constructors.jl
  src/Schemes/Covering/Objects/Methods.jl
  src/Schemes/Covering/Objects/Types.jl
  src/Schemes/main.jl
Labels: schemes

#1683 Introduce ambient_affine_space of an affine scheme
  docs/src/AlgebraicGeometry/Schemes/AffineSchemes.md
  docs/src/AlgebraicGeometry/Schemes/ArchitectureOfAffineSchemes.md
  docs/src/AlgebraicGeometry/Schemes/MorphismsOfAffineSchemes.md
  experimental/Schemes/CoveredScheme.jl
  experimental/Schemes/FunctionFields.jl
  experimental/Schemes/IdealSheaves.jl
  experimental/Schemes/ProjectiveSchemes.jl
  experimental/Schemes/Sheaves.jl
  experimental/Schemes/SpaceGerms.jl
  experimental/Schemes/Types.jl
  src/Rings/MPolyQuo.jl
  src/Rings/mpoly-localizations.jl
  src/Schemes/AffineSchemes/Morphisms/Attributes.jl
  src/Schemes/AffineSchemes/Morphisms/Constructors.jl
  src/Schemes/AffineSchemes/Morphisms/Methods.jl
  src/Schemes/AffineSchemes/Objects/Attributes.jl
  src/Schemes/AffineSchemes/Objects/Constructors.jl
  src/Schemes/AffineSchemes/Objects/Methods.jl
  src/Schemes/AffineSchemes/Objects/Properties.jl
  src/Schemes/Covering/Objects/Types.jl
  src/Schemes/Glueing/Constructors.jl
  src/Schemes/Glueing/Types.jl
  src/Schemes/PrincipalOpenSubset/Objects/Attributes.jl
  src/Schemes/PrincipalOpenSubset/Objects/Methods.jl
  src/Schemes/SpecOpen/Morphisms/Attributes.jl
  src/Schemes/SpecOpen/Morphisms/Constructors.jl
  src/Schemes/SpecOpen/Morphisms/Methods.jl
  src/Schemes/SpecOpen/Morphisms/Types.jl
  src/Schemes/SpecOpen/Objects/Attributes.jl
  src/Schemes/SpecOpen/Objects/Constructors.jl
  src/Schemes/SpecOpen/Objects/Methods.jl
  src/Schemes/SpecOpen/Objects/Properties.jl
  src/Schemes/SpecOpen/Objects/Types.jl
  src/Schemes/SpecOpen/Rings/Attributes.jl
  src/Schemes/SpecOpen/Rings/Constructors.jl
  src/Schemes/SpecOpen/Rings/Methods.jl
  test/Schemes/AffineSchemes.jl
  test/Schemes/CoveredScheme.jl
  test/Schemes/FunctionFields.jl
  test/Schemes/IdealSheaves.jl
  test/Schemes/ProjectiveSchemes.jl
Labels: schemes

#1700 Singular locus
  experimental/Schemes/singular_locus.jl
  src/Rings/mpoly-localizations.jl
  src/Rings/mpolyquo-localizations.jl
  src/Schemes/AffineSchemes/Objects/Attributes.jl
  src/Schemes/AffineSchemes/Objects/Properties.jl
  test/Schemes/singular_locus.jl
Labels: schemes

#1749 Cleanup bibliography
  Project.toml
  docs/oscar_references.bib
  docs/src/Experimental/Singularities/intro.md
  docs/src/Experimental/Singularities/space_germs.md
Labels: documentation, styleguide

#1751 Add letters() and syllables() for FPGroupElem
  experimental/GModule/Cohomology.jl
  src/GAP/wrappers.jl
  src/Groups/GAPGroups.jl
  src/Groups/matrices/iso_nf_fq.jl
Labels: topic: groups

#1771 ToricVarieties: Bugfix in is_empty for closed subvarieties
  src/ToricVarieties/Subvarieties/properties.jl
Labels: bug, topic: toric varieties
