Repository oscar-system/Oscar.jl, pull requests merged in 2022-05, with the labels that each got.

#1279 ToricVarieties: Cache rings and ideals
  docs/src/ToricVarieties/NormalToricVarieties.md
  src/ToricVarieties/AlgebraicCycles/special_attributes.jl
  src/ToricVarieties/CohomologyClasses/special_attributes.jl
  src/ToricVarieties/NormalToricVarieties/attributes.jl
  src/ToricVarieties/cohomCalg/auxilliary.jl
  test/ToricVarieties/runtests.jl
Labels: enhancement, topic: toric varieties

#1326 Some serialization tweaks
  src/Serialization/main.jl
Labels: serialization

#1351 Miscellaneous changes to the groups code
  src/Groups/matrices/MatGrp.jl
Labels: topic: groups

#1349 Remove `trace(::MatrixGroupElem)`
  docs/src/Groups/matgroup.md
  src/Groups/matrices/MatGrp.jl
  test/Groups/matrixgroups.jl
Labels: topic: groups

#1350 Make rand_pseudo(::GAPGroup) uniformly usable
  src/Groups/GAPGroups.jl
Labels: topic: groups

#1341 Don't use generic serialization automatically, add a test
  src/Serialization/PolyhedralGeometry.jl
  src/Serialization/main.jl
  test/Serialization/PolyhedralGeometry.jl
Labels: serialization

#1356 Serialize singletons; avoid redundant backref ids
  src/Serialization/main.jl
  test/Serialization/basic_types.jl
Labels: serialization
