Repository oscar-system/Oscar.jl, pull requests merged in 2022-04, with the labels that each got.

#1235 Attach topcom directly, serialize toric stuff
  Project.toml
  src/PolyhedralGeometry/triangulations.jl
  src/Serialization/ToricGeometry.jl
  src/Serialization/main.jl
  test/Serialization/ToricGeometry.jl
  test/Serialization/runtests.jl
Labels: enhancement, topic: polytopes, topic: toric varieties, serialization

#1183 Basics for tropical curves
  Project.toml
  docs/doc.main
  docs/oscar_references.bib
  docs/src/TropicalGeometry/curve.md
  src/TropicalGeometry/curve.jl
Labels: enhancement, topic: tropical geometry, WIP

#1246 Change `isisomorphic` to only return a `Bool`
  Project.toml
  docs/src/Groups/grouphom.md
  docs/src/Groups/quotients.md
  experimental/GModule/Cohomology.jl
  experimental/GModule/GModule.jl
  src/Groups/homomorphisms.jl
  test/Combinatorics/SimplicialComplexes.jl
  test/Groups/constructors.jl
  test/Groups/directproducts.jl
  test/Groups/homomorphisms.jl
  test/Groups/libraries.jl
  test/Groups/quotients.jl
  test/Groups/subgroups_and_cosets.jl
Labels: topic: groups

#1247 Improve perfect groups library
  docs/oscar_references.bib
  docs/src/Groups/grouplib.md
  src/Groups/libraries/perfectgroups.jl
  test/Groups/libraries.jl
Labels: topic: groups

#1146 ToricVarieties: Towards intersection theory
  docs/src/ToricVarieties/AlgebraicCycles.md
  docs/src/ToricVarieties/CohomologyClasses.md
  docs/src/ToricVarieties/NormalToricVarieties.md
  docs/src/ToricVarieties/ToricDivisorClasses.md
  docs/src/ToricVarieties/ToricDivisors.md
  docs/src/ToricVarieties/ToricLineBundles.md
  src/ToricVarieties/AlgebraicCycles/special_attributes.jl
  src/ToricVarieties/CohomologyClasses/attributes.jl
  src/ToricVarieties/CohomologyClasses/constructors.jl
  src/ToricVarieties/CohomologyClasses/methods.jl
  src/ToricVarieties/CohomologyClasses/properties.jl
  src/ToricVarieties/CohomologyClasses/special_attributes.jl
  src/ToricVarieties/JToric.jl
  src/ToricVarieties/NormalToricVarieties/attributes.jl
  src/ToricVarieties/NormalToricVarieties/constructors.jl
  src/ToricVarieties/NormalToricVarieties/methods.jl
  src/ToricVarieties/NormalToricVarieties/properties.jl
  src/ToricVarieties/ToricDivisorClasses/constructors.jl
  src/ToricVarieties/ToricDivisorClasses/properties.jl
  src/ToricVarieties/ToricDivisorClasses/special_attributes.jl
  src/ToricVarieties/ToricDivisors/attributes.jl
  src/ToricVarieties/ToricDivisors/constructors.jl
  src/ToricVarieties/ToricDivisors/properties.jl
  src/ToricVarieties/ToricDivisors/special_attributes.jl
  src/ToricVarieties/ToricLineBundles/constructors.jl
  src/ToricVarieties/ToricLineBundles/properties.jl
  src/ToricVarieties/ToricLineBundles/special_attributes.jl
  src/ToricVarieties/cohomCalg.jl
  test/ToricVarieties/runtests.jl
Labels: enhancement, topic: toric varieties

#1142 bs/matroids
  docs/doc.main
  docs/oscar_references.bib
  docs/src/Combinatorics/matroids.md
  src/Combinatorics/Matroids/ChowRings.jl
  src/Combinatorics/Matroids/JMatroids.jl
  src/Combinatorics/Matroids/matroids.jl
  src/Combinatorics/Matroids/properties.jl
  src/Oscar.jl
  test/Combinatorics/Matroids/Chow_Ring.jl
  test/Combinatorics/Matroids/Matroids.jl
  test/Combinatorics/runtests.jl
Labels: enhancement, WIP, topic: combinatorics

#1281 Enable attribute storing for group products
  src/Groups/directproducts.jl
  src/Groups/types.jl
  test/Groups/directproducts.jl
Labels: topic: groups
