Repository oscar-system/Oscar.jl, pull requests merged in 2022-02, with the labels that each got.

#1004 next iteration for `iso_oscar_gap` and `iso_gap_oscar`
  src/GAP/gap_to_oscar.jl
  src/GAP/iso_gap_oscar.jl
  src/GAP/iso_oscar_gap.jl
  src/Groups/matrices/iso_oscar_gap.jl
  src/Groups/matrices/matrices.jl
  src/Oscar.jl
  test/GAP/gap_to_oscar.jl
  test/GAP/iso_gap_oscar.jl
  test/GAP/iso_oscar_gap.jl
  test/GAP/runtests.jl
  test/Groups/matrixgroups.jl
Labels: topic: groups, needs nemo update

#1042 Adjust for GroupsCore conformance tests
  docs/src/Groups/basics.md
  src/Groups/GAPGroups.jl
  src/imports.jl
  test/Groups/conformance.jl
  test/Groups/constructors.jl
  test/Groups/elements.jl
  test/Groups/runtests.jl
Labels: topic: groups

#1054 Various improvements of toric geometry part
  docs/src/General/other.md
  docs/src/PolyhedralGeometry/fans.md
  docs/src/ToricVarieties/NormalToricVarieties.md
  docs/src/ToricVarieties/intro.md
  src/Combinatorics/SimplicialComplexes.jl
  src/PolyhedralGeometry/PolyhedralFan/properties.jl
  src/PolyhedralGeometry/main.jl
  src/ToricVarieties/JToric.jl
  src/ToricVarieties/NormalToricVarieties/attributes.jl
  src/ToricVarieties/NormalToricVarieties/auxilliary.jl
  src/ToricVarieties/NormalToricVarieties/constructors.jl
  src/ToricVarieties/ToricLineBundles/attributes.jl
  src/ToricVarieties/ToricLineBundles/constructors.jl
  src/ToricVarieties/ToricLineBundles/properties.jl
  src/imports.jl
Labels: documentation, enhancement, topic: toric varieties

#1065 ToricVarieties/PolyhedralGeometry: Introduce FanLikeType
  src/PolyhedralGeometry/PolyhedralComplex/properties.jl
  src/PolyhedralGeometry/PolyhedralFan/constructors.jl
  src/PolyhedralGeometry/PolyhedralFan/properties.jl
  src/PolyhedralGeometry/SubdivisionOfPoints/properties.jl
  src/ToricVarieties/NormalToricVarieties/attributes.jl
  src/ToricVarieties/NormalToricVarieties/constructors.jl
  src/ToricVarieties/NormalToricVarieties/properties.jl
Labels: enhancement, topic: polytopes, topic: toric varieties

#1078 Secondary invariants
  experimental/InvariantTheory/InvariantTheory.jl
  experimental/InvariantTheory/invariant_rings.jl
  experimental/InvariantTheory/iterators.jl
  experimental/InvariantTheory/primary_invariants.jl
  experimental/InvariantTheory/secondary_invariants.jl
  experimental/InvariantTheory/types.jl
  test/InvariantTheory/invariant_rings-test.jl
  test/InvariantTheory/primary_invariants-test.jl
  test/InvariantTheory/runtests.jl
  test/InvariantTheory/secondary_invariants-test.jl
Labels: needs hecke update

#1116 Fix bug with wrong number of arguments in triangulations part.
  src/PolyhedralGeometry/triangulations.jl
Labels: bug, topic: polytopes
