Repository oscar-system/Oscar.jl, pull requests merged in 2022-10, with the labels that each got.

#1578 Change some group constructors to accept fmpz, PosInf
  src/GAP/oscar_to_gap.jl
  src/Groups/group_constructors.jl
  test/Groups/constructors.jl
Labels: topic: groups

#1609 PolyhedralGeometry: Add mixed integer linear programs (MILP)
  docs/doc.main
  docs/src/DeveloperDocumentation/new_developers.md
  docs/src/PolyhedralGeometry/linear_programs.md
  docs/src/PolyhedralGeometry/mixed_integer_linear_programs.md
  src/Oscar.jl
  src/PolyhedralGeometry/LinearProgram.jl
  src/PolyhedralGeometry/MixedIntegerLinearProgram.jl
  src/PolyhedralGeometry/main.jl
Labels: enhancement, topic: polytopes

#1603 compute the Schur index via a GAP function
  src/Groups/group_characters.jl
  src/Oscar.jl
  test/Groups/group_characters.jl
Labels: topic: groups

#1605 Allow coercion of group elements to new parents
  src/Groups/GAPGroups.jl
  src/Groups/perm.jl
  test/Groups/elements.jl
Labels: topic: groups

#1646 ToricVarieties: Implement weighted projective space
  docs/src/ToricVarieties/NormalToricVarieties.md
  src/ToricVarieties/NormalToricVarieties/constructors.jl
  test/ToricVarieties/runtests.jl
Labels: enhancement, topic: toric varieties

#1653 Ideal sheaves -- once again
  experimental/Experimental.jl
  experimental/Schemes/CoveredScheme.jl
  experimental/Schemes/IdealSheaves.jl
  experimental/Schemes/Sheaves.jl
  experimental/Schemes/SpecialTypes.jl
  experimental/Schemes/Types.jl
  src/Rings/MPolyQuo.jl
  test/Rings/MPolyQuo_test.jl
  test/Schemes/IdealSheaves.jl
  test/Schemes/Sheaves.jl
  test/runtests.jl
Labels: schemes
