Repository oscar-system/Oscar.jl, pull requests merged in 2022-12, with the labels that each got.

#1807 Introduce bibtool CI test
  .github/workflows/BibtoolCI.yml
Labels: documentation, enhancement

#1720 1719 serialization problems with cyclotomic fields
  src/Serialization/Fields.jl
  src/Serialization/Rings.jl
  src/Serialization/containers.jl
  src/Serialization/main.jl
  test/Serialization/Matrices.jl
  test/Serialization/basic_types.jl
Labels: serialization

#1780 When computing matrix group orders, inform GAP about the result
  src/Groups/matrices/MatGrp.jl
  test/Groups/matrixgroups.jl
Labels: topic: groups
