Repository oscar-system/Oscar.jl, pull requests merged in 2022-03, with the labels that each got.

#1135 Groups: add type assertions to GAP calls, other tweaks
  src/GAP/wrappers.jl
  src/Groups/GAPGroups.jl
  src/Groups/cosets.jl
  src/Groups/group_characters.jl
  src/Groups/homomorphisms.jl
  src/Groups/matrices/MatGrp.jl
  src/Groups/sub.jl
Labels: topic: groups

#1138 added optional argument `check` to `haspreimage`, improved an error message
  docs/src/Groups/grouphom.md
  src/Groups/homomorphisms.jl
  src/Groups/perm.jl
  test/Groups/elements.jl
  test/Groups/homomorphisms.jl
Labels: topic: groups

#1172 added `iso_oscar_gap`, `iso_gap_oscar` for residue rings
  src/GAP/iso_gap_oscar.jl
  src/GAP/iso_oscar_gap.jl
  test/GAP/iso_gap_oscar.jl
  test/GAP/iso_oscar_gap.jl
Labels: topic: groups

#1000 Start central serialization methods
  Project.toml
  docs/doc.main
  docs/src/Combinatorics/graphs.md
  docs/src/Combinatorics/simplicialcomplexes.md
  docs/src/General/serialization.md
  docs/src/PolyhedralGeometry/Polyhedra/serialization.md
  docs/src/PolyhedralGeometry/cones.md
  docs/src/PolyhedralGeometry/fans.md
  docs/src/PolyhedralGeometry/linear_programs.md
  docs/src/PolyhedralGeometry/subdivisions_of_points.md
  src/Combinatorics/Graphs.jl
  src/Combinatorics/SimplicialComplexes.jl
  src/Oscar.jl
  src/PolyhedralGeometry/LinearProgram.jl
  src/PolyhedralGeometry/Serialization.jl
  src/PolyhedralGeometry/main.jl
  src/Serialization/Combinatorics.jl
  src/Serialization/Fields.jl
  src/Serialization/PolyhedralGeometry.jl
  src/Serialization/basic_types.jl
  src/Serialization/containers.jl
  src/Serialization/main.jl
  test/PolyhedralGeometry/runtests.jl
  test/Serialization/PolyhedralGeometry.jl
  test/Serialization/Vectors.jl
  test/Serialization/loading.jl
  test/Serialization/runtests.jl
  test/Serialization/vlp.json
  test/runtests.jl
Labels: enhancement, topic: polytopes, serialization

#1200 Document serialization, introduce issue and pr templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  docs/doc.main
  docs/src/DeveloperDocumentation/serialization.md
  src/Oscar.jl
  src/Serialization/Combinatorics.jl
  src/Serialization/Fields.jl
  src/Serialization/PolyhedralGeometry.jl
  src/Serialization/basic_types.jl
  src/Serialization/containers.jl
  src/Serialization/main.jl
  test/Serialization/Vectors.jl
  test/Serialization/basic_types.jl
  test/Serialization/runtests.jl
  test/Serialization/vlp.json
Labels: documentation, enhancement, serialization

#1194 Basics of tropical linear spaces
  src/TropicalGeometry/debugTropicalVariety.jl
  src/TropicalGeometry/hypersurface.jl
  src/TropicalGeometry/linear_space.jl
  src/TropicalGeometry/semiring.jl
  src/TropicalGeometry/variety.jl
Labels: enhancement, topic: tropical geometry
