Repository oscar-system/Oscar.jl, pull requests merged in 2023-07, with the labels that each got.

#2503 PolyhedralGeoemtry: Enhance fan with gp action constructor
  src/PolyhedralGeometry/PolyhedralFan/constructors.jl
Labels: enhancement, topic: polytopes

#2505 PolyhedralGeometry: Assert correct dimensions of input of subdivision of points
  src/PolyhedralGeometry/SubdivisionOfPoints/constructors.jl
  test/PolyhedralGeometry/subdivision_of_points.jl
Labels: enhancement, topic: polytopes

#2567 [FTheoryTools] Add Morrison–Park model and KBar parameter
  experimental/FTheoryTools/src/LiteratureModels/Models/model1208_2695-1.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1208_2695-2.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1212_2949-3.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1212_2949-4.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1212_2949-5.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1212_2949-6.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1212_2949-7.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1507_05954-1.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1507_05954-2.json
Labels: enhancement, FTheoryTools

#2569 [FTheoryTools] Support for literature model parameters
  experimental/FTheoryTools/docs/src/literature.md
  experimental/FTheoryTools/src/LiteratureModels/Models/model1109_3454.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1208_2695-1.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1208_2695-2.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1212_2949-1.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1212_2949-2.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1212_2949-3.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1212_2949-4.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1212_2949-5.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1212_2949-6.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1212_2949-7.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1507_05954-1.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1507_05954-2.json
  experimental/FTheoryTools/src/LiteratureModels/attributes.jl
  experimental/FTheoryTools/src/LiteratureModels/auxiliary.jl
  experimental/FTheoryTools/src/LiteratureModels/constructors.jl
  experimental/FTheoryTools/src/LiteratureModels/model_reference.json
  experimental/FTheoryTools/src/LiteratureModels/properties.jl
  experimental/FTheoryTools/src/TateModels/constructors.jl
  experimental/FTheoryTools/src/WeierstrassModels/constructors.jl
  experimental/FTheoryTools/src/exports.jl
Labels: enhancement, FTheoryTools

#2587 Reorder input arguments of `matrix_group`
  docs/src/Groups/matgroup.md
  experimental/GITFans/src/GITFans.jl
  experimental/LinearQuotients/src/misc.jl
  experimental/QuadFormAndIsom/src/embeddings.jl
  src/Groups/libraries/atlasgroups.jl
  src/Groups/matrices/MatGrp.jl
  src/Groups/matrices/iso_nf_fq.jl
  src/Groups/matrices/linear_centralizer.jl
  src/Groups/types.jl
  test/Groups/matrixgroups.jl
Labels: topic: groups

#2579 [ToricVarieties] Improve tests
  test/AlgebraicGeometry/ToricVarieties/line_bundle_cohomologies.jl
Labels: topic: toric varieties, optimization
