Repository oscar-system/Oscar.jl, pull requests merged in 2023-02, with the labels that each got.

#1922 ToricVarieties: Provide link to the tutorial on toric varieties
  docs/src/ToricVarieties/intro.md
Labels: documentation, enhancement, topic: toric varieties

#1921 better error message for `right_transversal`
  docs/src/Groups/subgroups.md
  src/Groups/cosets.jl
  test/Groups/subgroups_and_cosets.jl
Labels: enhancement, topic: groups

#1636 Toric covered schemes
  docs/doc.main
  docs/src/Experimental/ToricSchemes/AffineToricSchemes.md
  docs/src/Experimental/ToricSchemes/NormalToricSchemes.md
  docs/src/Experimental/ToricSchemes/intro.md
  experimental/Experimental.jl
  experimental/Schemes/ToricSchemes/AffineToricSchemes/Attributes.jl
  experimental/Schemes/ToricSchemes/AffineToricSchemes/Properties.jl
  experimental/Schemes/ToricSchemes/AffineToricSchemes/Type.jl
  experimental/Schemes/ToricSchemes/NormalToricSchemes/Attributes.jl
  experimental/Schemes/ToricSchemes/NormalToricSchemes/Properties.jl
  experimental/Schemes/ToricSchemes/NormalToricSchemes/Type.jl
  experimental/Schemes/ToricSchemes/include.jl
  experimental/Schemes/Types.jl
  test/Schemes/ToricSchemes.jl
  test/Schemes/runtests.jl
Labels: enhancement, topic: toric varieties, schemes

#1730 Adv/efficient vector serialization
  docs/src/General/serialization.md
  src/Serialization/Fields.jl
  src/Serialization/basic_types.jl
  src/Serialization/containers.jl
  src/Serialization/main.jl
  src/Serialization/upgrades/0.11.3.jl
  src/Serialization/upgrades/0.11.4.jl
  src/Serialization/upgrades/main.jl
  test/Serialization/containers.jl
  test/Serialization/new-containers.json
  test/Serialization/old-containers.json
  test/Serialization/runtests.jl
  test/Serialization/upgrades/current_file_version.json
  test/Serialization/upgrades/file_version<=0.11.2.json
  test/Serialization/upgrades/runtests.jl
Labels: serialization

#1956 ToricVarieties: Remove more deprecation warnings
  test/ToricVarieties/del_pezzo_surfaces.jl
  test/ToricVarieties/hirzebruch_surfaces.jl
  test/ToricVarieties/projective_spaces.jl
Labels: bug, topic: toric varieties
