Repository oscar-system/Oscar.jl, pull requests merged in 2023-10, with the labels that each got.

#2837 Connect our serialization with Julia serialization
  Project.toml
  src/Serialization/main.jl
  src/Serialization/serializers.jl
  test/Serialization/IPC.jl
  test/Serialization/runtests.jl
Labels: serialization

#2816 Groups: add minimal_generating_set
  src/Groups/GAPGroups.jl
  src/exports.jl
Labels: topic: groups

#2605 Bump `DocumenterCitations` to `v1.0.0`
  docs/Project.toml
  docs/citation_style.jl
  docs/make_work.jl
  docs/oscar_references.bib
  docs/src/Combinatorics/partitions.md
  docs/src/DeveloperDocumentation/documentation.md
  docs/src/references.md
Labels: documentation

#2728 Add functions to get more series of subgroups
  docs/src/Groups/basics.md
  docs/src/Groups/subgroups.md
  experimental/LieAlgebras/src/LieAlgebras.jl
  src/Groups/GAPGroups.jl
  src/Groups/sub.jl
  src/Oscar.jl
  src/exports.jl
  test/Groups/subgroups_and_cosets.jl
Labels: topic: groups

#2913 Rename `mul` to `*`
  Project.toml
  src/Groups/GAPGroups.jl
  src/Modules/Posur.jl
  src/Modules/UngradedModules.jl
  src/Modules/mpoly-localizations.jl
  src/Modules/mpolyquo-localizations.jl
  src/Rings/mpoly-localizations.jl
  src/deprecations.jl
  src/exports.jl
  test/Groups/operations.jl
  test/Modules/module-localizations.jl
Labels: needs hecke update
