Repository oscar-system/Oscar.jl, pull requests merged in 2023-03, with the labels that each got.

#1988 changes in argument orders of functions
  docs/src/Groups/subgroups.md
  experimental/GModule/Cohomology.jl
  experimental/GaloisGrp/GaloisGrp.jl
  experimental/GaloisGrp/Group.jl
  experimental/GaloisGrp/Solve.jl
  experimental/SymmetricIntersections/Representations.jl
  src/Groups/GAPGroups.jl
  src/Groups/cosets.jl
  src/Groups/homomorphisms.jl
  src/Groups/matrices/linear_centralizer.jl
  src/Groups/sub.jl
  test/Experimental/SymmetricIntersections-test.jl
  test/Groups/directproducts.jl
  test/Groups/homomorphisms.jl
  test/Groups/libraries.jl
  test/Groups/matrixgroups.jl
  test/Groups/subgroups_and_cosets.jl
Labels: enhancement, topic: groups

#2056 `iso_oscar_gap` for `quadratic_field`
  src/GAP/iso_gap_oscar.jl
  src/GAP/iso_oscar_gap.jl
  src/GAP/wrappers.jl
  test/GAP/iso_gap_oscar.jl
  test/GAP/iso_oscar_gap.jl
Labels: enhancement, topic: number theory, package: GAP

#2025 Improve matrix_group()
  docs/src/Groups/matgroup.md
  docs/src/InvariantTheory/finite_groups.md
  experimental/GITFans/GITFans.jl
  experimental/Matrix/matrix.jl
  experimental/SymmetricIntersections/Representations.jl
  src/Groups/matrices/MatGrp.jl
  src/Groups/matrices/iso_nf_fq.jl
  src/InvariantTheory/affine_algebra.jl
  src/InvariantTheory/fundamental_invariants.jl
  src/InvariantTheory/invariant_rings.jl
  src/InvariantTheory/iterators.jl
  src/InvariantTheory/primary_invariants.jl
  src/InvariantTheory/secondary_invariants.jl
  test/Experimental/MatrixGroups-test.jl
  test/Groups/forms.jl
  test/Groups/matrixgroups.jl
Labels: topic: groups

#2105 improve `experimental/Matrix`
  experimental/Matrix/matrix.g
  experimental/Matrix/matrix.jl
  src/Groups/matrices/iso_nf_fq.jl
  test/Experimental/MatrixGroups-test.jl
Labels: enhancement, topic: groups, package: GAP

#2092 Towards moving FTheoryTools into OSCAR's experimental folder
  docs/doc.main
  docs/oscar_references.bib
  docs/src/AlgebraicGeometry/intro.md
  docs/src/Experimental/FTheoryTools/introduction.md
  docs/src/Experimental/FTheoryTools/tate.md
  docs/src/Experimental/FTheoryTools/weierstrass.md
  experimental/Experimental.jl
  experimental/FTheoryTools/FTheoryTools.jl
  experimental/FTheoryTools/TateModels/attributes.jl
  experimental/FTheoryTools/TateModels/constructors.jl
  experimental/FTheoryTools/TateModels/properties.jl
  experimental/FTheoryTools/WeierstrassModels/attributes.jl
  experimental/FTheoryTools/WeierstrassModels/constructors.jl
  experimental/FTheoryTools/WeierstrassModels/properties.jl
  experimental/FTheoryTools/auxiliary.jl
  experimental/FTheoryTools/exports.jl
  test/Experimental/FTheoryTools/runtests.jl
  test/runtests.jl
Labels: enhancement

#2163 Attempt to speed-up doctests for F-theory tools
  experimental/FTheoryTools/FTheoryTools.jl
  experimental/FTheoryTools/TateModels/attributes.jl
  experimental/FTheoryTools/TateModels/properties.jl
  experimental/FTheoryTools/WeierstrassModels/attributes.jl
  experimental/FTheoryTools/WeierstrassModels/constructors.jl
  experimental/FTheoryTools/WeierstrassModels/properties.jl
  experimental/FTheoryTools/exports.jl
  experimental/FTheoryTools/standard_constructions.jl
Labels: documentation, optimization

#2106 Lazy toric schemes
  experimental/Schemes/ToricSchemes/AffineToricSchemes/Attributes.jl
  experimental/Schemes/ToricSchemes/AffineToricSchemes/Properties.jl
  experimental/Schemes/ToricSchemes/AffineToricSchemes/Type.jl
  experimental/Schemes/ToricSchemes/NormalToricSchemes/Attributes.jl
  experimental/Schemes/ToricSchemes/NormalToricSchemes/Properties.jl
  experimental/Schemes/ToricSchemes/NormalToricSchemes/Type.jl
  src/Exports.jl
Labels: topic: toric varieties, schemes

#2147 Migration projective schemes iii
  docs/src/CommutativeAlgebra/affine_algebras.md
  experimental/Experimental.jl
  experimental/Schemes/CartierDivisor.jl
  experimental/Schemes/CoherentSheaves.jl
  experimental/Schemes/CoveredProjectiveSchemes.jl
  experimental/Schemes/CoveredScheme.jl
  experimental/Schemes/IdealSheaves.jl
  experimental/Schemes/ProjectiveSchemes.jl
  experimental/Schemes/Types.jl
  experimental/SymmetricIntersections/SymmetricGrassmannians.jl
  src/AlgebraicGeometry/Schemes/CoveredSchemes/Objects/Attributes.jl
  src/AlgebraicGeometry/Schemes/ProjectiveSchemes/Morphisms/Attributes.jl
  src/AlgebraicGeometry/Schemes/ProjectiveSchemes/Morphisms/Constructors.jl
  src/AlgebraicGeometry/Schemes/ProjectiveSchemes/Morphisms/Methods.jl
  src/AlgebraicGeometry/Schemes/ProjectiveSchemes/Morphisms/Types.jl
  src/AlgebraicGeometry/Schemes/ProjectiveSchemes/Objects/Attributes.jl
  src/AlgebraicGeometry/Schemes/ProjectiveSchemes/Objects/Constructors.jl
  src/AlgebraicGeometry/Schemes/ProjectiveSchemes/Objects/Methods.jl
  src/AlgebraicGeometry/Schemes/ProjectiveSchemes/Objects/Types.jl
  src/AlgebraicGeometry/Schemes/SpecOpen/Rings/Constructors.jl
  src/AlgebraicGeometry/Schemes/SpecOpen/Rings/Methods.jl
  src/AlgebraicGeometry/Schemes/main.jl
  src/AlgebraicGeometry/ToricVarieties/CohomologyClasses/attributes.jl
  src/Exports.jl
  src/Rings/MPolyMap/MPolyAnyMap.jl
  src/Rings/MPolyMap/flattenings.jl
  src/Rings/MPolyQuo.jl
  src/Rings/localization_interface.jl
  src/Rings/mpoly-graded.jl
  src/Rings/mpoly-localizations.jl
  src/Rings/mpoly.jl
  src/Rings/mpolyquo-localizations.jl
  test/AlgebraicGeometry/Schemes/CartierDivisor.jl
  test/AlgebraicGeometry/Schemes/CoherentSheaves.jl
  test/AlgebraicGeometry/Schemes/CoveredProjectiveSchemes.jl
  test/AlgebraicGeometry/Schemes/CoveredScheme.jl
  test/AlgebraicGeometry/Schemes/FunctionFields.jl
  test/AlgebraicGeometry/Schemes/IdealSheaves.jl
  test/AlgebraicGeometry/Schemes/ProjectiveSchemes.jl
  test/AlgebraicGeometry/Schemes/VectorBundles.jl
  test/AlgebraicGeometry/Schemes/WeilDivisor.jl
Labels: schemes
