Repository oscar-system/Oscar.jl, pull requests merged in 2023-12, with the labels that each got.

#2963 Make toric divisors compatible with Weil divisors on schemes
  docs/src/AlgebraicGeometry/ToricVarieties/ToricDivisors.md
  experimental/Experimental.jl
  experimental/Schemes/AlgebraicCycles.jl
  experimental/Schemes/NormalToricVarieties/attributes.jl
  experimental/Schemes/ToricDivisors/attributes.jl
  experimental/Schemes/ToricDivisors/constructors.jl
  experimental/Schemes/ToricIdealSheaves/constructors.jl
  experimental/Schemes/WeilDivisor.jl
  src/AlgebraicGeometry/Schemes/CoveredSchemes/Objects/Properties.jl
  src/AlgebraicGeometry/ToricVarieties/ToricDivisors/attributes.jl
  src/AlgebraicGeometry/ToricVarieties/ToricDivisors/constructors.jl
  src/AlgebraicGeometry/ToricVarieties/ToricSchemes/attributes.jl
  src/forward_declarations.jl
  test/AlgebraicGeometry/Schemes/WeilDivisor.jl
  test/AlgebraicGeometry/ToricVarieties/toric_schemes.jl
Labels: enhancement, topic: toric schemes

#3032 Adv/refactor load
  Project.toml
  experimental/FTheoryTools/src/Serialization/tate_models.jl
  experimental/FTheoryTools/test/tate.jl
  experimental/QuadFormAndIsom/src/serialization.jl
  gap/OscarInterface/gap/OscarInterface.gd
  gap/OscarInterface/gap/OscarInterface.gi
  src/Serialization/Algebras.jl
  src/Serialization/Combinatorics.jl
  src/Serialization/Fields.jl
  src/Serialization/GAP.jl
  src/Serialization/Groups.jl
  src/Serialization/PolyhedralGeometry.jl
  src/Serialization/QuadForm.jl
  src/Serialization/Rings.jl
  src/Serialization/ToricGeometry.jl
  src/Serialization/TropicalGeometry.jl
  src/Serialization/basic_types.jl
  src/Serialization/containers.jl
  src/Serialization/main.jl
  src/Serialization/serializers.jl
  src/Serialization/upgrades/0.11.3.jl
  src/Serialization/upgrades/0.12.0.jl
  src/Serialization/upgrades/0.13.0.jl
  src/Serialization/upgrades/main.jl
  src/exports.jl
  test/Serialization/IPC.jl
  test/Serialization/Matrices.jl
  test/Serialization/PolynomialsSeries.jl
Labels: serialization

#3094 removed unnecessary deepcopy
  src/Serialization/serializers.jl
Labels: serialization, embarrassing-bugfix

#3079 Adv/serialization for multigraded implicitization
  src/Groups/GrpAb.jl
  src/Rings/MPolyQuo.jl
  src/Rings/mpoly-graded.jl
  src/Serialization/Groups.jl
  src/Serialization/MPolyMap.jl
  src/Serialization/Rings.jl
  src/Serialization/containers.jl
  src/Serialization/main.jl
  src/exports.jl
  src/utils/parallel.jl
  src/utils/utils.jl
  test/Serialization/Fields.jl
  test/Serialization/IPC.jl
  test/Serialization/MPolyAnyMap.jl
  test/Serialization/PolynomialsSeries.jl
Labels: serialization

#3119 [FTheoryTools] New constructor for literature models
  experimental/FTheoryTools/src/LiteratureModels/Models/model1109_3454.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1208_2695-1.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1208_2695-2.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1212_2949-1.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1212_2949-2.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1212_2949-3.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1212_2949-4.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1212_2949-5.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1212_2949-6.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1212_2949-7.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1507_05954-1.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1507_05954-2.json
  experimental/FTheoryTools/src/LiteratureModels/constructors.jl
  experimental/FTheoryTools/src/LiteratureModels/create_index.jl
  experimental/FTheoryTools/src/LiteratureModels/index.json
  experimental/FTheoryTools/src/exports.jl
  experimental/FTheoryTools/test/literature_models.jl
Labels: enhancement, FTheoryTools
