Repository oscar-system/Oscar.jl, pull requests merged in 2023-08, with the labels that each got.

#2616 [ToricVarieties] Method blow_up returns the blowdown morphism
  experimental/FTheoryTools/src/LiteratureModels/constructors.jl
  experimental/FTheoryTools/src/LiteratureModels/methods.jl
  experimental/FTheoryTools/src/standard_constructions.jl
  src/AlgebraicGeometry/ToricVarieties/NormalToricVarieties/standard_constructions.jl
  test/AlgebraicGeometry/ToricVarieties/toric_blowups.jl
Labels: enhancement, topic: toric varieties

#2640 Fix minor triangulation bug
  experimental/FTheoryTools/test/runtests.jl
  src/AlgebraicGeometry/ToricVarieties/NormalToricVarieties/standard_constructions.jl
  src/PolyhedralGeometry/triangulations.jl
  test/PolyhedralGeometry/runtests.jl
  test/PolyhedralGeometry/triangulations.jl
Labels: bug, topic: polytopes, FTheoryTools

#2621 next round for `algebraic_closure`
  docs/doc.main
  docs/src/Fields/algebraic_closure_fp.md
  src/Rings/AlgClosureFp.jl
  test/Rings/AlgClosureFp.jl
  test/Rings/runtests.jl
Labels: enhancement, topic: rings

#2656 avoid calling `FamilyPcgs`
  experimental/GModule/Cohomology.jl
Labels: topic: groups, package: GAP

#2651 rearrange and document cycle structures
  docs/src/Groups/permgroup.md
  src/GAP/wrappers.jl
  src/Groups/GAPGroups.jl
  src/Groups/perm.jl
  src/Groups/types.jl
  src/NumberTheory/GaloisGrp/GaloisGrp.jl
  src/exports.jl
  test/Groups/Permutations.jl
Labels: topic: groups

#2684 fix the fix from #2656
  experimental/GModule/Cohomology.jl
  src/GAP/wrappers.jl
  test/Experimental/gmodule.jl
Labels: topic: groups

#2671 small additions concerning characters
  docs/src/Groups/group_characters.md
  src/GAP/wrappers.jl
  src/Groups/group_characters.jl
  src/exports.jl
  test/Groups/group_characters.jl
Labels: topic: groups

#2697 Unary minus for toric divisors
  src/AlgebraicGeometry/ToricVarieties/ToricDivisorClasses/constructors.jl
  src/AlgebraicGeometry/ToricVarieties/ToricDivisorClasses/standard_constructions.jl
  src/AlgebraicGeometry/ToricVarieties/ToricDivisors/constructors.jl
  src/AlgebraicGeometry/ToricVarieties/ToricDivisors/standard_constructions.jl
Labels: topic: toric varieties

#2692 fix for elliptic_parameter in case of torsion
  experimental/Schemes/elliptic_surface.jl
Labels: topic: schemes

#2591 polyhedral: more standard constructions
  docs/oscar_references.bib
  docs/src/DeveloperDocumentation/styleguide.md
  docs/src/PolyhedralGeometry/Polyhedra/constructions.md
  src/PolyhedralGeometry/PolyhedralComplex/properties.jl
  src/PolyhedralGeometry/Polyhedron/standard_constructions.jl
  src/PolyhedralGeometry/linear_program.jl
  src/PolyhedralGeometry/mixed_integer_linear_program.jl
  src/exports.jl
  test/PolyhedralGeometry/polyhedron.jl
Labels: enhancement, topic: polytopes

#2685 ToricGeometry: Fix well definedness check; Allow disabling
  docs/src/AlgebraicGeometry/ToricVarieties/ToricMorphisms.md
  src/AlgebraicGeometry/ToricVarieties/JToric.jl
  src/AlgebraicGeometry/ToricVarieties/NormalToricVarieties/standard_constructions.jl
  src/AlgebraicGeometry/ToricVarieties/ToricMorphisms/attributes.jl
  src/AlgebraicGeometry/ToricVarieties/ToricMorphisms/constructors.jl
  src/AlgebraicGeometry/ToricVarieties/ToricMorphisms/standard_constructions.jl
  src/PolyhedralGeometry/PolyhedralFan/standard_constructions.jl
  src/deprecations.jl
  test/AlgebraicGeometry/ToricVarieties/toric_morphisms.jl
  test/PolyhedralGeometry/polyhedral_fan.jl
Labels: bug, enhancement, topic: toric varieties, optimization

#2667 Gorenstein and Picard index
  docs/oscar_references.bib
  docs/src/AlgebraicGeometry/ToricVarieties/NormalToricVarieties.md
  experimental/ToricSchemes/src/NormalToricSchemes/Attributes.jl
  src/AlgebraicGeometry/ToricVarieties/NormalToricVarieties/attributes.jl
  src/exports.jl
  test/AlgebraicGeometry/ToricVarieties/affine_normal_varieties.jl
  test/AlgebraicGeometry/ToricVarieties/del_pezzo_surfaces.jl
  test/AlgebraicGeometry/ToricVarieties/hirzebruch_surfaces.jl
Labels: enhancement, topic: toric varieties, topic: toric schemes

#2725 FreeAssAlgebra: enable serialization tests
  test/Serialization/runtests.jl
Labels: embarrassing-bugfix

#2730 PolyhedralGeometry: Refactor facets
  experimental/GITFans/src/GITFans.jl
  src/PolyhedralGeometry/Cone/properties.jl
  src/PolyhedralGeometry/Polyhedron/properties.jl
  src/deprecations.jl
  test/PolyhedralGeometry/cone.jl
  test/PolyhedralGeometry/polyhedron.jl
Labels: enhancement, topic: polytopes

#2751 Fix `hom_product` docstring
  src/Modules/UngradedModules.jl
  test/Modules/ModulesGraded.jl
Labels: documentation
