Repository oscar-system/Oscar.jl, pull requests merged in 2023-11, with the labels that each got.

#2965 add `schur_multiplier`
  docs/src/Groups/basics.md
  src/Groups/GrpAb.jl
  src/Groups/sub.jl
  src/exports.jl
  test/Groups/GrpAb.jl
  test/Groups/quotients.jl
  test/Groups/subgroups_and_cosets.jl
Labels: enhancement, topic: groups

#2410 first attempt to serialize some groups
  gap/OscarInterface/gap/OscarInterface.gd
  gap/OscarInterface/gap/OscarInterface.gi
  src/GAP/gap_to_oscar.jl
  src/GAP/wrappers.jl
  src/Groups/GAPGroups.jl
  src/Serialization/GAP.jl
  src/Serialization/Groups.jl
  src/Serialization/main.jl
  test/Serialization/GAP.jl
  test/Serialization/Groups.jl
Labels: topic: groups, serialization

#3008 FTheoryTools: First extension to literature models over concrete bases
  experimental/FTheoryTools/docs/src/literature.md
  experimental/FTheoryTools/src/LiteratureModels/Models/model1109_3454.json
  experimental/FTheoryTools/src/LiteratureModels/constructors.jl
Labels: enhancement, FTheoryTools

#3017 [FTheoryTools] More improvements
  experimental/FTheoryTools/docs/src/tate.md
  experimental/FTheoryTools/src/LiteratureModels/constructors.jl
  experimental/FTheoryTools/src/LiteratureModels/methods.jl
  experimental/FTheoryTools/src/TateModels/constructors.jl
  experimental/FTheoryTools/src/TateModels/methods.jl
  experimental/FTheoryTools/src/TateModels/properties.jl
  experimental/FTheoryTools/src/exports.jl
Labels: enhancement, FTheoryTools

#3020 [FTheoryTools] Desired_base_space -> base_space
  experimental/FTheoryTools/docs/src/literature.md
  experimental/FTheoryTools/src/LiteratureModels/constructors.jl
  experimental/FTheoryTools/src/TateModels/methods.jl
Labels: optimization, FTheoryTools

#2936 Experimental: Add `BasisLieHighestWeight`
  experimental/BasisLieHighestWeight/docs/doc.main
  experimental/BasisLieHighestWeight/docs/src/introduction.md
  experimental/BasisLieHighestWeight/docs/src/user_functions.md
  experimental/BasisLieHighestWeight/src/BasisLieHighestWeight.jl
  experimental/BasisLieHighestWeight/src/BirationalSequence.jl
  experimental/BasisLieHighestWeight/src/LieAlgebras.jl
  experimental/BasisLieHighestWeight/src/MainAlgorithm.jl
  experimental/BasisLieHighestWeight/src/MonomialBasis.jl
  experimental/BasisLieHighestWeight/src/MonomialOrder.jl
  experimental/BasisLieHighestWeight/src/NewMonomial.jl
  experimental/BasisLieHighestWeight/src/RootConversion.jl
  experimental/BasisLieHighestWeight/src/TensorModels.jl
  experimental/BasisLieHighestWeight/src/UserFunctions.jl
  experimental/BasisLieHighestWeight/src/WeylPolytope.jl
  experimental/BasisLieHighestWeight/test/MBOld.jl
  experimental/BasisLieHighestWeight/test/MainAlgorithm-test.jl
  experimental/BasisLieHighestWeight/test/NewMonomial-test.jl
  experimental/BasisLieHighestWeight/test/RootConversion-test.jl
  experimental/BasisLieHighestWeight/test/runtests.jl
Labels: LieAlgebras

#3028 Fix `doctest_fix` for submodules
  src/utils/docs.jl
Labels: documentation

#3003 Bump DocumenterCitations to 1.3
  .bibtoolrsc
  docs/Project.toml
  docs/citation_style.jl
  docs/oscar_references.bib
Labels: documentation

#3048 Fix several things around root systems
  experimental/LieAlgebras/src/LieAlgebras.jl
  experimental/LieAlgebras/src/RootSystem.jl
  experimental/LieAlgebras/src/WeylGroup.jl
  experimental/LieAlgebras/test/WeylGroup-test.jl
Labels: bug, LieAlgebras

#3046 optimize BasisLieHighestWeight
  experimental/BasisLieHighestWeight/src/MainAlgorithm.jl
Labels: optimization

#3050 Address comments from #3048
  experimental/LieAlgebras/src/RootSystem.jl
  experimental/LieAlgebras/src/WeylGroup.jl
Labels: LieAlgebras

#3027 LieAlgebras: Add some small helper functions around simple modules
  experimental/LieAlgebras/src/AbstractLieAlgebra.jl
  experimental/LieAlgebras/src/CartanMatrix.jl
  experimental/LieAlgebras/src/DynkinDiagram.jl
  experimental/LieAlgebras/src/GapWrapper.jl
  experimental/LieAlgebras/src/LieAlgebraModule.jl
  experimental/LieAlgebras/src/LieAlgebras.jl
  experimental/LieAlgebras/src/root_systems.jl
  experimental/LieAlgebras/test/CartanMatrix-test.jl
  experimental/LieAlgebras/test/DynkinDiagram-test.jl
  experimental/LieAlgebras/test/LieAlgebraModule-test.jl
  src/GAP/wrappers.jl
Labels: enhancement, LieAlgebras
