Repository oscar-system/Oscar.jl, pull requests merged in 2023-09, with the labels that each got.

#2808 all_small_groups: allow filtering by 'exponent'
  src/Groups/libraries/libraries.jl
  src/Groups/libraries/smallgroups.jl
  test/Groups/libraries.jl
Labels: enhancement, topic: groups

#2753 LieAlgebras: Constructions for module homs
  experimental/LieAlgebras/docs/src/lie_algebra_homs.md
  experimental/LieAlgebras/docs/src/module_homs.md
  experimental/LieAlgebras/src/LieAlgebraHom.jl
  experimental/LieAlgebras/src/LieAlgebraModule.jl
  experimental/LieAlgebras/src/LieAlgebraModuleHom.jl
  experimental/LieAlgebras/src/LieAlgebras.jl
  experimental/LieAlgebras/test/LieAlgebraHom-test.jl
  experimental/LieAlgebras/test/LieAlgebraModule-test.jl
  experimental/LieAlgebras/test/LieAlgebraModuleHom-test.jl
Labels: enhancement

#2779 Toric morphisms to morphisms of covered schemes
  docs/src/AlgebraicGeometry/ToricVarieties/ToricMorphisms.md
  src/AlgebraicGeometry/ToricVarieties/ToricMorphisms/attributes.jl
  src/AlgebraicGeometry/ToricVarieties/ToricMorphisms/constructors.jl
  test/AlgebraicGeometry/ToricVarieties/toric_schemes.jl
Labels: enhancement, topic: toric schemes

#2827 Explicitly load various GAP package
  src/Oscar.jl
Labels: topic: groups

#2840 Adv/serialization session bf
  src/Serialization/main.jl
  test/Serialization/runtests.jl
  test/Serialization/session.jl
Labels: bug, serialization

#2588 Resolve two small issues regarding direct products of groups
  docs/src/Groups/products.md
  experimental/GModule/Cohomology.jl
  experimental/GModule/GaloisCohomology.jl
  experimental/GModule/test/runtests.jl
  src/GAP/wrappers.jl
  src/Groups/directproducts.jl
  src/Groups/homomorphisms.jl
  src/Groups/types.jl
  src/exports.jl
  test/Groups/directproducts.jl
  test/Groups/homomorphisms.jl
  test/InvariantTheory/primary_invariants.jl
Labels: topic: groups

#2774 Revise printing of GAP groups and homomorphisms
  docs/src/InvariantTheory/finite_groups.md
  docs/src/NumberTheory/galois.md
  experimental/GITFans/src/GITFans.jl
  experimental/GaloisGrp/src/Solve.jl
  experimental/QuadFormAndIsom/src/lattices_with_isometry.jl
  src/Combinatorics/Graphs/functions.jl
  src/Combinatorics/Matroids/matroids.jl
  src/Groups/GAPGroups.jl
  src/Groups/action.jl
  src/Groups/cosets.jl
  src/Groups/directproducts.jl
  src/Groups/group_characters.jl
  src/Groups/group_constructors.jl
  src/Groups/gsets.jl
  src/Groups/homomorphisms.jl
  src/Groups/libraries/atlasgroups.jl
  src/Groups/libraries/perfectgroups.jl
  src/Groups/libraries/primitivegroups.jl
  src/Groups/libraries/smallgroups.jl
  src/Groups/libraries/transitivegroups.jl
  src/Groups/matrices/MatGrp.jl
  src/Groups/pcgroup.jl
  src/Groups/perm.jl
  src/Groups/sub.jl
  src/Groups/types.jl
  src/InvariantTheory/affine_algebra.jl
  src/InvariantTheory/fundamental_invariants.jl
  src/InvariantTheory/invariant_rings.jl
  src/InvariantTheory/secondary_invariants.jl
  src/NumberTheory/GaloisGrp/GaloisGrp.jl
  src/PolyhedralGeometry/groups.jl
  test/Groups/group_characters.jl
Labels: topic: groups

#2871 fix for serializing 0 ideal
  src/Serialization/Rings.jl
  test/Serialization/PolynomialsSeries.jl
Labels: serialization, embarrassing-bugfix
