Repository oscar-system/Oscar.jl, pull requests merged in 2023-04, with the labels that each got.

#2208 Projective varieties
  experimental/Schemes/CoherentSheaves.jl
  experimental/Schemes/CoveredProjectiveSchemes.jl
  experimental/Schemes/CoveredScheme.jl
  experimental/Schemes/IdealSheaves.jl
  src/AlgebraicGeometry/Schemes/AffineAlgebraicSet/Objects/Constructors.jl
  src/AlgebraicGeometry/Schemes/AffineAlgebraicSet/Objects/Methods.jl
  src/AlgebraicGeometry/Schemes/AffineSchemes/Objects/Properties.jl
  src/AlgebraicGeometry/Schemes/ProjectiveAlgebraicSet/Objects/Attributes.jl
  src/AlgebraicGeometry/Schemes/ProjectiveAlgebraicSet/Objects/Constructors.jl
  src/AlgebraicGeometry/Schemes/ProjectiveAlgebraicSet/Objects/Methods.jl
  src/AlgebraicGeometry/Schemes/ProjectiveAlgebraicSet/Objects/Properties.jl
  src/AlgebraicGeometry/Schemes/ProjectiveAlgebraicSet/Objects/Types.jl
  src/AlgebraicGeometry/Schemes/ProjectiveSchemes/Morphisms/Attributes.jl
  src/AlgebraicGeometry/Schemes/ProjectiveSchemes/Morphisms/Constructors.jl
  src/AlgebraicGeometry/Schemes/ProjectiveSchemes/Morphisms/Methods.jl
  src/AlgebraicGeometry/Schemes/ProjectiveSchemes/Morphisms/Types.jl
  src/AlgebraicGeometry/Schemes/ProjectiveSchemes/Objects/Attributes.jl
  src/AlgebraicGeometry/Schemes/ProjectiveSchemes/Objects/Constructors.jl
  src/AlgebraicGeometry/Schemes/ProjectiveSchemes/Objects/Methods.jl
  src/AlgebraicGeometry/Schemes/ProjectiveSchemes/Objects/Properties.jl
  src/AlgebraicGeometry/Schemes/ProjectiveSchemes/Objects/Types.jl
  src/AlgebraicGeometry/Schemes/ProjectiveVariety/Objects/Attributes.jl
  src/AlgebraicGeometry/Schemes/ProjectiveVariety/Objects/Constructors.jl
  src/AlgebraicGeometry/Schemes/ProjectiveVariety/Objects/Methods.jl
  src/AlgebraicGeometry/Schemes/ProjectiveVariety/Objects/Properties.jl
  src/AlgebraicGeometry/Schemes/ProjectiveVariety/Objects/Types.jl
  src/AlgebraicGeometry/Schemes/main.jl
  src/Exports.jl
  src/Rings/mpoly-ideals.jl
  test/AlgebraicGeometry/Schemes/ProjectiveAlgebraicSet.jl
  test/AlgebraicGeometry/Schemes/ProjectiveSchemes.jl
  test/AlgebraicGeometry/Schemes/ProjectiveVarieties.jl
  test/AlgebraicGeometry/Schemes/runtests.jl
Labels: schemes

#2230 Add some missing functions in PolyhedralGeometry
  docs/src/PolyhedralGeometry/Polyhedra/auxiliary.md
  docs/src/PolyhedralGeometry/cones.md
  experimental/GITFans/GITFans.jl
  experimental/Schemes/ToricSchemes/NormalToricSchemes/Attributes.jl
  src/AlgebraicGeometry/ToricVarieties/ToricMorphisms/attributes.jl
  src/AlgebraicGeometry/ToricVarieties/cohomCalg/VanishingSets/methods.jl
  src/Deprecations.jl
  src/PolyhedralGeometry/Cone/properties.jl
  src/PolyhedralGeometry/Polyhedron/properties.jl
  src/PolyhedralGeometry/triangulations.jl
  test/PolyhedralGeometry/Cone.jl
  test/PolyhedralGeometry/Polyhedron.jl
Labels: enhancement, topic: polytopes

#2239 Change in -> issubset
  docs/src/PolyhedralGeometry/Polyhedra/auxiliary.md
  docs/src/PolyhedralGeometry/cones.md
  src/PolyhedralGeometry/Cone/properties.jl
  src/PolyhedralGeometry/Polyhedron/properties.jl
  test/PolyhedralGeometry/Cone.jl
  test/PolyhedralGeometry/Polyhedron.jl
Labels: enhancement, topic: polytopes, renaming

#2209 provide `character_table` functionality for `GrpAbFinGen`
  docs/src/Groups/group_characters.md
  docs/src/Groups/subgroups.md
  experimental/GModule/Cohomology.jl
  src/Deprecations.jl
  src/Exports.jl
  src/GAP/wrappers.jl
  src/Groups/GrpAb.jl
  src/Groups/group_characters.jl
  src/Groups/homomorphisms.jl
  src/Groups/sub.jl
  test/Groups/group_characters.jl
  test/Groups/homomorphisms.jl
Labels: topic: groups, package: Hecke

#2245 ToricVarieties: Add dictionaries linking homogeneous variables to rays
  src/AlgebraicGeometry/ToricVarieties/NormalToricVarieties/attributes.jl
Labels: enhancement, topic: toric varieties

#2228 ToricVarieties: Improve existing blowup functionality
  docs/src/AlgebraicGeometry/ToricVarieties/NormalToricVarieties.md
  docs/src/PolyhedralGeometry/fans.md
  src/AlgebraicGeometry/ToricVarieties/NormalToricVarieties/constructors.jl
  src/Deprecations.jl
  src/Exports.jl
  src/PolyhedralGeometry/PolyhedralFan/properties.jl
  test/AlgebraicGeometry/ToricVarieties/toric_blowups.jl
Labels: enhancement, topic: toric varieties, WIP, FTheoryTools

#2281 ToricVarieties: Fix bug in toric blow_up
  experimental/FTheoryTools/src/standard_constructions.jl
  src/AlgebraicGeometry/ToricVarieties/NormalToricVarieties/constructors.jl
Labels: bug, topic: toric varieties, FTheoryTools

#2284 [ToricSchemes] Overhaul to align with experimental structure
  docs/doc.main
  experimental/Experimental.jl
  experimental/ToricSchemes/README.md
  experimental/ToricSchemes/docs/doc.main
  experimental/ToricSchemes/docs/src/affine_toric_schemes.md
  experimental/ToricSchemes/docs/src/introduction.md
  experimental/ToricSchemes/docs/src/normal_toric_schemes.md
  experimental/ToricSchemes/src/NormalToricSchemes/Attributes.jl
  experimental/ToricSchemes/src/NormalToricSchemes/Properties.jl
  experimental/ToricSchemes/src/NormalToricSchemes/Types.jl
  experimental/ToricSchemes/src/ToricSchemes.jl
  experimental/ToricSchemes/src/exports.jl
  experimental/ToricSchemes/test/runtests.jl
  test/AlgebraicGeometry/Schemes/runtests.jl
Labels: topic: toric varieties, optimization, schemes

#2272 Refactoring styleguide
  docs/doc.main
  docs/src/DeveloperDocumentation/design_decisions.md
  docs/src/DeveloperDocumentation/printing_details.md
  docs/src/DeveloperDocumentation/styleguide.md
Labels: documentation, enhancement

#2288 provide `@permutation_group` and `permutation_group`
  docs/src/Groups/permgroup.md
  src/Exports.jl
  src/Groups/perm.jl
  test/Groups/Permutations.jl
Labels: topic: groups

#2303 `cyclic_generator` for groups, `is_faithful` for characters; make `findfirst(fun, t::GAPGroupCharacterTable)` work
  docs/src/Groups/basics.md
  docs/src/Groups/group_characters.md
  experimental/SymmetricIntersections/Representations.jl
  src/Exports.jl
  src/GAP/wrappers.jl
  src/Groups/group_characters.jl
  src/Groups/group_constructors.jl
  test/Groups/constructors.jl
  test/Groups/group_characters.jl
Labels: topic: groups

#2318 FTheoryTools: Rename Y4 to cy_hypersurface
  experimental/FTheoryTools/docs/src/tate.md
  experimental/FTheoryTools/docs/src/weierstrass.md
  experimental/FTheoryTools/src/TateModels/attributes.jl
  experimental/FTheoryTools/src/TateModels/constructors.jl
  experimental/FTheoryTools/src/WeierstrassModels/attributes.jl
  experimental/FTheoryTools/src/WeierstrassModels/constructors.jl
  experimental/FTheoryTools/src/exports.jl
  experimental/FTheoryTools/test/runtests.jl
Labels: optimization, FTheoryTools

#2309 changed the setup for `iso_gap_oscar`
  gap/OscarInterface/gap/OscarInterface.gi
  src/GAP/iso_gap_oscar.jl
Labels: package: GAP
