Repository oscar-system/Oscar.jl, pull requests merged in 2024-06, with the labels that each got.

#3824 Small change to docu
  docs/src/CommutativeAlgebra/rings.md
Labels: documentation, backport 1.0.x

#3825 Add a new constructor for toric affine space
  docs/src/AlgebraicGeometry/Schemes/AffineSchemes.md
  docs/src/AlgebraicGeometry/ToricVarieties/NormalToricVarieties.md
  src/AlgebraicGeometry/Schemes/AffineSchemes/Objects/Constructors.jl
  src/AlgebraicGeometry/ToricVarieties/NormalToricVarieties/attributes.jl
  src/AlgebraicGeometry/ToricVarieties/NormalToricVarieties/standard_constructions.jl
Labels: topic: toric varieties

#3823 Small changes to experimental docs
  docs/src/Experimental/intro.md
Labels: documentation, backport 1.0.x

#3826 Allow `ideal(f)` for a single element `f`
  src/Rings/mpoly-ideals.jl
Labels: Decision, topic: rings, triage

#3829 Another small change to docu
  docs/src/NoncommutativeAlgebra/intro.md
Labels: documentation, backport 1.0.x

#3820 Fix some minor inconsistencies in the manual
  docs/src/Groups/action.md
  src/Groups/action.jl
  src/Groups/group_characters.jl
  src/Rings/mpoly-affine-algebras.jl
  src/Rings/mpoly-ideals.jl
Labels: documentation

#3818 Book2
  experimental/GModule/Brueckner.jl
  experimental/GModule/Cohomology.jl
  experimental/GModule/GModule.jl
  experimental/GModule/GaloisCohomology.jl
  experimental/GModule/GrpExt.jl
  experimental/GModule/Misc.jl
  experimental/GModule/test/runtests.jl
  experimental/GaloisGrp/src/Subfields.jl
Labels: experimental

#3833 support `FinGenAbGroup` in `GSet`s
  docs/src/Groups/action.md
  src/Groups/gsets.jl
  test/Groups/gsets.jl
Labels: enhancement, topic: groups

#3832 add degree coercion for permutation groups
  src/Groups/GAPGroups.jl
  src/Groups/perm.jl
  test/Groups/Permutations.jl
Labels: topic: groups

#3836 fix Ehrhart
  src/NumberTheory/GaloisGrp/GaloisGrp.jl
  test/NumberTheory/galthy.jl
Labels: topic: number theory

#3830 Partitions again
  docs/src/Combinatorics/EnumerativeCombinatorics/partitions.md
  src/Combinatorics/EnumerativeCombinatorics/compositions.jl
  src/Combinatorics/EnumerativeCombinatorics/partitions.jl
  src/Combinatorics/EnumerativeCombinatorics/tableaux.jl
  src/Combinatorics/EnumerativeCombinatorics/types.jl
  src/Combinatorics/EnumerativeCombinatorics/weak_compositions.jl
  test/Combinatorics/EnumerativeCombinatorics/partitions.jl
Labels: topic: combinatorics

#3837 Upgrade `GModule` to new experimental structure
  experimental/Experimental.jl
  experimental/GModule/src/Brueckner.jl
  experimental/GModule/src/Cohomology.jl
  experimental/GModule/src/GModule.jl
  experimental/GModule/src/GaloisCohomology.jl
  experimental/GModule/src/GrpExt.jl
  experimental/GModule/src/Misc.jl
  experimental/LieAlgebras/src/LieAlgebras.jl
Labels: triage, experimental

#3627 Add function is_quotient for matroids
  src/Combinatorics/Matroids/matroids.jl
  src/exports.jl
  test/Combinatorics/Matroids/Matroids.jl
Labels: topic: combinatorics, triage

#3840 add `galois_orbit_sum` for group characters
  docs/src/Groups/group_characters.md
  src/GAP/wrappers.jl
  src/Groups/group_characters.jl
  src/exports.jl
  test/Groups/group_characters.jl
Labels: topic: groups

#3847 Fix Regression in K3Auto
  src/AlgebraicGeometry/Surfaces/K3Auto.jl
  test/AlgebraicGeometry/Surfaces/K3Auto.jl
Labels: backport 1.0.x

#3853 Make IntersectionTheory load after Schemes
  experimental/Experimental.jl
Labels: experimental

#3805 devdocs: add a preamble to the code formatting section
  docs/src/DeveloperDocumentation/styleguide.md
Labels: documentation, triage

#3827 Fix `is_smooth` for projective space
  docs/src/AlgebraicGeometry/Schemes/ProjectiveSchemes.md
  src/AlgebraicGeometry/Schemes/CoveredSchemes/Objects/Properties.jl
  src/AlgebraicGeometry/Schemes/ProjectiveSchemes/Objects/Properties.jl
Labels: topic: schemes

#3834 refactor vertex-edge graph and dual graph of a polyhedron
  docs/src/Combinatorics/graphs.md
  src/Combinatorics/Graphs/functions.jl
  src/PolyhedralGeometry/Polyhedron/properties.jl
  src/aliases.jl
  src/exports.jl
  test/Combinatorics/Graph.jl
Labels: topic: polyhedral geometry

#3849 Remove the "old experimental structure"
  docs/src/Experimental/intro.md
  experimental/Experimental.jl
  test/runtests.jl
Labels: experimental

#3866 fixes (hopefully) #3841
  experimental/GModule/src/GaloisCohomology.jl
Labels: experimental

#3854 PolyhedralGeometry: Document IncidenceMatrix feature for maximal_* functions
  docs/src/PolyhedralGeometry/polyhedral_complexes.md
  src/PolyhedralGeometry/PolyhedralComplex/properties.jl
  src/PolyhedralGeometry/PolyhedralFan/properties.jl
  src/PolyhedralGeometry/SubdivisionOfPoints/properties.jl
Labels: topic: polyhedral geometry

#3839 Fibration hopping presentation
  experimental/Schemes/src/CoveredProjectiveSchemes.jl
  experimental/Schemes/src/IdealSheaves.jl
  experimental/Schemes/src/LazyGluing.jl
  experimental/Schemes/src/MorphismFromRationalFunctions.jl
  experimental/Schemes/src/WeilDivisor.jl
  experimental/Schemes/src/elliptic_surface.jl
  src/AlgebraicGeometry/Schemes/Covering/Objects/Attributes.jl
  src/Rings/MPolyQuo.jl
  src/Rings/mpoly-ideals.jl
  src/Rings/mpoly-localizations.jl
  src/Rings/mpolyquo-localizations.jl
  test/AlgebraicGeometry/Schemes/IdealSheaves.jl
Labels: backport 1.1.x

#3806 `arrangement_polynomial`
  docs/src/PolyhedralGeometry/fans.md
  src/PolyhedralGeometry/PolyhedralFan/standard_constructions.jl
  src/exports.jl
  test/PolyhedralGeometry/polyhedral_fan.jl
Labels: topic: polyhedral geometry

#3877 Some more fixes for the fibration hopping.
  experimental/Schemes/src/IdealSheaves.jl
  src/Rings/MPolyQuo.jl
Labels: backport 1.1.x

#3874 rearrange how Oscar loads GAP packages at runtime
  gap/OscarInterface/PackageInfo.g
  src/Oscar.jl
  src/utils/install.jl
  src/utils/utils.jl
Labels: package: GAP, backport 1.1.x

#3884 speedup elliptic surfaces
  experimental/Schemes/src/IdealSheaves.jl
  experimental/Schemes/src/elliptic_surface.jl
  test/AlgebraicGeometry/Schemes/elliptic_surface.jl
Labels: backport 1.1.x

#3812 Experimental: Algebraic Statistics
  docs/oscar_references.bib
  experimental/AlgebraicStatistics/README.md
  experimental/AlgebraicStatistics/docs/doc.main
  experimental/AlgebraicStatistics/docs/src/ci.md
  experimental/AlgebraicStatistics/docs/src/gaussian_graphical_models.md
  experimental/AlgebraicStatistics/docs/src/graphical_models.md
  experimental/AlgebraicStatistics/docs/src/introduction.md
  experimental/AlgebraicStatistics/docs/src/markov.md
  experimental/AlgebraicStatistics/docs/src/phylogenetics.md
  experimental/AlgebraicStatistics/src/AlgebraicStatistics.jl
  experimental/AlgebraicStatistics/src/CI.jl
  experimental/AlgebraicStatistics/src/GaussianGraphicalModels.jl
  experimental/AlgebraicStatistics/src/GraphicalModels.jl
  experimental/AlgebraicStatistics/src/Markov.jl
  experimental/AlgebraicStatistics/src/PhylogeneticAuxiliary.jl
  experimental/AlgebraicStatistics/src/PhylogeneticModels.jl
  experimental/AlgebraicStatistics/src/PhylogeneticParametrization.jl
  experimental/AlgebraicStatistics/test/runtests.jl
Labels: experimental

#3879 Improve type stability of tropical code
  src/TropicalGeometry/hypersurface.jl
  src/TropicalGeometry/linear_space.jl
Labels: topic: tropical geometry

#3889 Taking up intersection theory again
  docs/oscar_references.bib
  experimental/IntersectionTheory/docs/src/AbstractVarieties.md
  experimental/IntersectionTheory/docs/src/intro.md
  experimental/IntersectionTheory/src/Bott.jl
  experimental/IntersectionTheory/src/IntersectionTheory.jl
  experimental/IntersectionTheory/src/Main.jl
  experimental/IntersectionTheory/src/Misc.jl
  experimental/IntersectionTheory/src/Types.jl
  experimental/IntersectionTheory/test/runtests.jl
Labels: experimental
