Repository oscar-system/Oscar.jl, pull requests merged in 2024-03, with the labels that each got.

#3474 Fix `free_group` for `Char` arguments
  src/Groups/group_constructors.jl
  test/Groups/constructors.jl
Labels: bug, topic: groups

#3441 G-Modules missing methods (part 1)
  Project.toml
  experimental/GModule/Brueckner.jl
  experimental/GModule/Cohomology.jl
  experimental/GModule/GModule.jl
  experimental/GModule/GaloisCohomology.jl
  experimental/GModule/test/runtests.jl
  experimental/GaloisGrp/src/Subfields.jl
  experimental/GaloisGrp/test/runtests.jl
  src/NumberTheory/GaloisGrp/GaloisGrp.jl
Labels: backport 1.0

#3478 add documentation about group libraries
  docs/oscar_references.bib
  docs/src/Groups/grouplib.md
Labels: topic: groups, package: GAP

#3456 Add (truncated) basis computation of the coordinate ring of a fixed Kodaira embedding
  experimental/BasisLieHighestWeight/docs/src/user_functions.md
  experimental/BasisLieHighestWeight/src/BasisLieHighestWeight.jl
  experimental/BasisLieHighestWeight/src/LieAlgebras.jl
  experimental/BasisLieHighestWeight/src/MainAlgorithm.jl
  experimental/BasisLieHighestWeight/src/MonomialBasis.jl
  experimental/BasisLieHighestWeight/src/MonomialOrder.jl
  experimental/BasisLieHighestWeight/src/UserFunctions.jl
  experimental/BasisLieHighestWeight/test/MBOld.jl
  experimental/BasisLieHighestWeight/test/MainAlgorithm-test.jl
  src/Oscar.jl
Labels: enhancement

#3481 Fix load polymake regression
  src/Serialization/polymake.jl
  test/Serialization/polymake/runtests.jl
  test/Serialization/polymake/simplicial.complex
Labels: serialization, backport 1.0.x

#3460 faster loading for free ass algebras
  src/Serialization/Algebras.jl
  src/Serialization/serializers.jl
  test/Serialization/Algebras.jl
Labels: serialization

#3483 Add `is_conjugate*` to `docs/src/Groups/action.md`
  docs/src/Groups/action.md
Labels: backport 1.0.x

#3487 Functions for simplicial complexes from polymake
  src/Combinatorics/SimplicialComplexes.jl
  src/exports.jl
Labels: package: Polymake

#3485 Serialization for sparse matrices
  src/Serialization/Rings.jl
  test/Serialization/Matrices.jl
Labels: serialization

#3500 Betti tables over quotient rings
  experimental/DoubleAndHyperComplexes/src/Morphisms/free_resolutions.jl
  experimental/DoubleAndHyperComplexes/src/Objects/Types.jl
  experimental/DoubleAndHyperComplexes/test/free_resolutions.jl
  src/Modules/ModulesGraded.jl
  src/Modules/mpolyquo.jl
Labels: enhancement, topic: rings

#3424 [FTheoryTools] Rewrite _kodaira_type to work with any locus
  experimental/FTheoryTools/src/auxiliary.jl
  experimental/FTheoryTools/test/tate_models.jl
Labels: enhancement, topic: FTheoryTools

#3452 uses the schema during serialization testing
  data/schema.json
  test/Project.toml
  test/Serialization/PolyhedralGeometry.jl
  test/Serialization/setup_tests.jl
Labels: serialization

#3516 more functionality for dict serialization
  src/Serialization/containers.jl
  test/Serialization/containers.jl
Labels: serialization

#3505 Add `cycles` for `PermGroupElem`
  docs/src/Groups/permgroup.md
  src/Groups/perm.jl
  test/Groups/Permutations.jl
Labels: topic: groups

#3503 Provide links for some documentation references
  docs/src/AlgebraicGeometry/ToricVarieties/AlgebraicCycles.md
  docs/src/CommutativeAlgebra/GroebnerBases/groebner_bases.md
  docs/src/CommutativeAlgebra/GroebnerBases/groebner_bases_integers.md
  docs/src/CommutativeAlgebra/GroebnerBases/orderings.md
  docs/src/CommutativeAlgebra/Miscellaneous/binomial_ideals.md
  docs/src/CommutativeAlgebra/ModulesOverMultivariateRings/free_modules.md
  docs/src/CommutativeAlgebra/ModulesOverMultivariateRings/intro.md
  docs/src/CommutativeAlgebra/ModulesOverMultivariateRings/subquotients.md
  docs/src/CommutativeAlgebra/affine_algebras.md
  docs/src/CommutativeAlgebra/intro.md
  docs/src/CommutativeAlgebra/localizations.md
  docs/src/CommutativeAlgebra/rings.md
  docs/src/DeveloperDocumentation/new_developers.md
  docs/src/Fields/intro.md
  docs/src/InvariantTheory/finite_groups.md
  docs/src/InvariantTheory/intro.md
  docs/src/InvariantTheory/reductive_groups.md
  docs/src/InvariantTheory/tori.md
  docs/src/LinearAlgebra/intro.md
  docs/src/NoncommutativeAlgebra/PBWAlgebras/intro.md
  docs/src/NoncommutativeAlgebra/PBWAlgebras/quotients.md
  docs/src/NumberTheory/intro.md
  docs/src/Rings/intro.md
Labels: documentation, backport 1.0.x

#3534 Fixes bug with loading vectorof Fields
  src/Serialization/containers.jl
  test/Serialization/Fields.jl
Labels: serialization

#3511 Adapt `basis_coordinate_ring_kodaira`
  experimental/BasisLieHighestWeight/src/MainAlgorithm.jl
  experimental/BasisLieHighestWeight/src/UserFunctions.jl
  experimental/BasisLieHighestWeight/test/MainAlgorithm-test.jl
Labels: enhancement, experimental
