Repository oscar-system/Oscar.jl, pull requests merged in 2024-01, with the labels that each got.

#3148 fix `quo` if the result is a group of automorphisms
  src/Groups/types.jl
  src/Oscar.jl
  test/Groups/homomorphisms.jl
  test/Groups/quotients.jl
Labels: topic: groups

#3060 Resolve some issues of unbound type parameters
  docs/src/Groups/subgroups.md
  experimental/GModule/Cohomology.jl
  src/Groups/cosets.jl
  src/Groups/directproducts.jl
  src/Groups/gsets.jl
  src/Groups/matrices/MatGrp.jl
  src/Groups/perm.jl
  src/Groups/sub.jl
  src/InvariantTheory/invariant_rings.jl
  src/PolyhedralGeometry/Cone/standard_constructions.jl
  src/PolyhedralGeometry/PolyhedralFan/standard_constructions.jl
  src/PolyhedralGeometry/Polyhedron/properties.jl
  src/Rings/PBWAlgebraQuo.jl
  src/Serialization/polymake.jl
  test/Aqua.jl
Labels: optimization

#3151 Sort GAP wrappers using 'sort -f'
  src/GAP/wrappers.jl
Labels: package: GAP

#3157 Force a finiteness check for matrix groups over infinite fields in `describe`
  src/Groups/GAPGroups.jl
  test/Groups/describe.jl
Labels: topic: groups

#3163 Use more GAPWrap
  experimental/BasisLieHighestWeight/src/LieAlgebras.jl
  experimental/BasisLieHighestWeight/src/MainAlgorithm.jl
  experimental/BasisLieHighestWeight/src/WeylPolytope.jl
  experimental/BasisLieHighestWeight/test/MBOld.jl
  experimental/LieAlgebras/src/iso_gap_oscar.jl
  src/GAP/wrappers.jl
  src/Groups/GAPGroups.jl
  src/Groups/abelian_aut.jl
  src/Groups/cosets.jl
  src/Groups/directproducts.jl
  src/Groups/gsets.jl
  src/Groups/matrices/forms.jl
  src/InvariantTheory/invariant_rings.jl
Labels: package: GAP, optimization

#3158 Make some group function names consistent with overall naming
  docs/src/Groups/basics.md
  src/Groups/GAPGroups.jl
  src/Groups/GrpAb.jl
  src/Groups/libraries/libraries.jl
  src/Groups/libraries/primitivegroups.jl
  src/Groups/libraries/smallgroups.jl
  src/Groups/libraries/transitivegroups.jl
  src/aliases.jl
  src/deprecations.jl
  src/exports.jl
  test/Groups/GrpAb.jl
  test/Groups/libraries.jl
  test/Groups/subgroups_and_cosets.jl
Labels: topic: groups

#3170 Rename two functions to avoid confusion with `is_<property>_with_<extrastuff>` functions
  docs/src/Groups/permgroup.md
  src/Groups/group_constructors.jl
  src/aliases.jl
  src/deprecations.jl
  src/exports.jl
  test/Groups/constructors.jl
Labels: topic: groups

#3081 Streamline powers of Lie algebra modules
  experimental/DoubleAndHyperComplexes/src/Morphisms/linear_strands.jl
  experimental/DoubleAndHyperComplexes/src/Morphisms/simplified_complexes.jl
  experimental/LieAlgebras/docs/src/module_homs.md
  experimental/LieAlgebras/docs/src/modules.md
  experimental/LieAlgebras/src/LieAlgebraModule.jl
  experimental/LieAlgebras/src/LieAlgebraModuleHom.jl
  experimental/LieAlgebras/src/LieAlgebras.jl
  experimental/LieAlgebras/test/LieAlgebraModule-test.jl
  experimental/LieAlgebras/test/LieAlgebraModuleHom-test.jl
  src/Modules/ExteriorPowers/FreeModules.jl
  src/Modules/ExteriorPowers/Generic.jl
  src/Modules/ExteriorPowers/SubQuo.jl
  src/Modules/ModuleTypes.jl
  src/Modules/ModulesGraded.jl
  src/Modules/UngradedModules/FreeModElem.jl
  src/Modules/UngradedModules/SubquoModule.jl
  src/Modules/UngradedModules/SubquoModuleElem.jl
Labels: merge me, LieAlgebras

#3191 Add some more functionality, docs and tests for root systems
  experimental/LieAlgebras/src/CartanMatrix.jl
  experimental/LieAlgebras/src/LieAlgebras.jl
  experimental/LieAlgebras/src/RootSystem.jl
  experimental/LieAlgebras/test/CartanMatrix-test.jl
  experimental/LieAlgebras/test/RootSystem-test.jl
Labels: enhancement, merge me, LieAlgebras

#3213 Remove trailing newline in labelled matrix printing
  src/Groups/MatrixDisplay.jl
  test/Groups/MatrixDisplay.jl
Labels: merge me

#3201 Make inj/proj of products groups consistent with other products objects
  docs/src/Groups/products.md
  src/Groups/directproducts.jl
  src/deprecations.jl
  test/Groups/directproducts.jl
  test/Groups/homomorphisms.jl
  test/Groups/subgroups_and_cosets.jl
Labels: topic: groups

#3226 Minor fix for show method of character tables; fix printing of named groups like `SL(2,2)` in some situations
  src/Groups/group_characters.jl
  src/Groups/matrices/MatGrp.jl
  test/Groups/group_characters.jl
Labels: topic: groups

#3112 Adv/serialization upgrades docs
  docs/src/DeveloperDocumentation/serialization.md
  src/Serialization/Upgrades/0.11.3.jl
  src/Serialization/Upgrades/0.12.0.jl
  src/Serialization/Upgrades/0.12.2.jl
  src/Serialization/Upgrades/0.13.0.jl
  src/Serialization/Upgrades/0.13.0.jl~
  src/Serialization/Upgrades/main.jl
  src/Serialization/Upgrades/main.jl~
  src/Serialization/main.jl
  src/exports.jl
  test/Serialization/setup_tests.jl
Labels: documentation, serialization

#3236 added text to a "TODO" FAQ concerning GAP packages
  docs/src/General/faq.md
Labels: documentation, package: GAP

#3051 More functionality for Weyl groups
  docs/oscar_references.bib
  experimental/LieAlgebras/src/CartanMatrix.jl
  experimental/LieAlgebras/src/CoxeterGroup.jl
  experimental/LieAlgebras/src/LieAlgebras.jl
  experimental/LieAlgebras/src/RootSystem.jl
  experimental/LieAlgebras/src/WeylGroup.jl
  experimental/LieAlgebras/test/CartanMatrix-test.jl
  experimental/LieAlgebras/test/RootSystem-test.jl
  experimental/LieAlgebras/test/WeylGroup-test.jl
  experimental/LieAlgebras/test/setup_tests.jl
Labels: enhancement, merge me, LieAlgebras

#3269 Adapt unicode printing guidelines
  docs/src/DeveloperDocumentation/printing_details.md
Labels: documentation

#3270 Adapt unicode printing of exterior powers of Lie algebra modules
  experimental/LieAlgebras/src/LieAlgebraModule.jl
Labels: LieAlgebras
