Repository oscar-system/Oscar.jl, pull requests merged in 2024-08, with the labels that each got.

#3985 [FTheoryTools] Some docstring fixes
  experimental/FTheoryTools/src/AbstractFTheoryModels/attributes.jl
  experimental/FTheoryTools/src/FamilyOfSpaces/constructors.jl
Labels: topic: FTheoryTools, experimental

#3991 [ToricVarieties] Add link to docu of immaculate line bundles
  docs/src/AlgebraicGeometry/ToricVarieties/cohomCalg.md
Labels: topic: toric varieties

#4000 Fix LaTeX in some doc strings
  docs/oscar_references.bib
  docs/src/CommutativeAlgebra/GroebnerBases/orderings.md
  docs/src/CommutativeAlgebra/affine_algebras.md
  docs/src/InvariantTheory/intro.md
  docs/src/NoncommutativeAlgebra/PBWAlgebras/creation.md
  docs/src/NoncommutativeAlgebra/PBWAlgebras/intro.md
  docs/src/TropicalGeometry/semiring_map.md
  experimental/LieAlgebras/src/LieAlgebraModule.jl
  src/AlgebraicGeometry/Schemes/CoveredSchemes/Objects/Methods.jl
  src/AlgebraicGeometry/Surfaces/K3Auto.jl
  src/Groups/sub.jl
  src/PolyhedralGeometry/Cone/properties.jl
  src/PolyhedralGeometry/PolyhedralComplex/properties.jl
  src/PolyhedralGeometry/PolyhedralFan/properties.jl
  src/PolyhedralGeometry/Polyhedron/properties.jl
  src/PolyhedralGeometry/Polyhedron/standard_constructions.jl
  src/Rings/mpoly-affine-algebras.jl
Labels: documentation

#4005 Include correct doc string
  docs/src/AlgebraicGeometry/Schemes/RationalPointsProjective.md
Labels: documentation

#4004 Turn `semistandard_tableaux(shape, weight)` into an iterator
  src/Combinatorics/EnumerativeCombinatorics/tableaux.jl
  src/Combinatorics/EnumerativeCombinatorics/types.jl
  test/Combinatorics/EnumerativeCombinatorics/tableaux.jl
Labels: topic: combinatorics, optimization

#3978 [FTheoryTools] Add model 1511.03209
  experimental/FTheoryTools/src/LiteratureModels/Models/1511_03209/1511-03209-base-space.mrdi
  experimental/FTheoryTools/src/LiteratureModels/Models/model1511_03209.json
  experimental/FTheoryTools/src/LiteratureModels/constructors.jl
  experimental/FTheoryTools/src/LiteratureModels/index.json
  experimental/FTheoryTools/src/LiteratureModels/model_indices.json
Labels: topic: FTheoryTools

#4015 [FTheoryTools] Fix constructor for 1511.03209 model
  experimental/FTheoryTools/src/LiteratureModels/constructors.jl
Labels: bug, topic: FTheoryTools

#4016 Update `generic_section` to allow specified range for random integer coefficients
  src/AlgebraicGeometry/ToricVarieties/ToricLineBundles/attributes.jl
Labels: enhancement, topic: toric varieties

#3950 quantum_autmorphism_groups of matroid
  docs/src/Combinatorics/graphs.md
  docs/src/Combinatorics/matroids.md
  src/Combinatorics/Matroids/JMatroids.jl
  src/Combinatorics/Matroids/quantum_automorphism_groups.jl
  src/Rings/FreeAssAlgIdeal.jl
  src/exports.jl
  test/Combinatorics/Matroids/Matroids.jl
Labels: topic: combinatorics

#3923 TropicalGeometry + PolyhedralGeometry: fixing references in documentation
  docs/src/PolyhedralGeometry/Polyhedra/constructions.md
  docs/src/PolyhedralGeometry/polyhedral_complexes.md
  docs/src/TropicalGeometry/curve.md
  docs/src/TropicalGeometry/hypersurface.md
  docs/src/TropicalGeometry/linear_space.md
  docs/src/TropicalGeometry/variety.md
  src/PolyhedralGeometry/Cone/properties.jl
  src/PolyhedralGeometry/PolyhedralComplex/properties.jl
  src/PolyhedralGeometry/PolyhedralFan/properties.jl
  src/PolyhedralGeometry/Polyhedron/properties.jl
  src/PolyhedralGeometry/Polyhedron/standard_constructions.jl
  src/TropicalGeometry/hypersurface.jl
  src/TropicalGeometry/variety_supertype.jl
Labels: documentation, topic: tropical geometry

#4021 Serialization fixes
  docs/src/DeveloperDocumentation/serialization.md
  src/Serialization/containers.jl
  src/Serialization/main.jl
  src/Serialization/serializers.jl
  test/Serialization/setup_tests.jl
Labels: experimental

#4022 change the documentation of `is_conjugate`, `is_conjugate_with_data`
  src/Groups/GAPGroups.jl
Labels: documentation, topic: groups

#4030 [Lie algebras] misc bugfixes, root system in Lie alg interface, `dim_of_simple_module` implementation in julia
  experimental/LieAlgebras/src/AbstractLieAlgebra.jl
  experimental/LieAlgebras/src/DirectSumLieAlgebra.jl
  experimental/LieAlgebras/src/LieAlgebra.jl
  experimental/LieAlgebras/src/LieAlgebraModule.jl
  experimental/LieAlgebras/src/RootSystem.jl
  experimental/LieAlgebras/src/WeylGroup.jl
  experimental/LieAlgebras/test/AbstractLieAlgebra-test.jl
  experimental/LieAlgebras/test/LieAlgebraModule-test.jl
  experimental/LieAlgebras/test/RootSystem-test.jl
  experimental/LieAlgebras/test/setup_tests.jl
Labels: topic: LieAlgebras, experimental

#3980 Serialization of Lie algebras
  experimental/LieAlgebras/src/LieAlgebras.jl
  experimental/LieAlgebras/src/serialization.jl
  experimental/LieAlgebras/test/RootSystem-test.jl
  experimental/LieAlgebras/test/WeylGroup-test.jl
  experimental/LieAlgebras/test/setup_tests.jl
Labels: serialization, topic: LieAlgebras, experimental

#4041 LieAlgebras: Add `*(::WeylGroupElem, ::RootSpaceElem)`
  experimental/LieAlgebras/src/CartanMatrix.jl
  experimental/LieAlgebras/src/RootSystem.jl
  experimental/LieAlgebras/src/WeylGroup.jl
  experimental/LieAlgebras/test/RootSystem-test.jl
  experimental/LieAlgebras/test/WeylGroup-test.jl
Labels: topic: LieAlgebras, experimental

#4042 LieAlgebras: Collect all types to a single file
  experimental/LieAlgebras/src/AbstractLieAlgebra.jl
  experimental/LieAlgebras/src/CoxeterGroup.jl
  experimental/LieAlgebras/src/DirectSumLieAlgebra.jl
  experimental/LieAlgebras/src/LieAlgebra.jl
  experimental/LieAlgebras/src/LieAlgebraHom.jl
  experimental/LieAlgebras/src/LieAlgebraIdeal.jl
  experimental/LieAlgebras/src/LieAlgebraModule.jl
  experimental/LieAlgebras/src/LieAlgebraModuleHom.jl
  experimental/LieAlgebras/src/LieAlgebras.jl
  experimental/LieAlgebras/src/LieSubalgebra.jl
  experimental/LieAlgebras/src/LinearLieAlgebra.jl
  experimental/LieAlgebras/src/RootSystem.jl
  experimental/LieAlgebras/src/Types.jl
  experimental/LieAlgebras/src/WeylGroup.jl
Labels: topic: LieAlgebras, experimental

#3317 Use `@varnames_interface free_group`
  docs/src/Groups/fpgroup.md
  docs/src/Groups/quotients.md
  experimental/GModule/src/Brueckner.jl
  src/Groups/GAPGroups.jl
  src/Groups/group_constructors.jl
  src/exports.jl
Labels: topic: groups

#3944 Linear combinations of set partitions
  experimental/SetPartitions/README.md
  experimental/SetPartitions/src/LinearPartition.jl
  experimental/SetPartitions/src/SetPartitions.jl
  experimental/SetPartitions/src/Util.jl
  experimental/SetPartitions/test/LinearPartition-test.jl
Labels: experimental

#3982 Add docu for matroid realization spaces as affine schemes
  experimental/MatroidRealizationSpaces/docs/src/introduction.md
  src/AlgebraicGeometry/Schemes/AffineSchemes/Objects/Properties.jl
Labels: triage

#4029 Fix flgm groebner bases for some orderings
  src/Rings/groebner.jl
  test/Rings/groebner.jl
Labels: triage

#4054 Bump Nemo compat to 0.46.2
  Project.toml
Labels: package: Nemo

#4052 Make GSets better inferreable
  src/Groups/group_characters.jl
  src/Groups/gsets.jl
  test/Groups/gsets.jl
Labels: topic: groups

#4055 [FTheoryTools] Add some missing `ensure_artifact_installed` to doctests
  experimental/FTheoryTools/src/G4Fluxes/attributes.jl
  experimental/FTheoryTools/src/G4Fluxes/constructors.jl
  experimental/FTheoryTools/src/G4Fluxes/properties.jl
Labels: topic: FTheoryTools, experimental

#4058 Update .codecov.yml
  .codecov.yml
Labels: CI

#4057 make sure char values are in the correct field
  experimental/GModule/src/GModule.jl
Labels: topic: groups, experimental

#4040 TropicalGeometry: fixed initials w.r.t. t-adic valuation
  src/TropicalGeometry/semiring_map.jl
Labels: topic: tropical geometry
