Repository oscar-system/Oscar.jl, pull requests merged in 2024-11, with the labels that each got.

#4264 Add `isomorphism(::Type{PermGroup}, ::WeylGroup)` for some cases
  experimental/LieAlgebras/src/LieAlgebras.jl
  experimental/LieAlgebras/src/WeylGroup.jl
  experimental/LieAlgebras/test/WeylGroup-test.jl
Labels: topic: LieAlgebras, experimental

#4262 `QuadFormAndIsom`: add a missing check and remove some unnecessary `@req`
  experimental/QuadFormAndIsom/src/embeddings.jl
  experimental/QuadFormAndIsom/src/enumeration.jl
  experimental/QuadFormAndIsom/test/runtests.jl
Labels: experimental

#4183 Two neighbor step in char 0
  experimental/Schemes/src/BlowupMorphism.jl
  experimental/Schemes/src/elliptic_surface.jl
  src/AlgebraicGeometry/Schemes/CoveredSchemes/Morphisms/MorphismFromRationalFunctions/Methods.jl
  src/AlgebraicGeometry/Schemes/Divisors/WeilDivisor.jl
  src/AlgebraicGeometry/Schemes/Sheaves/IdealSheaves.jl
  src/Rings/MPolyMap/MPolyRing.jl
  src/Rings/mpolyquo-localizations.jl
Labels: topic: schemes

#4267 [FTheoryTools] Fix LaTeX super indices in documentation
  experimental/FTheoryTools/src/G4Fluxes/special_attributes.jl
Labels: documentation, topic: FTheoryTools

#4269 Intersection theory: correct bug, add more examples
  experimental/IntersectionTheory/docs/src/AbstractBundles.md
  experimental/IntersectionTheory/docs/src/AbstractVarieties.md
  experimental/IntersectionTheory/src/Main.jl
Labels: experimental

#4265 add `stabilizer` for G-sets w.r.t. derived actions
  src/Groups/gsets.jl
  test/Groups/gsets.jl
Labels: topic: groups

#4266 [ToricVarieties] Serialize cohomology classes
  src/Serialization/ToricGeometry.jl
  test/Serialization/ToricGeometry.jl
Labels: help wanted, topic: toric varieties, serialization

#4273 [FTheoryTools] Minor fixes
  experimental/FTheoryTools/src/G4Fluxes/special_attributes.jl
Labels: bug, topic: FTheoryTools

#4270 Resolves `BoundError` in `weights(hook_lengths(...))`
  src/Combinatorics/EnumerativeCombinatorics/tableaux.jl
  test/Combinatorics/EnumerativeCombinatorics/tableaux.jl
Labels: topic: combinatorics

#4277 fix `_as_subgroups`
  src/Groups/homomorphisms.jl
  src/Groups/sub.jl
  test/Groups/subgroups_and_cosets.jl
Labels: topic: groups

#4278 rename `minimal_generating_set` for groups to `minimal_size_generating_set`
  docs/src/Groups/basics.md
  src/Groups/GAPGroups.jl
  src/deprecations.jl
  src/exports.jl
Labels: topic: groups

#4274 make the `GapObj` in left/right cosets optional
  src/Groups/cosets.jl
Labels: topic: groups

#4281 improve certain `stabilizer` methods
  src/GAP/wrappers.jl
  src/Groups/action.jl
  src/Groups/gsets.jl
  test/Groups/action.jl
  test/Groups/gsets.jl
Labels: topic: groups

#4271 Some progress around root systems and Weyl groups
  experimental/LieAlgebras/src/AbstractLieAlgebra.jl
  experimental/LieAlgebras/src/LieAlgebra.jl
  experimental/LieAlgebras/src/LieAlgebraModule.jl
  experimental/LieAlgebras/src/LinearLieAlgebra.jl
  experimental/LieAlgebras/src/RootSystem.jl
  experimental/LieAlgebras/src/Types.jl
  experimental/LieAlgebras/src/WeylGroup.jl
  experimental/LieAlgebras/src/serialization.jl
  experimental/LieAlgebras/test/RootSystem-test.jl
  experimental/LieAlgebras/test/WeylGroup-test.jl
  experimental/LieAlgebras/test/setup_tests.jl
Labels: topic: LieAlgebras, experimental

#4285 remove an `intersect` method
  src/Groups/cosets.jl
Labels: topic: groups

#4256 Tweak Betti table printing
  src/Modules/ModulesGraded.jl
  src/Modules/UngradedModules/FreeResolutions.jl
  src/Rings/mpoly-graded.jl
  test/Modules/ModulesGraded.jl
  test/book/cornerstones/algebraic-geometry/alexander-surface.jlcon
  test/book/cornerstones/algebraic-geometry/canonicalimage.jlcon
  test/book/cornerstones/algebraic-geometry/char3-surface-1.jlcon
  test/book/cornerstones/algebraic-geometry/char3-surface-2.jlcon
  test/book/cornerstones/algebraic-geometry/exres2.jlcon
  test/book/cornerstones/algebraic-geometry/param.jlcon
Labels: printing

#4247 avoid calling `conductor`
  src/Rings/AbelianClosure.jl
Labels: enhancement, topic: number theory

#4282 Test and fix `norm_equation` for `RelNumFieldOrder`
  src/NumberTheory/NmbThy.jl
  test/NumberTheory/nmbthy.jl
Labels: topic: number theory

#4301 docs: uniform DocTestSetup in more .md files
  docs/src/AlgebraicGeometry/AlgebraicSets/AffineAlgebraicSet.md
  docs/src/AlgebraicGeometry/AlgebraicSets/ProjectiveAlgebraicSet.md
  docs/src/AlgebraicGeometry/AlgebraicVarieties/AffineVariety.md
  docs/src/AlgebraicGeometry/AlgebraicVarieties/ProjectiveVariety.md
  docs/src/AlgebraicGeometry/Schemes/RationalPointsAffine.md
  docs/src/AlgebraicGeometry/Schemes/RationalPointsProjective.md
  experimental/AlgebraicStatistics/docs/src/phylogenetics.md
  experimental/DoubleAndHyperComplexes/docs/src/advice_for_the_programmer.md
  experimental/DoubleAndHyperComplexes/docs/src/user_interface.md
  experimental/FTheoryTools/docs/src/g4.md
  experimental/FTheoryTools/docs/src/generalities.md
  experimental/FTheoryTools/docs/src/hypersurface.md
  experimental/FTheoryTools/docs/src/introduction.md
  experimental/FTheoryTools/docs/src/literature.md
  experimental/FTheoryTools/docs/src/tate.md
  experimental/FTheoryTools/docs/src/weierstrass.md
  experimental/GroebnerWalk/docs/src/introduction.md
  experimental/GroebnerWalk/docs/src/special-ideals.md
  experimental/IntersectionTheory/docs/src/AbstractBundles.md
  experimental/IntersectionTheory/docs/src/AbstractVarietyMaps.md
  experimental/IntersectionTheory/docs/src/BlowUps.md
  experimental/IntersectionTheory/docs/src/BottFormulas.md
  experimental/IntersectionTheory/docs/src/intro.md
  experimental/IntersectionTheory/docs/src/schubert.md
  experimental/LieAlgebras/docs/src/cartan_matrix.md
  experimental/LinearQuotients/docs/src/cox_rings.md
  experimental/LinearQuotients/docs/src/introduction.md
  experimental/LinearQuotients/docs/src/linear_quotients.md
  experimental/OrthogonalDiscriminants/docs/src/introduction.md
  experimental/PartitionedPermutations/docs/src/introduction.md
  experimental/QuadFormAndIsom/docs/src/enumeration.md
  experimental/QuadFormAndIsom/docs/src/introduction.md
  experimental/QuadFormAndIsom/docs/src/latwithisom.md
  experimental/QuadFormAndIsom/docs/src/primembed.md
  experimental/QuadFormAndIsom/docs/src/spacewithisom.md
Labels: documentation

#4298 is_left and is_right for SubgroupTransversal
  src/Groups/cosets.jl
Labels: topic: groups

#4157 more functionality for collector objects
  src/Groups/pcgroup.jl
  src/exports.jl
  test/Groups/pcgroup.jl
Labels: enhancement, topic: groups, package: GAP

#4306 [ToricVarieties] Add hash function for NormalToricVariety
  src/AlgebraicGeometry/ToricVarieties/NormalToricVarieties/constructors.jl
Labels: enhancement, topic: toric varieties

#4280 Move `dim` from schemes to rings
  src/AlgebraicGeometry/Schemes/AffineSchemes/Objects/Attributes.jl
  src/Rings/mpoly-affine-algebras.jl
  src/Rings/mpolyquo-localizations.jl
Labels: topic: algebraic geometry

#4308 Replace uses of `add_scaled_row!` by `addmul!`
  Project.toml
  experimental/DoubleAndHyperComplexes/src/Morphisms/simplified_complexes.jl
  experimental/LieAlgebras/src/AbstractLieAlgebra.jl
  experimental/LieAlgebras/src/Types.jl
Labels: needs hecke update

#4305 Add some dummy hash functions for the geometry
  src/AlgebraicGeometry/Schemes/AffineSchemes/Objects/Methods.jl
  src/AlgebraicGeometry/Schemes/Divisors/AlgebraicCycles.jl
  src/AlgebraicGeometry/Schemes/Divisors/CartierDivisor.jl
  src/AlgebraicGeometry/Schemes/Gluing/Methods.jl
  src/AlgebraicGeometry/Schemes/ProjectiveSchemes/Objects/Methods.jl
  src/AlgebraicGeometry/Schemes/Sheaves/CoherentSheaves.jl
Labels: topic: algebraic geometry

#4294 Move EllipticSurface to src and document it.
  docs/doc.main
  docs/oscar_references.bib
  docs/src/AlgebraicGeometry/Surfaces/EllipticSurface.md
  experimental/Schemes/src/Schemes.jl
  experimental/Schemes/src/Types.jl
  experimental/Schemes/src/elliptic_surface.jl
  src/AlgebraicGeometry/AlgebraicGeometry.jl
  src/AlgebraicGeometry/Schemes/BlowupMorphism/BlowupMorphism.jl
  src/AlgebraicGeometry/Schemes/BlowupMorphism/Types.jl
  src/AlgebraicGeometry/Schemes/CoveredProjectiveScheme/CoveredProjectiveScheme.jl
  src/AlgebraicGeometry/Schemes/CoveredProjectiveScheme/Types.jl
  src/AlgebraicGeometry/Schemes/main.jl
  src/AlgebraicGeometry/Surfaces/EllipticSurface/EllipticSurface.jl
  src/AlgebraicGeometry/Surfaces/EllipticSurface/Morphisms.jl
  src/AlgebraicGeometry/Surfaces/EllipticSurface/MoveMeToHecke.jl
  src/AlgebraicGeometry/Surfaces/EllipticSurface/NeighborStep.jl
  src/AlgebraicGeometry/Surfaces/EllipticSurface/Types.jl
  src/deprecations.jl
  src/exports.jl
  test/AlgebraicGeometry/Schemes/EllipticSurface.jl
  test/runtests.jl
Labels: topic: algebraic geometry

#4319 make `isomorphism(PcGroup, A)` for infinite abelian `A` work
  src/Groups/homomorphisms.jl
  test/Groups/homomorphisms.jl
Labels: topic: groups

#4315 Fix casing in `show(::PBWAlgebra)` and friends
  docs/src/NoncommutativeAlgebra/PBWAlgebras/ideals.md
  docs/src/NoncommutativeAlgebra/PBWAlgebras/quotients.md
  experimental/ExteriorAlgebra/src/ExteriorAlgebra.jl
  src/Rings/PBWAlgebra.jl
  src/Rings/PBWAlgebraQuo.jl
Labels: printing

#4272 Hasse-Schmidt derivatives 2.0
  docs/oscar_references.bib
  experimental/HasseSchmidt/src/HasseSchmidt.jl
  experimental/HasseSchmidt/test/runtests.jl
Labels: experimental

#4311 add action on matrices in row reduced echelon form
  docs/src/Groups/action.md
  src/Groups/action.jl
  src/exports.jl
  test/Groups/action.jl
Labels: topic: groups

#4322 BasisLieHighestWeight: Replace GAP uses by Oscar functionality
  Project.toml
  experimental/BasisLieHighestWeight/src/BasisLieHighestWeight.jl
  experimental/BasisLieHighestWeight/src/BirationalSequence.jl
  experimental/BasisLieHighestWeight/src/LieAlgebras.jl
  experimental/BasisLieHighestWeight/src/MainAlgorithm.jl
  experimental/BasisLieHighestWeight/src/MonomialBasis.jl
  experimental/BasisLieHighestWeight/src/MonomialOrder.jl
  experimental/BasisLieHighestWeight/src/NewMonomial.jl
  experimental/BasisLieHighestWeight/src/RootConversion.jl
  experimental/BasisLieHighestWeight/src/TensorModels.jl
  experimental/BasisLieHighestWeight/src/UserFunctions.jl
  experimental/BasisLieHighestWeight/src/WeylPolytope.jl
  experimental/BasisLieHighestWeight/test/MBOld.jl
  experimental/BasisLieHighestWeight/test/MainAlgorithm-test.jl
  experimental/BasisLieHighestWeight/test/NewMonomial-test.jl
  experimental/BasisLieHighestWeight/test/RootConversion-test.jl
  experimental/BasisLieHighestWeight/test/runtests.jl
  experimental/LieAlgebras/src/GapWrapper.jl
  experimental/LieAlgebras/src/LieAlgebra.jl
  experimental/LieAlgebras/src/LieAlgebraModule.jl
  experimental/LieAlgebras/src/RootSystem.jl
Labels: topic: LieAlgebras, experimental

#4302 improvements for cosets
  docs/src/Groups/subgroups.md
  docs/src/Groups/tom.md
  src/Groups/cosets.jl
  src/Groups/gsets.jl
  src/deprecations.jl
  src/exports.jl
  test/Groups/gsets.jl
  test/Groups/matrixgroups.jl
  test/Groups/subgroups_and_cosets.jl
  test/book/cornerstones/groups/actions.jlcon
Labels: enhancement, topic: groups

#4338 Include existing elliptic curves docu
  docs/doc.main
Labels: documentation

#4337 improve `orbit_representatives_and_stabilizers`
  src/Groups/gsets.jl
Labels: topic: groups

#4286 [FTheoryTools] Compute all well-quantized and vertical G4-fluxes
  docs/oscar_references.bib
  experimental/FTheoryTools/docs/src/g4.md
  experimental/FTheoryTools/src/FTheoryTools.jl
  experimental/FTheoryTools/src/G4Fluxes/auxiliary.jl
  experimental/FTheoryTools/src/G4Fluxes/special-intersection-theory.jl
  experimental/FTheoryTools/src/G4Fluxes/special_attributes.jl
  experimental/FTheoryTools/src/Serialization/hypersurface_models.jl
  experimental/FTheoryTools/src/Serialization/tate_models.jl
  experimental/FTheoryTools/src/Serialization/weierstrass_models.jl
  experimental/FTheoryTools/src/exports.jl
  experimental/FTheoryTools/test/g4s.jl
Labels: enhancement, topic: FTheoryTools

#4343 [FTheoryTools] Added additional zero section functionality
  experimental/FTheoryTools/docs/src/literature.md
  experimental/FTheoryTools/src/AbstractFTheoryModels/attributes.jl
  experimental/FTheoryTools/src/AbstractFTheoryModels/methods.jl
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-10-WSF.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-10.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-11-WSF.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-11.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-12-WSF.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-12.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-13-WSF.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-13.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-14-WSF.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-14.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-15-WSF.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-15.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-16-WSF.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-16.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-3-WSF.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-3.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-5-WSF.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-5.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-6-WSF.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-6.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-7-WSF.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-7.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-8-WSF.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-8.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-9-WSF.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-9.json
  experimental/FTheoryTools/src/exports.jl
Labels: topic: FTheoryTools

#4339 LieAlgebras: Add Demazure character
  experimental/LieAlgebras/src/LieAlgebraModule.jl
  experimental/LieAlgebras/src/LieAlgebras.jl
  experimental/LieAlgebras/src/RootSystem.jl
  experimental/LieAlgebras/src/exports.jl
  experimental/LieAlgebras/test/LieAlgebraModule-test.jl
Labels: topic: LieAlgebras, experimental

#4353 [ToricVarieties] Tests for blowup do not depend on order of rays anymore
  test/AlgebraicGeometry/ToricVarieties/toric_blowups.jl
Labels: topic: toric varieties, testsuite

#4344 LieAlgebras: Introduce `WeightLattice`
  experimental/BasisLieHighestWeight/src/BasisLieHighestWeight.jl
  experimental/BasisLieHighestWeight/src/MainAlgorithm.jl
  experimental/BasisLieHighestWeight/test/MainAlgorithm-test.jl
  experimental/LieAlgebras/docs/doc.main
  experimental/LieAlgebras/docs/src/root_systems.md
  experimental/LieAlgebras/docs/src/weight_lattices.md
  experimental/LieAlgebras/docs/src/weyl_groups.md
  experimental/LieAlgebras/src/LieAlgebraModule.jl
  experimental/LieAlgebras/src/LieAlgebras.jl
  experimental/LieAlgebras/src/RootSystem.jl
  experimental/LieAlgebras/src/Types.jl
  experimental/LieAlgebras/src/WeightLattice.jl
  experimental/LieAlgebras/src/WeylGroup.jl
  experimental/LieAlgebras/src/exports.jl
  experimental/LieAlgebras/test/LieAlgebraModule-test.jl
  experimental/LieAlgebras/test/RootSystem-test.jl
  experimental/LieAlgebras/test/WeightLattice-test.jl
  experimental/LieAlgebras/test/WeylGroup-test.jl
Labels: topic: LieAlgebras, experimental

#4352 Some more documentation for coherent sheaves
  docs/src/AlgebraicGeometry/Schemes/Sheaves.md
  src/AlgebraicGeometry/Schemes/Sheaves/CoherentSheaves.jl
  src/AlgebraicGeometry/Schemes/Sheaves/Types.jl
Labels: documentation, topic: schemes

#4202 Add `letters` function for PcGroupElem
  src/GAP/wrappers.jl
  src/Groups/pcgroup.jl
  test/Groups/pcgroup.jl
Labels: topic: groups

#4359 Add `cycle_length` for `PermGroupElem`
  src/GAP/wrappers.jl
  src/Groups/perm.jl
  src/exports.jl
Labels: topic: groups

#4345 Durham preliminary cleanup
  experimental/Schemes/src/Auxiliary.jl
  src/AlgebraicGeometry/Schemes/Divisors/AlgebraicCycles.jl
  src/AlgebraicGeometry/Schemes/Divisors/CartierDivisor.jl
  src/AlgebraicGeometry/Schemes/Divisors/WeilDivisor.jl
  src/AlgebraicGeometry/Schemes/FunctionField/FunctionFields.jl
  src/AlgebraicGeometry/Schemes/Sheaves/IdealSheaves.jl
  test/AlgebraicGeometry/Schemes/self_intersection.jl
Labels: topic: algebraic geometry

#4357 better `isomorphism` methods to `FinGenAbGroup`s
  src/GAP/wrappers.jl
  src/Groups/GAPGroups.jl
  src/Groups/homomorphisms.jl
Labels: topic: groups

#4364 Remove duplicate GAP wrapper
  src/GAP/wrappers.jl
Labels: topic: groups

#4362 Remove Base.getproperty methods for MatrixGroup(Elem) and SesquilinearForm
  src/Groups/group_characters.jl
  src/Groups/matrices/MatGrp.jl
  src/Groups/matrices/form_group.jl
  src/Groups/matrices/forms.jl
  src/Groups/matrices/transform_form.jl
Labels: topic: groups

#4365 Sort GAP.@wrap invocations
  src/GAP/wrappers.jl
Labels: package: GAP
