Repository oscar-system/Oscar.jl, pull requests merged in 2024-04, with the labels that each got.

#3550 Update `experimental/MatrixGroups` to experimental structure
  experimental/Experimental.jl
  experimental/MatrixGroups/MatrixGroups.jl
  experimental/MatrixGroups/src/MatrixGroups.jl
  experimental/MatrixGroups/src/matrix.g
Labels: experimental

#3552 TropicalGeometry: fixed typo in documentation
  src/TropicalGeometry/variety.jl
Labels: documentation, backport 1.0.x

#3549 Update `experimental/ExteriorAlgebra` to experimental structure
  experimental/Experimental.jl
  experimental/ExteriorAlgebra/src/ExteriorAlgebra.jl
Labels: experimental

#3540 Upgrade serialization of `ZZLatWithIsom`
  experimental/QuadFormAndIsom/src/serialization.jl
  src/Serialization/Upgrades/1.1.0.jl
  src/Serialization/Upgrades/main.jl
Labels: serialization

#3555 Update `experimental/ModStd` to experimental structure
  experimental/Experimental.jl
  experimental/ModStd/src/ModStd.jl
  experimental/ModStd/src/ModStdNF.jl
  experimental/ModStd/src/ModStdQ.jl
  experimental/ModStd/src/ModStdQt.jl
Labels: experimental

#3559 Remove julia 1.9 from CI matrix
  .github/workflows/CI.yml
Labels: CI

#3472 add `map_word` for `PcGroupElem`
  docs/src/Groups/fpgroup.md
  docs/src/Groups/pcgroup.md
  src/Groups/GAPGroups.jl
  test/Groups/homomorphisms.jl
Labels: topic: groups

#3558 Add check to NoExperimental whitelist to being current
  experimental/Experimental.jl
Labels: CI

#3565 Fix precompilation issue
  Project.toml
  src/Rings/mpoly-affine-algebras.jl
Labels: backport 1.0.x

#3572 improve `isomorphism(FPGroup, abelian_group(...))`
  src/Groups/homomorphisms.jl
Labels: topic: groups

#3305 Add paragraph about `number_of_` to the styleguide.
  docs/src/DeveloperDocumentation/styleguide.md
Labels: documentation, backport 1.0.x

#3439 Experimental: Partitioned Permutations
  docs/oscar_references.bib
  experimental/Experimental.jl
  experimental/PartitionedPermutations/README.md
  experimental/PartitionedPermutations/src/EnumeratePartitionedPermutations.jl
  experimental/PartitionedPermutations/src/PartitionedPermutation.jl
  experimental/PartitionedPermutations/src/PartitionedPermutationProducts.jl
  experimental/PartitionedPermutations/src/PartitionedPermutations.jl
  experimental/PartitionedPermutations/test/PartitionedPermu-test.jl
  experimental/SetPartitions/src/SetPartition.jl
  experimental/SetPartitions/src/SetPartitions.jl
  experimental/SetPartitions/test/Partition-test.jl
Labels: experimental

#3579 README.md: fix OSCAR book title
  CITATION.cff
  README.md
Labels: backport 1.0.x

#3585 Temp fix: Show FTheoryTools docs again
  docs/make_work.jl
Labels: documentation, experimental

#3541 Hide Oscar.jl banner, when used in other module
  Project.toml
  src/Oscar.jl
Labels: backport 1.0.x

#3591 PolyhedralGeometry: Format most of the files
  .git-blame-ignore-revs
  .github/workflows/JuliaFormatterCI.yml
  etc/test_formatting.jl
  src/PolyhedralGeometry/Cone/constructors.jl
  src/PolyhedralGeometry/Cone/properties.jl
  src/PolyhedralGeometry/Cone/standard_constructions.jl
  src/PolyhedralGeometry/LP_file_format.jl
  src/PolyhedralGeometry/PolyhedralComplex/constructors.jl
  src/PolyhedralGeometry/PolyhedralComplex/properties.jl
  src/PolyhedralGeometry/PolyhedralComplex/standard_constructions.jl
  src/PolyhedralGeometry/PolyhedralFan/constructors.jl
  src/PolyhedralGeometry/PolyhedralFan/properties.jl
  src/PolyhedralGeometry/PolyhedralFan/standard_constructions.jl
  src/PolyhedralGeometry/PolyhedralGeometry.jl
  src/PolyhedralGeometry/Polyhedron/constructors.jl
  src/PolyhedralGeometry/SubdivisionOfPoints/constructors.jl
  src/PolyhedralGeometry/SubdivisionOfPoints/functions.jl
  src/PolyhedralGeometry/SubdivisionOfPoints/properties.jl
  src/PolyhedralGeometry/groups.jl
  src/PolyhedralGeometry/helpers.jl
  src/PolyhedralGeometry/iterators.jl
  src/PolyhedralGeometry/linear_program.jl
  src/PolyhedralGeometry/mixed_integer_linear_program.jl
  src/PolyhedralGeometry/solving_integrally.jl
  src/PolyhedralGeometry/triangulations.jl
  src/PolyhedralGeometry/type_functions.jl
  src/PolyhedralGeometry/visualization.jl
Labels: dont squash!

#3590 [ToricSchemes] Fixes to blow up of toric variety from new ray
  experimental/Schemes/ToricBlowups/attributes.jl
  experimental/Schemes/ToricBlowups/constructors.jl
  experimental/Schemes/ToricBlowups/methods.jl
  experimental/Schemes/ToricBlowups/types.jl
Labels: bug, topic: toric schemes

#3586 fix a problem with `isomorphism` for trivial groups
  experimental/GModule/Cohomology.jl
  experimental/GModule/test/runtests.jl
  src/Groups/homomorphisms.jl
  test/Groups/homomorphisms.jl
Labels: topic: groups

#3584 `experimental/GModule`: collect AA/Nemo/Hecke stuff in `Misc.jl`
  experimental/GModule/Brueckner.jl
  experimental/GModule/Cohomology.jl
  experimental/GModule/GModule.jl
  experimental/GModule/GaloisCohomology.jl
  experimental/GModule/Misc.jl
Labels: topic: groups, experimental

#3595 Add covered_scheme for AbsAffineScheme
  src/AlgebraicGeometry/Schemes/AffineSchemes/Objects/Methods.jl
  src/AlgebraicGeometry/Schemes/CoveredSchemes/Objects/Constructors.jl
Labels: topic: schemes

#3597 Fix links to people in Kaiserslautern
  docs/src/AlgebraicGeometry/Curves/ProjectivePlaneCurves.md
  docs/src/AlgebraicGeometry/Miscellaneous/miscellaneous.md
  docs/src/AlgebraicGeometry/Schemes/intro.md
  docs/src/AlgebraicGeometry/Surfaces/K3Surfaces.md
  docs/src/AlgebraicGeometry/Surfaces/SurfacesP4.md
  docs/src/AlgebraicGeometry/ToricVarieties/ToricSchemes.md
  docs/src/CommutativeAlgebra/intro.md
  docs/src/Fields/intro.md
  docs/src/Groups/intro.md
  docs/src/InvariantTheory/intro.md
  docs/src/LinearAlgebra/intro.md
  docs/src/NoncommutativeAlgebra/intro.md
  docs/src/NumberTheory/intro.md
  docs/src/Rings/intro.md
Labels: backport 1.0.x

#3600 README.md: update citation info once more
  CITATION.cff
  README.md
Labels: backport 1.0.x

#3589 internal consistency of `GModule` objects
  experimental/GModule/Brueckner.jl
  experimental/GModule/Cohomology.jl
  experimental/GModule/test/runtests.jl
Labels: topic: groups

#3602 fix: better performance for labelled matrix display
  src/Groups/MatrixDisplay.jl
Labels: topic: groups

#3598 Format some parts of experimental
  .git-blame-ignore-revs
  etc/test_formatting.jl
  experimental/BasisLieHighestWeight/src/MainAlgorithm.jl
  experimental/ExperimentalTemplate/src/ExperimentalTemplate.jl
  experimental/ExteriorAlgebra/src/ExteriorAlgebra.jl
  experimental/ExteriorAlgebra/test/runtests.jl
  experimental/LieAlgebras/src/LieAlgebra.jl
  experimental/LieAlgebras/src/LieAlgebraHom.jl
  experimental/LieAlgebras/src/LieSubalgebra.jl
  experimental/LieAlgebras/src/LinearLieAlgebra.jl
  experimental/LieAlgebras/src/RootSystem.jl
  experimental/LieAlgebras/src/Util.jl
  experimental/LieAlgebras/test/AbstractLieAlgebra-test.jl
  experimental/LieAlgebras/test/LieAlgebraModule-test.jl
Labels: dont squash!

#3603 `GModule`: replace `_hom`
  experimental/GModule/GModule.jl
  experimental/GModule/test/runtests.jl
Labels: topic: groups, experimental

#3612 booktests: clear verbosity levels before running each chapter
  test/book/test.jl
Labels: backport 1.0.x

#3596 Use a new OSCAR email address on our domain
  Project.toml
Labels: backport 1.0.x

#3615 Finish Bruhat order for Weyl groups and add tests
  experimental/LieAlgebras/src/RootSystem.jl
  experimental/LieAlgebras/src/WeylGroup.jl
  experimental/LieAlgebras/test/WeylGroup-test.jl
Labels: topic: LieAlgebras, experimental

#3611 Improve conversion between OSCAR and GAP prime fields
  src/GAP/iso_oscar_gap.jl
Labels: package: GAP

#3623 Cleanup of the work on Oguiso's automorphism
  experimental/Schemes/MorphismFromRationalFunctions.jl
  experimental/Schemes/elliptic_surface.jl
Labels: topic: schemes, experimental

#3569 Visualization in Polyhedral Geometry: Allow options and multiple objects
  docs/src/PolyhedralGeometry/intro.md
  src/Oscar.jl
  src/PolyhedralGeometry/PolyhedralGeometry.jl
  src/PolyhedralGeometry/visualization.jl
Labels: topic: polyhedral geometry, package: Polymake

#3628 booktest: fix projects when called from test_module
  test/book/test.jl
Labels: testsuite, backport 1.0.x

#3568 [FtheoryTools] Added F-theory models on all toric hypersurfaces
  experimental/FTheoryTools/src/LiteratureModels/Models/WeierstrassFormsCurrentlyNotDistinguishedFromHypersurfaceCounterpart/model1408_4808-1-WSF.json
  experimental/FTheoryTools/src/LiteratureModels/Models/WeierstrassFormsCurrentlyNotDistinguishedFromHypersurfaceCounterpart/model1408_4808-10-WSF.json
  experimental/FTheoryTools/src/LiteratureModels/Models/WeierstrassFormsCurrentlyNotDistinguishedFromHypersurfaceCounterpart/model1408_4808-11-WSF.json
  experimental/FTheoryTools/src/LiteratureModels/Models/WeierstrassFormsCurrentlyNotDistinguishedFromHypersurfaceCounterpart/model1408_4808-12-WSF.json
  experimental/FTheoryTools/src/LiteratureModels/Models/WeierstrassFormsCurrentlyNotDistinguishedFromHypersurfaceCounterpart/model1408_4808-13-WSF.json
  experimental/FTheoryTools/src/LiteratureModels/Models/WeierstrassFormsCurrentlyNotDistinguishedFromHypersurfaceCounterpart/model1408_4808-14-WSF.json
  experimental/FTheoryTools/src/LiteratureModels/Models/WeierstrassFormsCurrentlyNotDistinguishedFromHypersurfaceCounterpart/model1408_4808-15-WSF.json
  experimental/FTheoryTools/src/LiteratureModels/Models/WeierstrassFormsCurrentlyNotDistinguishedFromHypersurfaceCounterpart/model1408_4808-16-WSF.json
  experimental/FTheoryTools/src/LiteratureModels/Models/WeierstrassFormsCurrentlyNotDistinguishedFromHypersurfaceCounterpart/model1408_4808-2-WSF.json
  experimental/FTheoryTools/src/LiteratureModels/Models/WeierstrassFormsCurrentlyNotDistinguishedFromHypersurfaceCounterpart/model1408_4808-3-WSF.json
  experimental/FTheoryTools/src/LiteratureModels/Models/WeierstrassFormsCurrentlyNotDistinguishedFromHypersurfaceCounterpart/model1408_4808-4-WSF.json
  experimental/FTheoryTools/src/LiteratureModels/Models/WeierstrassFormsCurrentlyNotDistinguishedFromHypersurfaceCounterpart/model1408_4808-4.json
  experimental/FTheoryTools/src/LiteratureModels/Models/WeierstrassFormsCurrentlyNotDistinguishedFromHypersurfaceCounterpart/model1408_4808-5-WSF.json
  experimental/FTheoryTools/src/LiteratureModels/Models/WeierstrassFormsCurrentlyNotDistinguishedFromHypersurfaceCounterpart/model1408_4808-6-WSF.json
  experimental/FTheoryTools/src/LiteratureModels/Models/WeierstrassFormsCurrentlyNotDistinguishedFromHypersurfaceCounterpart/model1408_4808-7-WSF.json
  experimental/FTheoryTools/src/LiteratureModels/Models/WeierstrassFormsCurrentlyNotDistinguishedFromHypersurfaceCounterpart/model1408_4808-8-WSF.json
  experimental/FTheoryTools/src/LiteratureModels/Models/WeierstrassFormsCurrentlyNotDistinguishedFromHypersurfaceCounterpart/model1408_4808-9-WSF.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-1.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-10.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-11.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-12.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-13.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-14.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-15.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-16.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-2.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-3.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-5.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-6.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-7.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-8.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-9.json
  experimental/FTheoryTools/src/LiteratureModels/index.json
  experimental/FTheoryTools/src/LiteratureModels/model_reference.json
  experimental/FTheoryTools/test/literature_models.jl
Labels: topic: FTheoryTools, experimental

#3643 Use `matrix(::MatrixGroupElem)` in more places ; remove `getproperty(::MatrixGroupElem, sym)` code for `sym == :elm`
  experimental/GITFans/src/GITFans.jl
  experimental/GModule/Cohomology.jl
  experimental/LinearQuotients/src/cox_rings.jl
  experimental/LinearQuotients/src/linear_quotients.jl
  experimental/LinearQuotients/src/misc.jl
  experimental/MatrixGroups/src/MatrixGroups.jl
  src/Groups/matrices/MatGrp.jl
  src/Groups/matrices/form_group.jl
  src/Groups/matrices/forms.jl
  src/Groups/matrices/iso_nf_fq.jl
  src/Groups/matrices/linear_centralizer.jl
  src/Groups/matrices/linear_isconjugate.jl
  src/InvariantTheory/invariant_rings.jl
  test/GAP/iso_oscar_gap.jl
  test/Groups/conjugation.jl
  test/Groups/forms.jl
Labels: topic: groups

#3642 [FTheoryTools] More models from "F-theory on all toric hypersurfaces"
  experimental/FTheoryTools/src/LiteratureModels/Models/WeierstrassFormsCurrentlyNotDistinguishedFromHypersurfaceCounterpart/model1408_4808-7-WSF.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-1-WSF.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-1.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-10-WSF.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-10.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-11-WSF.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-11.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-12-WSF.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-12.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-13-WSF.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-13.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-14-WSF.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-14.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-15-WSF.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-15.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-16-WSF.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-16.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-2-WSF.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-3-WSF.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-3.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-4-WSF.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-4.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-5-WSF.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-5.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-6-WSF.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-6.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-7-WSF.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-7.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-8-WSF.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-8.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-9-WSF.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-9.json
  experimental/FTheoryTools/src/LiteratureModels/constructors.jl
  experimental/FTheoryTools/src/LiteratureModels/create_index.jl
  experimental/FTheoryTools/src/LiteratureModels/index.json
  experimental/FTheoryTools/test/literature_models.jl
Labels: enhancement, topic: FTheoryTools

#3644 avoid GAP errors when computing `G.X` for classical matrix groups
  gap/OscarInterface/gap/OscarInterface.gi
  src/Groups/matrices/MatGrp.jl
  test/Groups/matrixgroups.jl
Labels: topic: groups, package: GAP

#3646 Avoid one soon-to-be deprecation in Hecke
  Project.toml
  src/Rings/AbelianClosure.jl
Labels: package: Hecke

#3651 Moebius transformations
  experimental/Schemes/MorphismFromRationalFunctions.jl
  experimental/Schemes/elliptic_surface.jl
  test/AlgebraicGeometry/Schemes/elliptic_surface.jl
Labels: topic: schemes, experimental

#3649 call GAP's `ImagesRepresentative` instead of `Image`
  src/GAP/wrappers.jl
  src/Groups/homomorphisms.jl
Labels: topic: groups, package: GAP

#3655 Update GH actions
  .github/workflows/BibtoolCI.yml
  .github/workflows/CI.yml
  .github/workflows/CleanupDocPreview.yml
  .github/workflows/Docu.yml
  .github/workflows/Invalidations.yml
  .github/workflows/NoExperimental.yml
Labels: CI

#3657 Use more `fat_scheme` for `AbsProjectiveAlgebraicSet`
  src/AlgebraicGeometry/Schemes/AffineAlgebraicSet/Objects/Types.jl
  src/AlgebraicGeometry/Schemes/CoveredSchemes/Morphisms/Constructors.jl
  src/AlgebraicGeometry/Schemes/ProjectiveAlgebraicSet/Objects/Attributes.jl
  src/AlgebraicGeometry/Schemes/ProjectiveAlgebraicSet/Objects/Constructors.jl
  src/AlgebraicGeometry/Schemes/ProjectiveAlgebraicSet/Objects/Types.jl
  src/AlgebraicGeometry/Schemes/ProjectiveVariety/Objects/Constructors.jl
Labels: topic: algebraic geometry
