Repository oscar-system/Oscar.jl, pull requests merged in 2024-05, with the labels that each got.

#3664 add `linear_characters`, extend syntax of `induce`, `restrict`
  docs/src/Groups/group_characters.md
  src/GAP/wrappers.jl
  src/Groups/group_characters.jl
  src/exports.jl
  test/Groups/group_characters.jl
Labels: enhancement, topic: groups

#3654 tests and cleanup for elliptic surfaces
  experimental/Schemes/elliptic_surface.jl
  test/AlgebraicGeometry/Schemes/elliptic_surface.jl
Labels: topic: schemes, experimental

#3671 Replace many uses of `G.X` by `GapObj(X)`
  examples/H2.jl
  experimental/GModule/Brueckner.jl
  experimental/GModule/Cohomology.jl
  experimental/GModule/GModule.jl
  experimental/GaloisGrp/src/Solve.jl
  experimental/OrthogonalDiscriminants/src/direct.jl
  src/Groups/GAPGroups.jl
  src/Groups/cosets.jl
  src/Groups/directproducts.jl
  src/Groups/group_characters.jl
  src/Groups/group_constructors.jl
  src/Groups/gsets.jl
  src/Groups/libraries/atlasgroups.jl
  src/Groups/libraries/perfectgroups.jl
  src/Groups/libraries/primitivegroups.jl
  src/Groups/libraries/smallgroups.jl
  src/Groups/libraries/transitivegroups.jl
  src/Groups/matrices/FiniteFormOrthogonalGroup.jl
  src/Groups/matrices/MatGrp.jl
  src/Groups/matrices/form_group.jl
  src/Groups/matrices/forms.jl
  src/Groups/matrices/iso_nf_fq.jl
  src/Groups/matrices/linear_centralizer.jl
  src/Groups/pcgroup.jl
  src/Groups/perm.jl
  src/Groups/sub.jl
  src/Groups/types.jl
  src/InvariantTheory/invariant_rings.jl
  src/NumberTheory/GaloisGrp/GaloisGrp.jl
  src/NumberTheory/GaloisGrp/Group.jl
  src/exports.jl
  test/GAP/gap_to_oscar.jl
  test/Groups/elements.jl
  test/Groups/forms.jl
  test/Groups/matrixgroups.jl
  test/Groups/operations.jl
  test/Groups/pcgroup.jl
  test/InvariantTheory/invariant_rings.jl
  test/Serialization/GAP.jl
Labels: topic: groups, package: GAP

#3667 Bump dependencies
  Project.toml
  docs/src/CommutativeAlgebra/rings.md
  docs/src/NumberTheory/galois.md
  experimental/GModule/Cohomology.jl
  experimental/GModule/GModule.jl
  experimental/GModule/Misc.jl
  experimental/LieAlgebras/src/LieAlgebras.jl
  experimental/LinearQuotients/src/cox_rings.jl
  experimental/LinearQuotients/src/linear_quotients.jl
  experimental/ModStd/src/ModStdQt.jl
  experimental/Schemes/CoveredProjectiveSchemes.jl
  experimental/Schemes/duValSing.jl
  src/Combinatorics/SimplicialComplexes.jl
  src/Groups/matrices/MatGrp.jl
  src/Modules/ModuleTypes.jl
  src/Modules/ModulesGraded.jl
  src/Modules/UngradedModules/FreeMod.jl
  src/Modules/UngradedModules/FreeModElem.jl
  src/Modules/UngradedModules/FreeModuleHom.jl
  src/Modules/UngradedModules/FreeResolutions.jl
  src/Modules/UngradedModules/ModuleGens.jl
  src/Modules/UngradedModules/Presentation.jl
  src/Modules/UngradedModules/SubModuleOfFreeModule.jl
  src/Modules/UngradedModules/SubQuoHom.jl
  src/Modules/UngradedModules/SubquoModule.jl
  src/Modules/UngradedModules/SubquoModuleElem.jl
  src/PolyhedralGeometry/helpers.jl
  src/Rings/AbelianClosure.jl
  src/Rings/AlgClosureFp.jl
  src/Rings/FractionalIdeal.jl
  src/Rings/FreeAssAlgIdeal.jl
  src/Rings/Laurent.jl
  src/Rings/MPolyMap/MPolyRing.jl
  src/Rings/MPolyQuo.jl
  src/Rings/PBWAlgebra.jl
  src/Rings/PBWAlgebraQuo.jl
  src/Rings/lazypolys.jl
  src/Rings/mpoly-graded.jl
  src/Rings/mpoly-ideals.jl
  src/Rings/mpoly-local.jl
  src/Rings/mpoly-localizations.jl
  src/Rings/mpolyquo-localizations.jl
  src/Rings/orderings.jl
  src/Rings/slpolys.jl
  src/aliases.jl
  test/Rings/integer-localizations.jl
  test/Rings/nmod-localizations.jl
  test/book/cornerstones/groups/explSL25.jlcon
  test/book/cornerstones/groups/intro.jlcon
  test/book/cornerstones/groups/reps.jlcon
  test/book/specialized/joswig-kastner-lorenz-confirmable-workflows/polynomial-load.jlcon
  test/book/specialized/markwig-ristau-schleis-faithful-tropicalization/draw_hypersurface.jlcon
  test/book/specialized/markwig-ristau-schleis-faithful-tropicalization/eliminate_xz.jlcon
Labels: package: Hecke, package: Nemo, package: AbstractAlgebra, package: Singular

#3686 Some fix for hypercomplexes
  experimental/DoubleAndHyperComplexes/src/Morphisms/Types.jl
  experimental/DoubleAndHyperComplexes/src/Morphisms/free_resolutions.jl
  experimental/DoubleAndHyperComplexes/src/Morphisms/simplified_complexes.jl
  experimental/DoubleAndHyperComplexes/test/ext.jl
Labels: experimental

#3693 Reparametrized literature models
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-1.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-10-WSF.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-10.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-11-WSF.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-11.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-13-WSF.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-13.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-6-WSF.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-6.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-8-WSF.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-8.json
  experimental/FTheoryTools/test/literature_models.jl
Labels: enhancement, topic: FTheoryTools

#3698 Disable a test in elliptic surfaces
  test/AlgebraicGeometry/Schemes/elliptic_surface.jl
Labels: topic: algebraic geometry

#3672 Some bugfixes and improvements
  experimental/Schemes/IdealSheaves.jl
  experimental/Schemes/MorphismFromRationalFunctions.jl
  experimental/Schemes/SimplifiedAffineScheme.jl
  experimental/Schemes/Types.jl
  experimental/Schemes/critical_locus.jl
  experimental/Schemes/elliptic_surface.jl
  src/AlgebraicGeometry/Schemes/AffineSchemes/Objects/Attributes.jl
  src/AlgebraicGeometry/Schemes/CoveredSchemes/Objects/Attributes.jl
  src/Rings/MPolyMap/MPolyQuo.jl
  src/Rings/mpoly-ideals.jl
  src/Rings/mpolyquo-localizations.jl
  test/AlgebraicGeometry/Schemes/elliptic_surface.jl
  test/Rings/mpoly-localizations.jl
  test/book/specialized/decker-schmitt-invariant-theory/H3.jlcon
Labels: topic: rings, topic: schemes

#3709 Attach warning to docs of functions in experimental
  Project.toml
  experimental/Experimental.jl
Labels: documentation

#3723 Upgrade Schemes to new experimental structure
  docs/make_work.jl
  experimental/Experimental.jl
  experimental/FTheoryTools/FTheoryTools.jl
  experimental/Schemes/src/AlgebraicCycles.jl
  experimental/Schemes/src/Auxiliary.jl
  experimental/Schemes/src/CartierDivisor.jl
  experimental/Schemes/src/CoherentSheaves.jl
  experimental/Schemes/src/CoveredProjectiveSchemes.jl
  experimental/Schemes/src/CoveredScheme.jl
  experimental/Schemes/src/DerivedPushforward.jl
  experimental/Schemes/src/FunctionFields.jl
  experimental/Schemes/src/IdealSheaves.jl
  experimental/Schemes/src/LazyGluing.jl
  experimental/Schemes/src/MorphismFromRationalFunctions.jl
  experimental/Schemes/src/NormalToricVarieties/attributes.jl
  experimental/Schemes/src/ProjectiveModules.jl
  experimental/Schemes/src/Schemes.jl
  experimental/Schemes/src/Sheaves.jl
  experimental/Schemes/src/SimplifiedAffineScheme.jl
  experimental/Schemes/src/SpaceGerms.jl
  experimental/Schemes/src/StructureSheaf.jl
  experimental/Schemes/src/Tjurina.jl
  experimental/Schemes/src/ToricBlowups/attributes.jl
  experimental/Schemes/src/ToricBlowups/constructors.jl
  experimental/Schemes/src/ToricBlowups/methods.jl
  experimental/Schemes/src/ToricBlowups/types.jl
  experimental/Schemes/src/ToricDivisors/attributes.jl
  experimental/Schemes/src/ToricDivisors/constructors.jl
  experimental/Schemes/src/ToricIdealSheaves/attributes.jl
  experimental/Schemes/src/ToricIdealSheaves/auxiliary.jl
  experimental/Schemes/src/ToricIdealSheaves/constructors.jl
  experimental/Schemes/src/ToricIdealSheaves/methods.jl
  experimental/Schemes/src/Types.jl
  experimental/Schemes/src/WeilDivisor.jl
  experimental/Schemes/src/critical_locus.jl
  experimental/Schemes/src/duValSing.jl
  experimental/Schemes/src/elliptic_surface.jl
  experimental/Schemes/test/runtests.jl
Labels: topic: schemes, experimental

#3725 TropicalGeometry: fixed det over tropical polynomials
  src/TropicalGeometry/matrix.jl
  test/TropicalGeometry/matrix.jl
Labels: topic: tropical geometry

#3618 Streamline docs for `vertices`/`rays` and `minimal_faces`/`rays_modulo_lineality`
  docs/src/PolyhedralGeometry/Polyhedra/auxiliary.md
  src/PolyhedralGeometry/Cone/properties.jl
  src/PolyhedralGeometry/PolyhedralComplex/properties.jl
  src/PolyhedralGeometry/PolyhedralFan/properties.jl
  src/PolyhedralGeometry/Polyhedron/properties.jl
Labels: topic: polyhedral geometry

#3681 Call `GapObj` instead of accessing `chi.values` (for group characters) or `f.map` (for group homomorphisms)
  experimental/GModule/GModule.jl
  experimental/OrthogonalDiscriminants/src/theoretical.jl
  experimental/OrthogonalDiscriminants/src/utils.jl
  experimental/SymmetricIntersections/src/representations.jl
  src/GAP/oscar_to_gap.jl
  src/Groups/group_characters.jl
  src/Groups/homomorphisms.jl
  src/Groups/libraries/atlasgroups.jl
  src/Groups/types.jl
  src/InvariantTheory/invariant_rings.jl
  src/Serialization/GAP.jl
  test/Groups/group_characters.jl
Labels: topic: groups, package: GAP

#3639 Zariski/Lipman approach to resolution of singularities for 2-dim. schemes
  experimental/Schemes/BlowupMorphism.jl
  experimental/Schemes/Resolution_structure.jl
  src/AlgebraicGeometry/Schemes/CoveredSchemes/Objects/Methods.jl
  test/AlgebraicGeometry/Schemes/Resolution_structure.jl
Labels: topic: schemes

#3166 introduce `SubPcGroup`
  docs/src/Groups/grouphom.md
  docs/src/Groups/quotients.md
  docs/src/Groups/subgroups.md
  experimental/GModule/Brueckner.jl
  experimental/SymmetricIntersections/src/representations.jl
  gap/OscarInterface/gap/OscarInterface.gd
  gap/OscarInterface/gap/OscarInterface.gi
  src/GAP/wrappers.jl
  src/Groups/GAPGroups.jl
  src/Groups/abelian_aut.jl
  src/Groups/action.jl
  src/Groups/cosets.jl
  src/Groups/directproducts.jl
  src/Groups/group_characters.jl
  src/Groups/group_constructors.jl
  src/Groups/homomorphisms.jl
  src/Groups/libraries/atlasgroups.jl
  src/Groups/libraries/smallgroups.jl
  src/Groups/matrices/MatGrp.jl
  src/Groups/sub.jl
  src/Groups/types.jl
  src/Serialization/Groups.jl
  src/exports.jl
  test/Groups/constructors.jl
  test/Groups/homomorphisms.jl
  test/Groups/libraries.jl
  test/Groups/pcgroup.jl
  test/Groups/quotients.jl
  test/Groups/subgroups_and_cosets.jl
  test/book/cornerstones/groups/actions.jlcon
Labels: topic: groups

#3736 replace `GAP.GapObj` by `GapObj`
  experimental/GModule/Cohomology.jl
  experimental/LieAlgebras/src/LieAlgebra.jl
  experimental/LieAlgebras/src/iso_gap_oscar.jl
  experimental/LieAlgebras/src/iso_oscar_gap.jl
  experimental/MatrixGroups/src/MatrixGroups.jl
  experimental/SymmetricIntersections/src/representations.jl
  src/GAP/customize.jl
  src/GAP/gap_to_oscar.jl
  src/GAP/iso_gap_oscar.jl
  src/GAP/iso_oscar_gap.jl
  src/GAP/oscar_to_gap.jl
  src/Groups/action.jl
  src/Groups/group_constructors.jl
  src/Groups/homomorphisms.jl
  src/Groups/libraries/atlasgroups.jl
  src/Groups/matrices/MatGrp.jl
  src/Groups/matrices/iso_nf_fq.jl
  src/Groups/perm.jl
  src/Groups/types.jl
  src/Serialization/GAP.jl
  test/GAP/iso_gap_oscar.jl
  test/GAP/oscar_to_gap.jl
  test/Groups/homomorphisms.jl
  test/Serialization/GAP.jl
Labels: package: GAP

#3734 Fix documentation formatting in Normal Toric Varieties
  src/AlgebraicGeometry/ToricVarieties/NormalToricVarieties/standard_constructions.jl
Labels: documentation, topic: toric varieties, backport 1.0.x

#3733 Simplify some GAP related code
  src/Serialization/GAP.jl
  test/Groups/pcgroup.jl
Labels: package: GAP

#3683 Types for rational maps
  src/AlgebraicGeometry/Schemes/ProjectiveSchemes/Morphisms/Attributes.jl
  src/AlgebraicGeometry/Schemes/ProjectiveSchemes/Morphisms/Constructors.jl
  src/AlgebraicGeometry/Schemes/ProjectiveSchemes/Morphisms/Types.jl
  src/Rings/MPolyQuo.jl
  src/exports.jl
  test/AlgebraicGeometry/Schemes/ProjectiveSchemes.jl
Labels: topic: algebraic geometry

#3724 Documentation for Experimental: Partitioned Permutations
  experimental/PartitionedPermutations/README.md
  experimental/PartitionedPermutations/docs/doc.main
  experimental/PartitionedPermutations/docs/src/introduction.md
  experimental/PartitionedPermutations/src/PartitionedPermutation.jl
Labels: experimental

#3745 Enhance booktests
  test/book/specialized/aga-boehm-hoffmann-markwig-traore/auxiliary_code/main.jl
  test/book/specialized/holt-ren-tropical-geometry/auxiliary_code/main.jl
  test/book/specialized/rose-sturmfels-telen-tropical-implicitization/auxiliary_code/main.jl
  test/book/test.jl
Labels: testsuite, backport 1.0.x

#3721 adds support for QQBar Serialization
  src/Serialization/Fields.jl
  src/Serialization/PolyhedralGeometry.jl
  src/Serialization/containers.jl
  test/Serialization/Fields.jl
  test/Serialization/PolyhedralGeometry.jl
  test/Serialization/PolynomialsSeries.jl
Labels: serialization

#3744 Fix indentation of doc strings
  experimental/LieAlgebras/src/LieSubalgebra.jl
  experimental/LieAlgebras/src/RootSystem.jl
  experimental/QuadFormAndIsom/src/lattices_with_isometry.jl
  experimental/Schemes/src/Sheaves.jl
  experimental/Schemes/src/SpaceGerms.jl
  experimental/Schemes/src/elliptic_surface.jl
  src/AlgebraicGeometry/Curves/ProjectivePlaneCurve.jl
  src/AlgebraicGeometry/Schemes/AffineSchemes/Objects/Attributes.jl
  src/AlgebraicGeometry/Schemes/AffineSchemes/Objects/Properties.jl
  src/AlgebraicGeometry/Schemes/CoveredSchemes/Objects/Properties.jl
  src/AlgebraicGeometry/Schemes/ProjectiveSchemes/Morphisms/Attributes.jl
  src/AlgebraicGeometry/Schemes/ProjectiveVariety/Objects/Constructors.jl
  src/Combinatorics/PhylogeneticTrees.jl
  src/Combinatorics/SimplicialComplexes.jl
  src/InvariantTheory/invariant_rings.jl
  src/InvariantTheory/iterators.jl
  src/Modules/homological-algebra.jl
  src/PolyhedralGeometry/PolyhedralComplex/standard_constructions.jl
  src/PolyhedralGeometry/Polyhedron/standard_constructions.jl
  src/PolyhedralGeometry/helpers.jl
  src/Rings/groebner.jl
  src/Rings/mpoly-affine-algebras.jl
Labels: documentation, backport 1.0.x

#3750 Bump Hecke
  Project.toml
  test/book/cornerstones/number-theory/galoismod.jlcon
Labels: package: Hecke

#3729 Remove stuff from docs that should not be there in a 1.0 version
  docs/src/General/other.md
  docs/src/Groups/matgroup.md
Labels: documentation, backport 1.0.x

#3363 FTheoryTools: Add support for F-theory QSMs
  Artifacts.toml
  experimental/FTheoryTools/src/FTheoryTools.jl
  experimental/FTheoryTools/src/LiteratureModels/Models/model1903.00009.json
  experimental/FTheoryTools/src/LiteratureModels/constructors.jl
  experimental/FTheoryTools/src/LiteratureModels/index.json
  experimental/FTheoryTools/src/Serialization/hypersurface_models.jl
  experimental/FTheoryTools/src/Serialization/qsm_models.jl
  experimental/FTheoryTools/src/exports.jl
  src/Serialization/containers.jl
Labels: enhancement, WIP, topic: FTheoryTools, experimental

#3747 changed printing of `SubPcGroup`s
  src/Groups/GAPGroups.jl
  src/Groups/action.jl
  src/Groups/sub.jl
  test/book/cornerstones/groups/actions.jlcon
Labels: topic: groups

#3752 CI: disable cache for selfhosted runner
  .github/workflows/CI.yml
Labels: CI

#3767 list group types that can be serialized
  docs/src/General/serialization.md
Labels: documentation

#3660 Temporarily change the default ordering
  docs/src/CommutativeAlgebra/GroebnerBases/groebner_bases.md
  src/Rings/mpoly.jl
  src/exports.jl
  test/Rings/mpoly.jl
Labels: topic: rings, triage

#3774 Revising affine algebra part of docu
  docs/src/CommutativeAlgebra/affine_algebras.md
  src/Rings/MPolyMap/AffineAlgebras.jl
  src/Rings/MPolyMap/MPolyQuo.jl
  src/Rings/MPolyQuo.jl
  src/Rings/mpoly-affine-algebras.jl
Labels: documentation

#3758 README: use the correct badge (or make it static?)
  README.md
Labels: backport 1.0.x

#3776 add `schur_cover`
  docs/src/Groups/basics.md
  examples/H2.jl
  src/GAP/wrappers.jl
  src/Groups/sub.jl
  src/exports.jl
  test/Groups/subgroups_and_cosets.jl
Labels: enhancement, topic: groups

#3768 added to documentation about reverse type map
  docs/src/General/serialization.md
Labels: documentation, serialization, backport 1.0.x

#3781 Use special printing macros for Lie algebras
  experimental/LieAlgebras/src/AbstractLieAlgebra.jl
  experimental/LieAlgebras/src/LieAlgebraHom.jl
  experimental/LieAlgebras/src/LieAlgebraIdeal.jl
  experimental/LieAlgebras/src/LieAlgebraModule.jl
  experimental/LieAlgebras/src/LieAlgebraModuleHom.jl
  experimental/LieAlgebras/src/LieSubalgebra.jl
  experimental/LieAlgebras/src/LinearLieAlgebra.jl
  experimental/LieAlgebras/src/RootSystem.jl
  experimental/LieAlgebras/src/WeylGroup.jl
Labels: topic: LieAlgebras, experimental

#3389 Convert partition methods to return iterators
  docs/src/Combinatorics/EnumerativeCombinatorics/partitions.md
  src/Combinatorics/EnumerativeCombinatorics/compositions.jl
  src/Combinatorics/EnumerativeCombinatorics/partitions.jl
  src/Combinatorics/EnumerativeCombinatorics/types.jl
  src/Combinatorics/EnumerativeCombinatorics/weak_compositions.jl
  test/Combinatorics/EnumerativeCombinatorics/partitions.jl
Labels: topic: combinatorics

#3784 Remove superfluous whitespace in documentation
  docs/src/AlgebraicGeometry/FrameWorks/ArchitectureOfAffineSchemes.md
  docs/src/AlgebraicGeometry/Schemes/CoveredSchemeMorphisms.md
  docs/src/AlgebraicGeometry/Schemes/CoveredSchemes.md
  docs/src/AlgebraicGeometry/Schemes/CoveringsAndGluings.md
  docs/src/AlgebraicGeometry/Schemes/GeneralSchemes.md
  docs/src/AlgebraicGeometry/Schemes/MorphismsOfAffineSchemes.md
  docs/src/AlgebraicGeometry/Schemes/MorphismsOfProjectiveSchemes.md
  docs/src/AlgebraicGeometry/Schemes/ProjectiveSchemes.md
  docs/src/CommutativeAlgebra/FrameWorks/module_localizations.md
  docs/src/CommutativeAlgebra/GroebnerBases/groebner_bases.md
  docs/src/CommutativeAlgebra/ideals.md
  docs/src/CommutativeAlgebra/localizations.md
  docs/src/DeveloperDocumentation/styleguide.md
  docs/src/NoncommutativeAlgebra/PBWAlgebras/creation.md
  docs/src/NoncommutativeAlgebra/PBWAlgebras/quotients.md
  experimental/DoubleAndHyperComplexes/docs/src/user_interface.md
  experimental/ExperimentalTemplate/docs/doc.main
  experimental/StandardFiniteFields/docs/src/introduction.md
  src/Groups/directproducts.jl
Labels: documentation, backport 1.0.x

#3788 Use the 'official' partitions in intersection theory
  experimental/IntersectionTheory/src/IntersectionTheory.jl
  experimental/IntersectionTheory/src/Main.jl
  experimental/IntersectionTheory/src/Misc.jl
Labels: experimental

#3780 Implement `simplify` for `ComplexOfMorphisms`
  experimental/DoubleAndHyperComplexes/src/Morphisms/simplified_complexes.jl
  experimental/DoubleAndHyperComplexes/test/ext.jl
  src/AlgebraicGeometry/Surfaces/AdjunctionProcess/AdjunctionProcess.jl
Labels: experimental

#3739 Regular Solids
  data/ArchimedeanSolids/snub_cube.mrdi
  data/ArchimedeanSolids/snub_dodecahedron.mrdi
  data/CatalanSolids/pentagonal_hexecontahedron.mrdi
  data/CatalanSolids/pentagonal_icositetrahedron.mrdi
  docs/src/General/serialization.md
  docs/src/PolyhedralGeometry/Polyhedra/constructions.md
  src/PolyhedralGeometry/Polyhedron/standard_constructions.jl
  src/exports.jl
  test/PolyhedralGeometry/polyhedron.jl
Labels: topic: polyhedral geometry

#3801 Fix printing of `RootSystem` and `WeylGroup`
  experimental/LieAlgebras/src/RootSystem.jl
  experimental/LieAlgebras/src/WeylGroup.jl
Labels: embarrassing-bugfix, topic: LieAlgebras, experimental

#3802 improve `map_word`
  src/Groups/GAPGroups.jl
  test/Groups/homomorphisms.jl
Labels: topic: groups

#3754 introduce `SubFPGroup`
  docs/src/General/serialization.md
  docs/src/Groups/fpgroup.md
  docs/src/Groups/subgroups.md
  experimental/GModule/Cohomology.jl
  src/GAP/wrappers.jl
  src/Groups/GAPGroups.jl
  src/Groups/directproducts.jl
  src/Groups/group_constructors.jl
  src/Groups/homomorphisms.jl
  src/Groups/types.jl
  src/Serialization/Groups.jl
  src/deprecations.jl
  src/exports.jl
  test/Groups/homomorphisms.jl
  test/Groups/pcgroup.jl
  test/Groups/quotients.jl
  test/Serialization/Groups.jl
  test/book/cornerstones/groups/intro.jlcon
Labels: topic: groups

#3791 Some requests in polyhedral geometry
  docs/src/General/complex.md
  src/PolyhedralGeometry/PolyhedralComplex/constructors.jl
  src/PolyhedralGeometry/PolyhedralGeometry.jl
  src/PolyhedralGeometry/Polyhedron/constructors.jl
  src/PolyhedralGeometry/SubdivisionOfPoints/constructors.jl
  src/PolyhedralGeometry/helpers.jl
  test/PolyhedralGeometry/polyhedral_complex.jl
  test/PolyhedralGeometry/polyhedron.jl
Labels: topic: polyhedral geometry

#3626 Finish formatting of PolyhedralGeometry
  .JuliaFormatter.toml
  .git-blame-ignore-revs
  etc/test_formatting.jl
  experimental/LieAlgebras/test/LieAlgebraModule-test.jl
  experimental/LieAlgebras/test/iso_gap_oscar-test.jl
  src/InvariantTheory/affine_algebra.jl
  src/PolyhedralGeometry/Polyhedron/properties.jl
  src/PolyhedralGeometry/Polyhedron/standard_constructions.jl
  test/PolyhedralGeometry/cone.jl
  test/PolyhedralGeometry/extended.jl
  test/PolyhedralGeometry/group.jl
  test/PolyhedralGeometry/iterators.jl
  test/PolyhedralGeometry/lineality.jl
  test/PolyhedralGeometry/linear_program.jl
  test/PolyhedralGeometry/polyhedral_fan.jl
  test/PolyhedralGeometry/polyhedron.jl
  test/PolyhedralGeometry/scalar_types.jl
  test/PolyhedralGeometry/setup_tests.jl
  test/PolyhedralGeometry/solve_integrally.jl
  test/PolyhedralGeometry/subdivision_of_points.jl
  test/PolyhedralGeometry/timing.jl
  test/PolyhedralGeometry/triangulations.jl
  test/PolyhedralGeometry/types.jl
Labels: Decision, don't squash!

#3740 Fix citations to CLS11 in toric varieties
  experimental/Schemes/src/NormalToricVarieties/attributes.jl
  experimental/Schemes/src/ToricIdealSheaves/constructors.jl
Labels: triage

#3804 editorconfig: explicitly disable trim_trailing_whitespace
  .editorconfig
Labels: Decision, triage

#3762 `QuadFormAndIsom`: Serialization infinite order isometries and a minor fix
  experimental/QuadFormAndIsom/src/embeddings.jl
  experimental/QuadFormAndIsom/src/serialization.jl
  experimental/QuadFormAndIsom/test/runtests.jl
  src/Serialization/Upgrades/1.1.0.jl
  src/Serialization/basic_types.jl
Labels: serialization

#3737 Unify style for 'recursive' kwarg
  experimental/GModule/Cohomology.jl
  src/GAP/iso_gap_oscar.jl
  src/GAP/iso_oscar_gap.jl
  src/GAP/oscar_to_gap.jl
  src/Groups/GAPGroups.jl
  src/Groups/action.jl
  src/Groups/directproducts.jl
  src/Groups/group_characters.jl
  src/Groups/group_constructors.jl
  src/Groups/gsets.jl
  src/Groups/homomorphisms.jl
  src/Groups/libraries/atlasgroups.jl
  src/Groups/matrices/MatGrp.jl
  src/Groups/matrices/iso_nf_fq.jl
  src/Groups/pcgroup.jl
  src/Groups/sub.jl
  test/GAP/gap_to_oscar.jl
  test/GAP/oscar_to_gap.jl
  test/Groups/matrixgroups.jl
Labels: package: GAP, triage

#3795 Adjusting docu following PR #3700
  docs/oscar_references.bib
  docs/src/CommutativeAlgebra/homological_algebra.md
  docs/src/CommutativeAlgebra/intro.md
  src/Modules/UngradedModules/FreeResolutions.jl
  src/Modules/UngradedModules/Presentation.jl
Labels: documentation

#3803 bug fix for automorphism group of simplicial complex
  src/Combinatorics/SimplicialComplexes.jl
  test/Combinatorics/SimplicialComplexes.jl
Labels: topic: combinatorics, embarrassing-bugfix

#3766 No Reynolds Operator - Invariant theory of linearly reductive groups
  experimental/InvariantTheory/src/InvariantTheory.jl
  experimental/InvariantTheory/test/runtests.jl
Labels: experimental

#3726 [FTheoryTools] Allow tuning sections to zero
  experimental/FTheoryTools/src/HypersurfaceModels/methods.jl
  experimental/FTheoryTools/src/TateModels/methods.jl
  experimental/FTheoryTools/src/WeierstrassModels/methods.jl
Labels: bug, WIP, topic: FTheoryTools

#3813 forbid `quo(G::SubFPGroup, elms::Vector{T})`
  src/Groups/sub.jl
  test/Groups/homomorphisms.jl
  test/Groups/quotients.jl
Labels: topic: groups

#3814 add a paragraph about CTRL-C in Julia and GAP
  docs/src/General/other.md
Labels: documentation, package: GAP, backport 1.0.x
