Repository oscar-system/Oscar.jl, pull requests merged in 2024-07, with the labels that each got.

#3890 undo most of #3874
  src/Oscar.jl
  src/utils/install.jl
  src/utils/utils.jl
Labels: package: GAP

#3892 change the handling of the `init` argument in `map_word`
  docs/src/Groups/pcgroup.md
  src/Groups/GAPGroups.jl
  test/Groups/homomorphisms.jl
Labels: topic: groups

#3901 abstract blowups and more
  docs/oscar_references.bib
  experimental/IntersectionTheory/docs/doc.main
  experimental/IntersectionTheory/docs/src/AbstractBundles.md
  experimental/IntersectionTheory/docs/src/AbstractVarieties.md
  experimental/IntersectionTheory/docs/src/AbstractVarietyMorphisms.md
  experimental/IntersectionTheory/docs/src/BlowUps.md
  experimental/IntersectionTheory/docs/src/BottFormulas.md
  experimental/IntersectionTheory/docs/src/examples.md
  experimental/IntersectionTheory/src/IntersectionTheory.jl
  experimental/IntersectionTheory/src/Main.jl
  experimental/IntersectionTheory/src/blowup.jl
  experimental/IntersectionTheory/test/runtests.jl
Labels: experimental

#3831 Construct Lie algebras from root system
  docs/oscar_references.bib
  experimental/LieAlgebras/src/AbstractLieAlgebra.jl
  experimental/LieAlgebras/src/iso_oscar_gap.jl
  experimental/LieAlgebras/test/AbstractLieAlgebra-test.jl
  experimental/LieAlgebras/test/LieAlgebraModule-test.jl
Labels: topic: LieAlgebras, experimental

#3887 Iteratorify some tableaux
  src/Combinatorics/EnumerativeCombinatorics/tableaux.jl
  src/Combinatorics/EnumerativeCombinatorics/types.jl
  test/Combinatorics/EnumerativeCombinatorics/tableaux.jl
Labels: topic: combinatorics

#3908 FTheoryTools: Use direct sum of Lie algebras
  experimental/FTheoryTools/src/AbstractFTheoryModels/attributes.jl
  experimental/FTheoryTools/src/AbstractFTheoryModels/methods.jl
  experimental/FTheoryTools/test/literature_models.jl
Labels: enhancement, topic: FTheoryTools

#3906 Intersection theory: Further examples
  experimental/IntersectionTheory/docs/src/AbstractBundles.md
  experimental/IntersectionTheory/docs/src/AbstractVarieties.md
  experimental/IntersectionTheory/docs/src/examples.md
  experimental/IntersectionTheory/src/Main.jl
Labels: experimental

#3911 [FTheoryTools] Small QOL changes
  experimental/FTheoryTools/src/LiteratureModels/Models/model1903.00009.json
  experimental/FTheoryTools/src/LiteratureModels/constructors.jl
  experimental/FTheoryTools/src/LiteratureModels/create_index.jl
  experimental/FTheoryTools/src/LiteratureModels/index.json
  experimental/FTheoryTools/src/LiteratureModels/model_indices.json
Labels: enhancement, optimization, topic: FTheoryTools

#3913 Make LieAlgebraModule tests better gc-able
  experimental/LieAlgebras/test/LieAlgebraModule-test.jl
  test/runtests.jl
Labels: topic: LieAlgebras, experimental

#3917 Abstract bundles and more
  experimental/IntersectionTheory/docs/src/AbstractBundles.md
  experimental/IntersectionTheory/docs/src/AbstractVarieties.md
  experimental/IntersectionTheory/src/Main.jl
  experimental/IntersectionTheory/src/Types.jl
Labels: experimental

#3922 adjusting code in intersection theory
  experimental/IntersectionTheory/docs/src/AbstractVarieties.md
  experimental/IntersectionTheory/src/Main.jl
Labels: experimental

#3920 fixes regression for persistent uuids across multiple sessions
  src/Serialization/serializers.jl
Labels: serialization

#3919 Adv/fix fq field elem load
  src/Serialization/Fields.jl
  test/Serialization/PolynomialsSeries.jl
Labels: serialization

#3925 remove global variables and disable a check
  experimental/Schemes/src/elliptic_surface.jl
Labels: topic: schemes, experimental

#3930 [ToricVarieties] Limit coefficient values in generic sections
  src/AlgebraicGeometry/ToricVarieties/ToricLineBundles/attributes.jl
Labels: topic: toric varieties

#3931 [Serialization] Support ToricDivisorClass
  src/Serialization/ToricGeometry.jl
  test/Serialization/ToricGeometry.jl
Labels: topic: toric varieties, serialization

#3942 Intersection theory: start to document abstract variety maps and more
  experimental/IntersectionTheory/docs/doc.main
  experimental/IntersectionTheory/docs/src/AbstractVarieties.md
  experimental/IntersectionTheory/docs/src/AbstractVarietyMaps.md
  experimental/IntersectionTheory/docs/src/AbstractVarietyMorphisms.md
  experimental/IntersectionTheory/docs/src/examples.md
  experimental/IntersectionTheory/src/IntersectionTheory.jl
  experimental/IntersectionTheory/src/Main.jl
  experimental/IntersectionTheory/src/Types.jl
Labels: experimental

#3949 Added the `groebner_basis` method for FreeAssAlgIdeals to the docs.
  docs/src/NoncommutativeAlgebra/free_associative_algebra.md
Labels: documentation

#3952 Intersection theory: Correct code + corresponding example
  experimental/IntersectionTheory/src/Main.jl
Labels: experimental

#3941 [FTheoryTools]Small QOL changes 2
  experimental/FTheoryTools/docs/src/introduction.md
  experimental/FTheoryTools/docs/src/literature.md
  experimental/FTheoryTools/src/AbstractFTheoryModels/attributes.jl
  experimental/FTheoryTools/src/AbstractFTheoryModels/methods.jl
  experimental/FTheoryTools/src/AbstractFTheoryModels/properties.jl
  experimental/FTheoryTools/src/HypersurfaceModels/attributes.jl
  experimental/FTheoryTools/src/LiteratureModels/Models/model1208_2695-1.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1208_2695-2.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1212_2949-1.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1212_2949-2.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1212_2949-3.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1212_2949-4.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1212_2949-5.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1212_2949-6.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1212_2949-7.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-1-WSF.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-1.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-10-WSF.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-10.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-11-WSF.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-11.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-12-WSF.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-12.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-13-WSF.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-13.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-14-WSF.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-14.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-15-WSF.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-15.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-16-WSF.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-16.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-2-WSF.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-2.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-3-WSF.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-3.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-4-WSF.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-4.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-5-WSF.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-5.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-6-WSF.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-6.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-7-WSF.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-7.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-8-WSF.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-8.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-9-WSF.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-9.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1507_05954-1.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1507_05954-2.json
  experimental/FTheoryTools/src/LiteratureModels/constructors.jl
  experimental/FTheoryTools/src/LiteratureModels/model_reference.json
  experimental/FTheoryTools/src/exports.jl
  experimental/FTheoryTools/test/literature_models.jl
Labels: topic: FTheoryTools

#3953 Intersection theory: extend documentation
  experimental/IntersectionTheory/docs/src/AbstractVarieties.md
  experimental/IntersectionTheory/src/Main.jl
Labels: documentation, experimental

#3937 Make Lie algebra construction faster
  experimental/LieAlgebras/src/AbstractLieAlgebra.jl
  experimental/LieAlgebras/src/CartanMatrix.jl
  experimental/LieAlgebras/src/GapWrapper.jl
  experimental/LieAlgebras/src/LieAlgebraModule.jl
  experimental/LieAlgebras/src/LieAlgebras.jl
  experimental/LieAlgebras/src/RootSystem.jl
  experimental/LieAlgebras/src/iso_gap_oscar.jl
  experimental/LieAlgebras/test/AbstractLieAlgebra-test.jl
  experimental/LieAlgebras/test/LieAlgebraModule-test.jl
  experimental/LieAlgebras/test/RootSystem-test.jl
Labels: topic: LieAlgebras, experimental

#3872 Sets poly ring caching to false for modules
  src/Modules/hilbert.jl
  src/Rings/mpoly-graded.jl
  test/Modules/hilbert.jl
Labels: topic: algebraic geometry

#3959 Intersection theory: Schubert calculus
  experimental/IntersectionTheory/docs/doc.main
  experimental/IntersectionTheory/docs/src/examples.md
  experimental/IntersectionTheory/docs/src/schubert.md
  experimental/IntersectionTheory/src/IntersectionTheory.jl
  experimental/IntersectionTheory/src/Main.jl
  experimental/IntersectionTheory/src/schubert.jl
Labels: experimental

#3938 tests if a set of tropical vectors are tropically generic
  src/TropicalGeometry/matrix.jl
  src/exports.jl
  test/TropicalGeometry/matrix.jl
Labels: topic: tropical geometry

#3939 Fix vinberg booktests
  experimental/Schemes/src/elliptic_surface.jl
  test/book/ordered_examples.json
  test/book/specialized/brandhorst-zach-fibration-hopping/vinberg_2.jlcon
  test/book/specialized/brandhorst-zach-fibration-hopping/vinberg_3.jlcon
  test/book/specialized/kuehne-schroeter-matroids/realization_space.jlcon
  test/book/test.jl
Labels: triage, oscar book

#3946 [ToricVarieties] Overhaul equality of normal toric varieties
  docs/src/AlgebraicGeometry/ToricVarieties/NormalToricVarieties.md
  experimental/Schemes/src/IdealSheaves.jl
  src/AlgebraicGeometry/ToricVarieties/NormalToricVarieties/constructors.jl
  src/AlgebraicGeometry/ToricVarieties/Proj/constructors.jl
  src/AlgebraicGeometry/ToricVarieties/ToricMorphisms/constructors.jl
  test/AlgebraicGeometry/ToricVarieties/normal_toric_varieties.jl
  test/AlgebraicGeometry/ToricVarieties/toric_blowdowns.jl
  test/AlgebraicGeometry/ToricVarieties/toric_morphisms.jl
  test/Serialization/ToricGeometry.jl
Labels: topic: toric varieties

#3958 chore: bump dependencies
  Project.toml
  docs/src/Rings/rational.md
  experimental/IntersectionTheory/src/blowup.jl
  experimental/SymmetricIntersections/src/representations.jl
  src/Groups/matrices/linear_isconjugate.jl
  src/Groups/matrices/stuff_field_gen.jl
  src/Modules/UngradedModules/FreeMod.jl
  src/NumberTheory/GaloisGrp/GaloisGrp.jl
  src/NumberTheory/GaloisGrp/Qt.jl
  test/Groups/matrixgroups.jl
  test/Groups/subgroups_and_cosets.jl
  test/book/cornerstones/groups/auxiliary_code/main.jl
  test/book/cornerstones/number-theory/galoismod.jlcon
Labels: package: Hecke, package: Nemo, package: AbstractAlgebra

#3962 [ToricSchemes] Fix underlying_divisor for trivial toric divisor
  experimental/Schemes/src/ToricDivisors/attributes.jl
Labels: topic: toric schemes, experimental

#3968 Stop pretending OscarInterface has a manual
  gap/OscarInterface/PackageInfo.g
Labels: package: GAP

#3970 Intersection theory: hyperplane classes
  experimental/IntersectionTheory/docs/src/AbstractBundles.md
  experimental/IntersectionTheory/docs/src/AbstractVarieties.md
  experimental/IntersectionTheory/src/IntersectionTheory.jl
  experimental/IntersectionTheory/src/Main.jl
Labels: experimental

#3972 Nicer show for GAPGroupClassFunction
  src/Groups/group_characters.jl
  src/InvariantTheory/invariant_rings.jl
  src/InvariantTheory/iterators.jl
  src/InvariantTheory/secondary_invariants.jl
  test/book/cornerstones/groups/reps.jlcon
Labels: topic: groups, package: GAP

#3975 FTheoryTools: Add comment to explain similar terminology; doc fix
  experimental/FTheoryTools/src/LiteratureModels/constructors.jl
Labels: topic: FTheoryTools

#3973 Add tensor_product for two GAPGroupClassFunction
  docs/src/Groups/group_characters.md
  src/Groups/group_characters.jl
  test/Groups/group_characters.jl
Labels: topic: groups, package: GAP

#3977 CI: stop testing for invalidations
  .github/workflows/Invalidations.yml
Labels: CI

#3966 `QuadFormAndIsom`: Galois action on cyclotomic genera
  experimental/QuadFormAndIsom/src/enumeration.jl
  experimental/QuadFormAndIsom/test/runtests.jl
Labels: experimental

#3899 Add `smaller_degree_permutation_representation`, lazy double cosets
  docs/src/Groups/permgroup.md
  src/GAP/wrappers.jl
  src/Groups/cosets.jl
  src/Groups/perm.jl
  src/exports.jl
  test/Groups/Permutations.jl
  test/Groups/gsets.jl
  test/Groups/subgroups_and_cosets.jl
Labels: topic: groups

#3984 test and improvements for borcherds method
  src/AlgebraicGeometry/Surfaces/K3Auto.jl
  test/AlgebraicGeometry/Surfaces/K3Auto.jl
  test/book/specialized/brandhorst-zach-fibration-hopping/vinberg_1.jlcon
Labels: topic: algebraic geometry
