Repository oscar-system/Oscar.jl, pull requests merged in 2024-09, with the labels that each got.

#4049 add warning to load
  src/Serialization/main.jl
Labels: serialization

#4066 fix for default prime field extension serialization
  src/Serialization/Fields.jl
  test/Serialization/PolynomialsSeries.jl
Labels: serialization

#4069 add a finiteness check to `small_generating_set`
  src/Groups/GAPGroups.jl
  test/Groups/matrixgroups.jl
Labels: topic: groups

#4068 small fix for loading without attrs
  src/Serialization/main.jl
  src/Serialization/serializers.jl
Labels: serialization

#3821 experimental: Gröbner Walk
  docs/oscar_references.bib
  experimental/GroebnerWalk/README.md
  experimental/GroebnerWalk/benchmark/agk.jl
  experimental/GroebnerWalk/benchmark/benchmarks.jl
  experimental/GroebnerWalk/benchmark/cyclic.jl
  experimental/GroebnerWalk/benchmark/tran3.3.jl
  experimental/GroebnerWalk/docs/doc.main
  experimental/GroebnerWalk/docs/src/introduction.md
  experimental/GroebnerWalk/docs/src/special-ideals.md
  experimental/GroebnerWalk/examples/implicitization/agk4.jl
  experimental/GroebnerWalk/examples/implicitization/newellp1.jl
  experimental/GroebnerWalk/examples/implicitization/tran3.3.jl
  experimental/GroebnerWalk/examples/knapsack/fukuda_cuww1.jl
  experimental/GroebnerWalk/examples/knapsack/fukuda_prob6.jl
  experimental/GroebnerWalk/examples/knapsack/goodknap.jl
  experimental/GroebnerWalk/examples/knapsack/knap.jl
  experimental/GroebnerWalk/examples/knapsack/smallknap.jl
  experimental/GroebnerWalk/examples/ku10.jl
  experimental/GroebnerWalk/examples/randomQQ.jl
  experimental/GroebnerWalk/examples/toy_example.jl
  experimental/GroebnerWalk/examples/zero-dimensional/cyclic5.jl
  experimental/GroebnerWalk/examples/zero-dimensional/cyclic7.jl
  experimental/GroebnerWalk/examples/zero-dimensional/finitefield.jl
  experimental/GroebnerWalk/examples/zero-dimensional/katsura5.jl
  experimental/GroebnerWalk/results.csv
  experimental/GroebnerWalk/src/GroebnerWalk.jl
  experimental/GroebnerWalk/src/common.jl
  experimental/GroebnerWalk/src/generic_walk.jl
  experimental/GroebnerWalk/src/markedGB.jl
  experimental/GroebnerWalk/src/perturbed_walk.jl
  experimental/GroebnerWalk/src/special-ideals.jl
  experimental/GroebnerWalk/src/standard_walk.jl
  experimental/GroebnerWalk/test/generic_walk.jl
  experimental/GroebnerWalk/test/standard_walk.jl
  src/Rings/orderings.jl
Labels: experimental

#4065 LieAlgebras: Serialization for modules
  experimental/LieAlgebras/src/LieAlgebraModule.jl
  experimental/LieAlgebras/src/Types.jl
  experimental/LieAlgebras/src/serialization.jl
  experimental/LieAlgebras/test/setup_tests.jl
  test/Serialization/setup_tests.jl
Labels: serialization, topic: LieAlgebras, experimental

#4013 support group extensions of matrix groups
  docs/src/Groups/pcgroup.md
  experimental/GModule/src/Cohomology.jl
  experimental/GModule/src/GModule.jl
  experimental/GModule/test/runtests.jl
  src/Groups/GAPGroups.jl
  src/Groups/group_constructors.jl
  src/Groups/homomorphisms.jl
  src/exports.jl
  test/Groups/GrpAb.jl
  test/Groups/constructors.jl
  test/Groups/elements.jl
  test/Groups/homomorphisms.jl
  test/Groups/quotients.jl
Labels: enhancement, topic: groups, triage

#4062 [FTheoryTools] Improve computation of refined Tate fiber types
  experimental/FTheoryTools/docs/src/introduction.md
  experimental/FTheoryTools/src/AbstractFTheoryModels/methods.jl
  experimental/FTheoryTools/src/HypersurfaceModels/attributes.jl
  experimental/FTheoryTools/src/LiteratureModels/constructors.jl
  experimental/FTheoryTools/src/WeierstrassModels/attributes.jl
  experimental/FTheoryTools/src/auxiliary.jl
  experimental/FTheoryTools/test/literature_models.jl
  experimental/FTheoryTools/test/tate_models.jl
Labels: topic: FTheoryTools

#4036 LieAlgebras: Streamline exports in `Oscar.LieAlgebras`
  experimental/Experimental.jl
  experimental/FTheoryTools/src/FamilyOfSpaces/attributes.jl
  experimental/LieAlgebras/src/Combinatorics.jl
  experimental/LieAlgebras/src/LieAlgebras.jl
  experimental/LieAlgebras/src/Util.jl
  experimental/LieAlgebras/src/exports.jl
  src/exports.jl
Labels: topic: LieAlgebras

#4060 Speed up loading containers of polymake types
  src/Serialization/Combinatorics.jl
  src/Serialization/PolyhedralGeometry.jl
  src/Serialization/Upgrades/0.12.2.jl
  src/Serialization/Upgrades/main.jl
  src/Serialization/main.jl
  src/Serialization/polymake.jl
Labels: serialization

#4080 Try to fix the failing `MPolyAnyMap` doctest on nightly
  src/Rings/MPolyMap/MPolyRing.jl
Labels: nightly

#4046 TropicalGeometry: Vector to AbstractVector + general cleanup in groebner_basis.jl
  src/TropicalGeometry/groebner_basis.jl
  test/TropicalGeometry/groebner_basis.jl
Labels: topic: tropical geometry

#4079 Matrix groups: cleanup some use of frobenius
  src/Groups/matrices/matrix_manipulation.jl
  src/Groups/matrices/transform_form.jl
Labels: topic: groups

#4067 Adv/multi file serialization
  src/Serialization/PolyhedralGeometry.jl
  src/Serialization/main.jl
  src/Serialization/serializers.jl
  test/Serialization/PolyhedralGeometry.jl
  test/Serialization/setup_tests.jl
Labels: serialization

#3688 Update to GAP.jl 0.11.3 resp. GAP 4.13.1
  Project.toml
  src/Groups/GAPGroups.jl
  src/Groups/cosets.jl
  src/Groups/directproducts.jl
  src/Groups/homomorphisms.jl
  test/book/cornerstones/groups/actions.jlcon
Labels: package: GAP

#4083 Run CI on experimental `*.md` doc files
  docs/documenter_helpers.jl
  docs/make_work.jl
  experimental/IntersectionTheory/docs/src/AbstractVarieties.md
  experimental/IntersectionTheory/docs/src/examples.md
  experimental/MatroidRealizationSpaces/docs/src/introduction.md
  src/utils/docs.jl
Labels: documentation, CI

#4053 Lie algebras: more progress
  docs/oscar_references.bib
  experimental/LieAlgebras/src/CoxeterGroup.jl
  experimental/LieAlgebras/src/LieAlgebraModule.jl
  experimental/LieAlgebras/src/LieAlgebras.jl
  experimental/LieAlgebras/src/RootSystem.jl
  experimental/LieAlgebras/src/Types.jl
  experimental/LieAlgebras/src/WeylGroup.jl
  experimental/LieAlgebras/src/exports.jl
  experimental/LieAlgebras/test/LieAlgebraModule-test.jl
  experimental/LieAlgebras/test/RootSystem-test.jl
  experimental/LieAlgebras/test/WeylGroup-test.jl
Labels: topic: LieAlgebras, experimental

#3858 polynomial_ring cached=false for tropical geometry
  docs/src/TropicalGeometry/groebner_theory.md
  src/TropicalGeometry/TropicalGeometry.jl
  src/TropicalGeometry/debug.jl
  src/TropicalGeometry/debugReduce.jl
  src/TropicalGeometry/debugTropicalVariety.jl
  src/TropicalGeometry/groebner_basis.jl
  src/TropicalGeometry/homogenization.jl
  src/TropicalGeometry/hypersurface.jl
  src/TropicalGeometry/initial.jl
  src/TropicalGeometry/semiring_map.jl
  src/TropicalGeometry/variety.jl
  test/TropicalGeometry/groebner_basis.jl
  test/TropicalGeometry/initial.jl
  test/book/specialized/holt-ren-tropical-geometry/groebner.jlcon
Labels: topic: tropical geometry

#4092 Move sheaves out of experimental.
  docs/doc.main
  docs/src/AlgebraicGeometry/Schemes/CoveredSchemeMorphisms.md
  docs/src/AlgebraicGeometry/Schemes/Sheaves.md
  experimental/Schemes/src/CoveredScheme.jl
  experimental/Schemes/src/Schemes.jl
  experimental/Schemes/src/Types.jl
  experimental/Schemes/src/elliptic_surface.jl
  src/AlgebraicGeometry/Schemes/AffineSchemes/SimplifiedAffineScheme/Methods.jl
  src/AlgebraicGeometry/Schemes/AffineSchemes/SimplifiedAffineScheme/Types.jl
  src/AlgebraicGeometry/Schemes/CoveredSchemes/Morphisms/CompositeCoveredSchemeMorphism/Methods.jl
  src/AlgebraicGeometry/Schemes/CoveredSchemes/Morphisms/CompositeCoveredSchemeMorphism/Types.jl
  src/AlgebraicGeometry/Schemes/CoveredSchemes/Morphisms/Constructors.jl
  src/AlgebraicGeometry/Schemes/CoveredSchemes/Morphisms/CoveredClosedEmbedding/Methods.jl
  src/AlgebraicGeometry/Schemes/CoveredSchemes/Morphisms/CoveredClosedEmbedding/Types.jl
  src/AlgebraicGeometry/Schemes/CoveredSchemes/Morphisms/Methods.jl
  src/AlgebraicGeometry/Schemes/CoveredSchemes/Morphisms/MorphismFromRationalFunctions/Methods.jl
  src/AlgebraicGeometry/Schemes/CoveredSchemes/Morphisms/MorphismFromRationalFunctions/Types.jl
  src/AlgebraicGeometry/Schemes/CoveredSchemes/Morphisms/Types.jl
  src/AlgebraicGeometry/Schemes/Divisors/AlgebraicCycles.jl
  src/AlgebraicGeometry/Schemes/Divisors/CartierDivisor.jl
  src/AlgebraicGeometry/Schemes/Divisors/Types.jl
  src/AlgebraicGeometry/Schemes/Divisors/WeilDivisor.jl
  src/AlgebraicGeometry/Schemes/FunctionField/FunctionFields.jl
  src/AlgebraicGeometry/Schemes/FunctionField/Types.jl
  src/AlgebraicGeometry/Schemes/Gluing/LazyGluing/Methods.jl
  src/AlgebraicGeometry/Schemes/Gluing/LazyGluing/Types.jl
  src/AlgebraicGeometry/Schemes/ProjectiveSchemes/Objects/Attributes.jl
  src/AlgebraicGeometry/Schemes/Sheaves/CoherentSheaves.jl
  src/AlgebraicGeometry/Schemes/Sheaves/IdealSheaves.jl
  src/AlgebraicGeometry/Schemes/Sheaves/PushforwardIdealSheaf.jl
  src/AlgebraicGeometry/Schemes/Sheaves/Sheaves.jl
  src/AlgebraicGeometry/Schemes/Sheaves/StructureSheaf.jl
  src/AlgebraicGeometry/Schemes/Sheaves/Types.jl
  src/AlgebraicGeometry/Schemes/main.jl
  src/Oscar.jl
  src/Rings/mpolyquo-localizations.jl
  src/exports.jl
  test/AlgebraicGeometry/Schemes/WeilDivisor.jl
Labels: topic: schemes

#4050 Intersection matrix (desingularization of surfaces)
  experimental/IntersectionTheory/src/IntersectionTheory.jl
  experimental/Schemes/src/BlowupMorphism.jl
  experimental/Schemes/src/Resolution_structure.jl
  experimental/Schemes/src/Resolution_tools.jl
  experimental/Schemes/src/Schemes.jl
  test/AlgebraicGeometry/Schemes/Resolution_structure.jl
Labels: topic: schemes

#4103 bug fix
  src/Serialization/main.jl
Labels: serialization

#4106 Make test stat printing more coherent
  test/runtests.jl
Labels: CI

#4096 Toric Varieties/Schemes: Ep/toric blowups center #3810
  docs/src/AlgebraicGeometry/ToricVarieties/BlowdownMorphisms.md
  experimental/FTheoryTools/src/auxiliary.jl
  experimental/Schemes/src/BlowupMorphism.jl
  experimental/Schemes/src/ToricBlowups/attributes.jl
  experimental/Schemes/src/ToricBlowups/constructors.jl
  experimental/Schemes/src/ToricBlowups/methods.jl
  experimental/Schemes/src/ToricBlowups/types.jl
  test/AlgebraicGeometry/ToricVarieties/toric_blowdowns.jl
Labels: topic: toric schemes

#4105 Fix is_very_ample
  src/AlgebraicGeometry/ToricVarieties/ToricDivisors/properties.jl
Labels: topic: toric varieties

#4084 Lie algebras: Add root system detection
  Project.toml
  docs/oscar_references.bib
  experimental/LieAlgebras/docs/src/ideals_and_subalgebras.md
  experimental/LieAlgebras/src/AbstractLieAlgebra.jl
  experimental/LieAlgebras/src/DirectSumLieAlgebra.jl
  experimental/LieAlgebras/src/LieAlgebra.jl
  experimental/LieAlgebras/src/LieAlgebraIdeal.jl
  experimental/LieAlgebras/src/LieAlgebraModule.jl
  experimental/LieAlgebras/src/LieSubalgebra.jl
  experimental/LieAlgebras/src/LinearLieAlgebra.jl
  experimental/LieAlgebras/src/Types.jl
  experimental/LieAlgebras/src/exports.jl
  experimental/LieAlgebras/src/serialization.jl
  experimental/LieAlgebras/test/LieAlgebra-test.jl
  experimental/LieAlgebras/test/LieAlgebraModule-test.jl
  experimental/LieAlgebras/test/setup_tests.jl
Labels: topic: LieAlgebras, experimental

#4109 LieAlgebras: Fix some typos and enhance type stability
  experimental/LieAlgebras/src/Combinatorics.jl
  experimental/LieAlgebras/src/LieAlgebraModule.jl
  experimental/LieAlgebras/src/LieAlgebraModuleHom.jl
Labels: topic: LieAlgebras, experimental

#4111 Disable anonymous functions in gluings
  experimental/Schemes/src/Auxiliary.jl
  experimental/Schemes/src/CoveredProjectiveSchemes.jl
  experimental/Schemes/src/Schemes.jl
  src/AlgebraicGeometry/Schemes/CoveredSchemes/Morphisms/Constructors.jl
  src/AlgebraicGeometry/Schemes/CoveredSchemes/Objects/Methods.jl
  src/AlgebraicGeometry/Schemes/Covering/Morphisms/Methods.jl
  src/AlgebraicGeometry/Schemes/Covering/Objects/Methods.jl
  src/AlgebraicGeometry/Schemes/Gluing/LazyGluing/Methods.jl
  src/AlgebraicGeometry/Schemes/Gluing/LazyGluing/Types.jl
  src/AlgebraicGeometry/Schemes/Gluing/Methods.jl
  src/AlgebraicGeometry/Schemes/PrincipalOpenSubset/Objects/Types.jl
  src/AlgebraicGeometry/Schemes/Sheaves/IdealSheaves.jl
  src/AlgebraicGeometry/ToricVarieties/ToricSchemes/attributes.jl
  test/AlgebraicGeometry/Schemes/Gluing.jl
Labels: topic: schemes

#4120 group attribute saving
  src/Serialization/Groups.jl
  src/Serialization/main.jl
  src/Serialization/serializers.jl
Labels: topic: groups, serialization

#4123 Minor Lie module serialization cleanup
  experimental/LieAlgebras/src/serialization.jl
Labels: serialization, topic: LieAlgebras, experimental

#3926 [ToricVarieties] Fix for blowup corresponding to already existing ray
  experimental/FTheoryTools/src/AbstractFTheoryModels/methods.jl
  experimental/FTheoryTools/src/auxiliary.jl
  experimental/Schemes/src/ToricBlowups/constructors.jl
  experimental/Schemes/src/ToricBlowups/types.jl
  experimental/Schemes/src/ToricIdealSheaves/constructors.jl
  experimental/Schemes/test/runtests.jl
  src/AlgebraicGeometry/ToricVarieties/ToricDivisors/constructors.jl
  test/AlgebraicGeometry/ToricVarieties/toric_divisors.jl
Labels: topic: toric varieties

#4115 Format `@article` entries consistently
  docs/Project.toml
  docs/citation_style.jl
  docs/oscar_references.bib
  docs/src/DeveloperDocumentation/documentation.md
Labels: documentation

#4118 More bib cleanup
  docs/oscar_references.bib
Labels: documentation

#4122 Bump AA, Nemo, and Hecke compat
  Project.toml
  experimental/GModule/src/GaloisCohomology.jl
  experimental/GModule/test/runtests.jl
  experimental/Schemes/src/Resolution_tools.jl
  src/InvariantTheory/invariant_rings.jl
  src/NumberTheory/GaloisGrp/GaloisGrp.jl
  src/Rings/AbelianClosure.jl
  src/Rings/MPolyQuo.jl
  src/Rings/NumberField.jl
  src/Rings/localization_interface.jl
  src/Rings/mpoly-graded.jl
  src/Rings/mpolyquo-localizations.jl
  src/Rings/slpolys.jl
  src/StraightLinePrograms/StraightLinePrograms.jl
  src/StraightLinePrograms/straightline.jl
  src/TropicalGeometry/semiring.jl
  src/imports.jl
  test/Rings/AbelianClosure.jl
  test/Rings/MPolyQuo.jl
  test/Rings/NumberField.jl
  test/Rings/mpoly-graded.jl
  test/Rings/slpolys.jl
  test/StraightLinePrograms/straightline.jl
  test/book/test.jl
Labels: package: Hecke, package: Nemo, package: AbstractAlgebra

#4125 Fix typo in GModule
  experimental/GModule/src/GModule.jl
Labels: experimental

#4121 Remove anonymous functions from sheaves
  src/AlgebraicGeometry/Schemes/PrincipalOpenSubset/Objects/Types.jl
  src/AlgebraicGeometry/Schemes/Sheaves/CoherentSheaves.jl
  src/AlgebraicGeometry/Schemes/Sheaves/Methods.jl
  src/AlgebraicGeometry/Schemes/Sheaves/Sheaves.jl
  src/AlgebraicGeometry/Schemes/Sheaves/Types.jl
  src/AlgebraicGeometry/Schemes/main.jl
  test/AlgebraicGeometry/Schemes/Sheaves.jl
Labels: topic: schemes

#4140 Aqua: don't run persistent tasks check in OscarCI for downstream tests
  test/Aqua.jl
Labels: testsuite

#4141 Revert "load the GAP packages sotgrps and sglppow"
  src/Oscar.jl
Labels: package: GAP, revert

#4127 Add daily tests
  .github/workflows/CI.yml
Labels: CI

#4145 LieAlgebras: more optimizations regarding type stability
  experimental/LieAlgebras/src/LieAlgebraModule.jl
  experimental/LieAlgebras/src/LieAlgebraModuleHom.jl
  experimental/LieAlgebras/src/Types.jl
  experimental/LieAlgebras/test/setup_tests.jl
  test/Serialization/setup_tests.jl
Labels: topic: LieAlgebras, experimental

#4086 switch to a better Julia to GAP conversion
  Project.toml
  examples/CatSLP.jl
  gap/OscarInterface/gap/alnuth.gi
  src/GAP/iso_oscar_gap.jl
  src/GAP/oscar_to_gap.jl
  src/GAP/wrappers.jl
  src/Groups/GAPGroups.jl
  src/Groups/cosets.jl
  src/Groups/group_characters.jl
  src/Groups/matrices/MatGrp.jl
  src/Groups/matrices/forms.jl
  src/Groups/tom.jl
  src/Groups/types.jl
  src/Serialization/GAP.jl
  test/GAP/oscar_to_gap.jl
Labels: package: GAP

#4156 Move duVal-Singularity recognition to src
  docs/doc.main
  docs/src/AlgebraicGeometry/Surfaces/duValSing.md
  experimental/Schemes/src/Schemes.jl
  src/AlgebraicGeometry/AlgebraicGeometry.jl
  src/AlgebraicGeometry/Surfaces/duValSing.jl
Labels: topic: algebraic geometry

#4164 Don't collect iterators in iteration
  experimental/FTheoryTools/src/HypersurfaceModels/constructors.jl
  experimental/FTheoryTools/src/LiteratureModels/create_index.jl
  experimental/OrthogonalDiscriminants/src/data.jl
  experimental/OrthogonalDiscriminants/src/utils.jl
  experimental/OrthogonalDiscriminants/test/data.jl
  experimental/QuadFormAndIsom/src/hermitian_miranda_morrison.jl
  experimental/QuadFormAndIsom/test/runtests.jl
  experimental/Schemes/src/CoveredProjectiveSchemes.jl
  experimental/SymmetricIntersections/test/runtests.jl
  src/AlgebraicGeometry/Schemes/Divisors/AlgebraicCycles.jl
  src/AlgebraicGeometry/Schemes/Divisors/WeilDivisor.jl
  src/Combinatorics/Matroids/matroids.jl
  src/Combinatorics/Matroids/properties.jl
  src/Groups/GrpAb.jl
  src/Groups/group_characters.jl
  src/Rings/AbelianClosure.jl
  src/Rings/Laurent.jl
  src/Rings/mpoly-ideals.jl
  src/Serialization/containers.jl
  test/Groups/GrpAb.jl
Labels: optimization
