Repository oscar-system/Oscar.jl, pull requests merged in 2024-10, with the labels that each got.

#4163 Update book example for GenericCharacterTables
  test/book/cornerstones/groups/auxiliary_code/main.jl
  test/book/cornerstones/groups/genchar.jlcon
Labels: oscar book

#4165 LieAlgebras: reduce allocations
  .gitignore
  experimental/LieAlgebras/src/AbstractLieAlgebra.jl
  experimental/LieAlgebras/src/LieAlgebra.jl
  experimental/LieAlgebras/src/LieAlgebraIdeal.jl
  experimental/LieAlgebras/src/LieAlgebraModule.jl
  experimental/LieAlgebras/src/LieAlgebras.jl
  experimental/LieAlgebras/src/LieSubalgebra.jl
  experimental/LieAlgebras/src/LinearLieAlgebra.jl
  experimental/LieAlgebras/src/RootSystem.jl
  experimental/LieAlgebras/src/Types.jl
  experimental/LieAlgebras/src/Util.jl
  experimental/LieAlgebras/test/LinearLieAlgebra-test.jl
  experimental/LieAlgebras/test/RootSystem-test.jl
Labels: optimization, topic: LieAlgebras, experimental

#4166 Implement more shortcuts and remove code duplication.
  src/Modules/UngradedModules/ModuleGens.jl
Labels: triage

#4186 Add missing Abelian groups docs
  docs/doc.main
Labels: documentation

#4093 Update `exterior_algebra`
  docs/src/NoncommutativeAlgebra/PBWAlgebras/quotients.md
  experimental/ExteriorAlgebra/src/ExteriorAlgebra.jl
  experimental/ExteriorAlgebra/test/runtests.jl
  src/Rings/PBWAlgebraQuo.jl
Labels: triage

#4190 add a missing `in` method
  src/Groups/homomorphisms.jl
Labels: topic: groups

#4182 [FTheoryTools] Fixed some bugs that were missed before
  experimental/FTheoryTools/src/AbstractFTheoryModels/methods.jl
  experimental/FTheoryTools/src/LiteratureModels/Models/model1511_03209.json
  experimental/FTheoryTools/src/LiteratureModels/constructors.jl
  experimental/FTheoryTools/src/LiteratureModels/create_index.jl
  experimental/FTheoryTools/src/LiteratureModels/model_indices.json
  experimental/FTheoryTools/src/TateModels/attributes.jl
  experimental/FTheoryTools/src/WeierstrassModels/attributes.jl
Labels: topic: FTheoryTools

#4199 doc fix: remove extra 'we' in design_decisions.md
  docs/src/DeveloperDocumentation/design_decisions.md
Labels: documentation

#4194 More type stability for GSets
  src/Groups/gsets.jl
  src/Groups/types.jl
Labels: topic: groups

#4196 allow `==` for two groups/group elements in fewer cases
  src/Groups/GAPGroups.jl
  test/Groups/conformance.jl
Labels: topic: groups

#4206 add `stabilizer` for G-sets
  docs/src/Groups/action.md
  src/GAP/wrappers.jl
  src/Groups/action.jl
  src/Groups/gsets.jl
  test/Groups/gsets.jl
Labels: topic: groups

#4216 Fix JuliaFormatter version to 1.x to avoid breaking changes of 2.x for now
  etc/test_formatting.jl
Labels: CI

#4208 Enhance inference in LieAlgebras, GSets, and MatrixGroups
  Project.toml
  docs/src/Groups/action.md
  experimental/LieAlgebras/src/AbstractLieAlgebra.jl
  experimental/LieAlgebras/src/LieAlgebra.jl
  experimental/LieAlgebras/src/LieAlgebraIdeal.jl
  experimental/LieAlgebras/src/LieAlgebraModule.jl
  experimental/LieAlgebras/src/LieSubalgebra.jl
  experimental/LieAlgebras/src/LinearLieAlgebra.jl
  experimental/LieAlgebras/src/RootSystem.jl
  experimental/LieAlgebras/src/Types.jl
  src/GAP/iso_oscar_gap.jl
  src/GAP/wrappers.jl
  src/Groups/gsets.jl
  src/Groups/matrices/MatGrp.jl
Labels: topic: groups, topic: LieAlgebras

#4221 booktests: merge updates from book repo
  test/book/cornerstones/algebraic-geometry/exres.jlcon
  test/book/cornerstones/algebraic-geometry/hilbert-polynomial.jlcon
  test/book/cornerstones/groups/actions.jlcon
  test/book/cornerstones/groups/intro.jlcon
  test/book/cornerstones/number-theory/galoismod.jlcon
  test/book/cornerstones/number-theory/galoismod_1.jlcon
  test/book/cornerstones/number-theory/galoismod_2.jlcon
  test/book/cornerstones/number-theory/intro.jlcon
  test/book/cornerstones/number-theory/sym_1.jlcon
  test/book/cornerstones/number-theory/unit_log_plot.jlcon
  test/book/cornerstones/polyhedral-geometry/GKZ_orbits.jlcon
  test/book/cornerstones/polyhedral-geometry/platonic.jlcon
  test/book/ordered_examples.json
  test/book/specialized/bies-kastner-toric-geometry/p1xp1_cohomologies.jlcon
  test/book/specialized/bies-kastner-toric-geometry/p1xp1_vanishing_sets.jlcon
  test/book/specialized/bies-turner-string-theory-applications/SU5-2.jlcon
  test/book/specialized/breuer-nebe-parker-orthogonal-discriminants/expl_G23_tbl.jlcon
  test/book/specialized/decker-schmitt-invariant-theory/H3.jlcon
  test/book/specialized/fang-fourier-monomial-bases/gap.jlcon
  test/book/specialized/fang-fourier-monomial-bases/oscar-vs-gap.jlcon
  test/book/specialized/fang-fourier-monomial-bases/sl7-cases.jlcon
  test/book/specialized/kuehne-schroeter-matroids/ChowRings.jlcon
  test/book/test.jl
Labels: oscar book

#4227 Some fixes and performance improvements for `iso_oscar_gap(::LieAlgebra)`
  experimental/LieAlgebras/src/iso_gap_oscar.jl
  experimental/LieAlgebras/src/iso_oscar_gap.jl
  experimental/LieAlgebras/test/iso_gap_oscar-test.jl
  experimental/LieAlgebras/test/iso_oscar_gap-test.jl
  src/GAP/iso_oscar_gap.jl
  src/GAP/wrappers.jl
Labels: package: GAP, topic: LieAlgebras

#4232 show methods: lower case halfspaces and hyperplanes
  docs/src/PolyhedralGeometry/Polyhedra/constructions.md
  src/Groups/matrices/MatGrp.jl
  src/PolyhedralGeometry/Cone/properties.jl
  src/PolyhedralGeometry/Polyhedron/properties.jl
  src/PolyhedralGeometry/Polyhedron/standard_constructions.jl
  test/book/cornerstones/polyhedral-geometry/pentagon.jlcon
Labels: printing

#4234 Tjurina module
  experimental/Schemes/src/Schemes.jl
  experimental/Schemes/src/Tjurina.jl
  test/AlgebraicGeometry/Schemes/Tjurina.jl
Labels: topic: schemes, experimental

#4197 Improve stability of tests in PolyhedralGeometry
  src/PolyhedralGeometry/iterators.jl
  test/PolyhedralGeometry/cone.jl
  test/PolyhedralGeometry/extended.jl
  test/PolyhedralGeometry/polyhedral_complex.jl
  test/PolyhedralGeometry/polyhedral_fan.jl
  test/PolyhedralGeometry/polyhedron.jl
  test/PolyhedralGeometry/scalar_types.jl
  test/PolyhedralGeometry/setup_tests.jl
  test/PolyhedralGeometry/subdivision_of_points.jl
  test/PolyhedralGeometry/types.jl
Labels: topic: polyhedral geometry

#4236 Add dedicated printing for empty combinatorial objects
  src/Combinatorics/EnumerativeCombinatorics/compositions.jl
  src/Combinatorics/EnumerativeCombinatorics/partitions.jl
  src/Combinatorics/EnumerativeCombinatorics/weak_compositions.jl
Labels: topic: combinatorics, printing

#4228 Improve performance of `bracket` for `AbstractLieAlgebraElem`
  experimental/LieAlgebras/src/AbstractLieAlgebra.jl
Labels: topic: LieAlgebras, experimental

#4254 Fix show method for `FreeMod_dec`
  src/Modules/ModulesGraded.jl
Labels: printing

#4259 add argument check to G-set constructor
  src/Groups/gsets.jl
  test/Groups/gsets.jl
Labels: topic: groups
