Repository oscar-system/Oscar.jl, pull requests merged in 2024-12, with the labels that each got.

#4366 Add dummy hash for `AbsIdealSheaf`
  src/AlgebraicGeometry/Schemes/Sheaves/IdealSheaves.jl
Labels: topic: schemes

#4260 Adv/algebraic shifting
  Project.toml
  docs/oscar_references.bib
  experimental/AlgebraicShifting/README.md
  experimental/AlgebraicShifting/docs/doc.main
  experimental/AlgebraicShifting/docs/src/exterior_shifting.md
  experimental/AlgebraicShifting/docs/src/introduction.md
  experimental/AlgebraicShifting/docs/src/partial_shift_graph.md
  experimental/AlgebraicShifting/src/AlgebraicShifting.jl
  experimental/AlgebraicShifting/src/PartialShift.jl
  experimental/AlgebraicShifting/src/PartialShiftGraph.jl
  experimental/AlgebraicShifting/src/UniformHypergraph.jl
  experimental/AlgebraicShifting/test/runtests.jl
  experimental/Experimental.jl
  src/Combinatorics/Graphs/functions.jl
  src/Combinatorics/SimplicialComplexes.jl
  src/exports.jl
  src/imports.jl
Labels: experimental

#4367 Fix toric typo
  src/AlgebraicGeometry/ToricVarieties/NormalToricVarieties/constructors.jl
Labels: documentation, topic: toric varieties

#4374 LieAlgebras: Change WeylGroup action to a right action
  experimental/BasisLieHighestWeight/src/MainAlgorithm.jl
  experimental/BasisLieHighestWeight/src/UserFunctions.jl
  experimental/LieAlgebras/docs/src/weyl_groups.md
  experimental/LieAlgebras/src/LieAlgebraModule.jl
  experimental/LieAlgebras/src/RootSystem.jl
  experimental/LieAlgebras/src/WeightLattice.jl
  experimental/LieAlgebras/src/WeylGroup.jl
  experimental/LieAlgebras/test/LieAlgebraModule-test.jl
  experimental/LieAlgebras/test/RootSystem-test.jl
  experimental/LieAlgebras/test/WeightLattice-test.jl
  experimental/LieAlgebras/test/WeylGroup-test.jl
Labels: topic: LieAlgebras, experimental

#3986 Use RPTU local runners instead of github hosted linux runners
  .github/workflows/CI.yml
Labels: triage, CI

#4361 Optimize cperm
  src/Groups/perm.jl
  test/Groups/Permutations.jl
  test/Groups/action.jl
  test/Groups/conjugation.jl
  test/Groups/elements.jl
Labels: topic: groups

#4375 LieAlgebras: Change normal form for WeylGroupElem; cleanup after #4374
  experimental/AlgebraicShifting/src/PartialShiftGraph.jl
  experimental/AlgebraicShifting/test/runtests.jl
  experimental/LieAlgebras/src/Types.jl
  experimental/LieAlgebras/src/WeightLattice.jl
  experimental/LieAlgebras/src/WeylGroup.jl
  experimental/LieAlgebras/src/exports.jl
  experimental/LieAlgebras/test/WeylGroup-test.jl
Labels: topic: LieAlgebras, experimental

#4347 Remove unneeded parent call method for `FPGroup`
  src/Groups/GAPGroups.jl
Labels: topic: groups

#4389 Fix a bib entry
  docs/oscar_references.bib
Labels: documentation

#4307 Speed up orbits of permutation groups on integers
  examples/GSets_timing.jl
  src/Groups/action.jl
  src/Groups/gsets.jl
  test/Groups/gsets.jl
Labels: topic: groups

#4395 Intersection theory: next round
  experimental/IntersectionTheory/docs/src/AbstractBundles.md
  experimental/IntersectionTheory/docs/src/AbstractVarieties.md
  experimental/IntersectionTheory/src/IntersectionTheory.jl
  experimental/IntersectionTheory/src/Main.jl
  experimental/IntersectionTheory/test/runtests.jl
Labels: experimental

#4390 LieAlgebras: Add section with Dynkin diagrams to docs
  docs/oscar_references.bib
  experimental/LieAlgebras/docs/src/cartan_matrix.md
  experimental/LieAlgebras/docs/src/introduction.md
  experimental/LieAlgebras/docs/src/root_systems.md
  experimental/LieAlgebras/docs/src/weight_lattices.md
  experimental/LieAlgebras/docs/src/weyl_groups.md
  experimental/LieAlgebras/src/CartanMatrix.jl
  experimental/LieAlgebras/src/DynkinDiagram.jl
Labels: documentation, topic: LieTheory, experimental

#4401 add `isomorphic_subgroups`
  docs/src/Groups/grouphom.md
  docs/src/Groups/subgroups.md
  src/GAP/wrappers.jl
  src/Groups/homomorphisms.jl
  src/exports.jl
  test/Groups/homomorphisms.jl
Labels: topic: groups

#4403 Blowup along a ray does not change orbifoldness
  experimental/Schemes/src/ToricBlowups/types.jl
Labels: topic: toric schemes

#4399 Move Weyl groups and root systems to `src/`
  docs/doc.main
  docs/src/LieTheory/cartan_matrix.md
  docs/src/LieTheory/intro.md
  docs/src/LieTheory/root_systems.md
  docs/src/LieTheory/weight_lattices.md
  docs/src/LieTheory/weyl_groups.md
  etc/test_formatting.jl
  experimental/BasisLieHighestWeight/src/BasisLieHighestWeight.jl
  experimental/Experimental.jl
  experimental/GModule/src/GModule.jl
  experimental/LieAlgebras/docs/doc.main
  experimental/LieAlgebras/docs/src/weyl_groups_experimental.md
  experimental/LieAlgebras/src/LieAlgebras.jl
  experimental/LieAlgebras/src/RootSystem.jl
  experimental/LieAlgebras/src/Types.jl
  experimental/LieAlgebras/src/WeylGroup.jl
  experimental/LieAlgebras/src/exports.jl
  experimental/LieAlgebras/test/RootSystem-test.jl
  experimental/LieAlgebras/test/WeylGroup-test.jl
  experimental/LieAlgebras/test/setup_tests.jl
  src/LieTheory/CartanMatrix.jl
  src/LieTheory/LieTheory.jl
  src/LieTheory/RootSystem.jl
  src/LieTheory/Types.jl
  src/LieTheory/WeightLattice.jl
  src/LieTheory/WeylGroup.jl
  src/Oscar.jl
  src/aliases.jl
  src/exports.jl
  src/imports.jl
  test/LieTheory/CartanMatrix.jl
  test/LieTheory/RootSystem.jl
  test/LieTheory/WeightLattice.jl
  test/LieTheory/WeylGroup.jl
  test/LieTheory/setup_tests.jl
Labels: topic: LieTheory

#4409 add the library of groups with at most 14 conjugacy classes
  docs/oscar_references.bib
  docs/src/Groups/grouplib.md
  src/Groups/libraries/VeraLopez.json
  src/Groups/libraries/fewclassesgroups.jl
  src/Groups/libraries/libraries.jl
  src/Groups/libraries/transitivegroups.jl
  src/exports.jl
  test/Groups/libraries.jl
Labels: enhancement, topic: groups
