Repository oscar-system/Oscar.jl, pull requests merged in 2025-02, with the labels that each got.

#4509 Implement equality for toric varieties
  docs/src/AlgebraicGeometry/ToricVarieties/NormalToricVarieties.md
  src/AlgebraicGeometry/ToricVarieties/NormalToricVarieties/constructors.jl
  test/AlgebraicGeometry/ToricVarieties/normal_toric_varieties.jl
Labels: topic: toric varieties

#4523 Remove toric blowups along ideals
  docs/src/AlgebraicGeometry/ToricVarieties/BlowupMorphisms.md
  experimental/FTheoryTools/src/AbstractFTheoryModels/methods.jl
  experimental/Schemes/src/ToricBlowups/constructors.jl
  experimental/Schemes/test/runtests.jl
  test/AlgebraicGeometry/ToricVarieties/toric_blowups.jl
  test/AlgebraicGeometry/ToricVarieties/toric_schemes.jl
Labels: bug, enhancement, topic: toric schemes

#4529 [ToricVarieties] Add lattice of one-parameter subgroups
  docs/src/AlgebraicGeometry/ToricVarieties/BlowupMorphisms.md
  docs/src/AlgebraicGeometry/ToricVarieties/ToricMorphisms.md
  experimental/Schemes/src/ToricBlowups/attributes.jl
  experimental/Schemes/src/ToricBlowups/types.jl
  src/AlgebraicGeometry/ToricVarieties/NormalToricVarieties/attributes.jl
  src/AlgebraicGeometry/ToricVarieties/ToricMorphisms/attributes.jl
  src/AlgebraicGeometry/ToricVarieties/ToricMorphisms/constructors.jl
  src/deprecations.jl
  src/exports.jl
  test/AlgebraicGeometry/ToricVarieties/toric_blowups.jl
  test/AlgebraicGeometry/ToricVarieties/toric_morphisms.jl
  test/AlgebraicGeometry/ToricVarieties/toric_schemes.jl
Labels: topic: toric varieties, release notes: to be added

#4527 doc: clarify use of some operators in style guide
  docs/src/DeveloperDocumentation/styleguide.md
Labels: documentation, release notes: not needed

#4526 Intersection theory: fix issue #4512 and more
  experimental/IntersectionTheory/docs/src/AbstractBundles.md
  experimental/IntersectionTheory/docs/src/AbstractVarieties.md
  experimental/IntersectionTheory/docs/src/AbstractVarietyMaps.md
  experimental/IntersectionTheory/docs/src/BlowUps.md
  experimental/IntersectionTheory/docs/src/BottFormulas.md
  experimental/IntersectionTheory/docs/src/examples.md
  experimental/IntersectionTheory/src/Bott.jl
  experimental/IntersectionTheory/src/IntersectionTheory.jl
  experimental/IntersectionTheory/src/Main.jl
  experimental/IntersectionTheory/src/blowup.jl
  experimental/IntersectionTheory/test/runtests.jl
Labels: experimental

#4525 set `NiceMonomorphism` info on the GAP side
  src/Groups/matrices/iso_nf_fq.jl
  test/Groups/matrixgroups.jl
Labels: enhancement, topic: groups, package: GAP, release notes: not needed

#4536 Add `weyl_group(::Matrix{<:IntegerUnion})` convenience constructor
  src/LieTheory/RootSystem.jl
  src/LieTheory/WeylGroup.jl
  test/LieTheory/WeylGroup.jl
Labels: enhancement, topic: LieTheory

#4528 [FTheoryTools] Absorb convenience functions for toric blowups
  experimental/FTheoryTools/src/auxiliary.jl
Labels: topic: toric varieties, topic: FTheoryTools, release notes: not needed

#4448 Add changelog
  .github/workflows/changelog.yml
  CHANGELOG.md
  dev/releases/release_notes.py
Labels: triage

#4537 `.bibtoolsrc`: Canonicalize `month` fields, delete `abstract` fields
  .bibtoolrsc
  docs/oscar_references.bib
Labels: documentation, release notes: not needed

#4538 Run CI both on 1.12 and 1.13 nightly
  .github/workflows/CI.yml
Labels: nightly, CI, release notes: not needed

#4547 Create dependabot.yml
  .github/dependabot.yml
Labels: CI

#4544 Fix a type in tropical homogenization
  src/TropicalGeometry/homogenization.jl
Labels: topic: tropical geometry, release notes: not needed

#4549 Fix experimental not showing up in search
  docs/make_work.jl
Labels: documentation

#4554 Skip docs preview for dependabot PRs
  docs/make.jl
Labels: CI, release notes: not needed

#4530 Simplify ToricBlowupMorphism
  docs/src/AlgebraicGeometry/ToricVarieties/BlowupMorphisms.md
  experimental/Schemes/src/Auxiliary.jl
  experimental/Schemes/src/ToricBlowups/attributes.jl
  experimental/Schemes/src/ToricBlowups/constructors.jl
  experimental/Schemes/src/ToricBlowups/methods.jl
  experimental/Schemes/src/ToricBlowups/types.jl
Labels: topic: toric schemes

#4557 let `trivial_character` set the irreducibility flag
  src/GAP/wrappers.jl
  src/Groups/group_characters.jl
Labels: enhancement, topic: groups, release notes: not needed

#4546 [QuadFormAndIsom]: new fix, cleanup, additional improvements and better documentation
  experimental/QuadFormAndIsom/src/embeddings.jl
  experimental/QuadFormAndIsom/src/enumeration.jl
  experimental/QuadFormAndIsom/src/lattices_with_isometry.jl
  experimental/QuadFormAndIsom/src/spaces_with_isometry.jl
  experimental/QuadFormAndIsom/src/types.jl
  experimental/QuadFormAndIsom/test/runtests.jl
Labels: experimental, release notes: not needed

#4555 [FTheoryTools] More improvements
  experimental/FTheoryTools/src/TateModels/constructors.jl
  experimental/FTheoryTools/src/WeierstrassModels/constructors.jl
  experimental/FTheoryTools/test/FTM-1511-03209.jl
Labels: topic: FTheoryTools, experimental

#4563 Serialization refactor (Lie theory part)
  experimental/LieAlgebras/src/serialization.jl
  src/Serialization/Groups.jl
  src/Serialization/LieTheory.jl
  src/Serialization/Rings.jl
  src/Serialization/containers.jl
  src/Serialization/main.jl
Labels: serialization, topic: LieTheory

#4562 [FTheoryTools] Rename some functions
  experimental/FTheoryTools/docs/src/g4.md
  experimental/FTheoryTools/docs/src/generalities.md
  experimental/FTheoryTools/src/AbstractFTheoryModels/attributes.jl
  experimental/FTheoryTools/src/AbstractFTheoryModels/methods.jl
  experimental/FTheoryTools/src/FamilyOfG4Fluxes/methods.jl
  experimental/FTheoryTools/src/FamilyOfG4Fluxes/properties.jl
  experimental/FTheoryTools/src/FamilyOfG4Fluxes/special_constructors.jl
  experimental/FTheoryTools/src/G4Fluxes/attributes.jl
  experimental/FTheoryTools/src/G4Fluxes/constructors.jl
  experimental/FTheoryTools/src/G4Fluxes/properties.jl
  experimental/FTheoryTools/src/exports.jl
  experimental/FTheoryTools/test/FTM-1511-03209.jl
  experimental/FTheoryTools/test/tate_models.jl
  experimental/FTheoryTools/test/weierstrass_models.jl
Labels: optimization, topic: FTheoryTools

#4548 Update Singular.jl to 0.25.0
  Project.toml
  src/Rings/mpoly-ideals.jl
  src/Rings/mpoly-localizations.jl
  test/book/cornerstones/algebraic-geometry/canonicalimage.jlcon
Labels: package: Singular, release notes: use title

#4519 `map_word` and `parabolic_subgroup` for Weyl groups
  experimental/LieAlgebras/src/LieAlgebras.jl
  experimental/LieAlgebras/src/WeylGroup.jl
  experimental/LieAlgebras/src/exports.jl
  experimental/LieAlgebras/test/WeylGroup-test.jl
  src/Groups/GAPGroups.jl
Labels: enhancement, topic: LieTheory, experimental

#4565 Remove toric blowup arithmetic documentation
  docs/src/AlgebraicGeometry/ToricVarieties/BlowupMorphisms.md
Labels: documentation, topic: toric varieties, topic: toric schemes

#4578 fix typo in matroid doc
  src/Combinatorics/Matroids/matroids.jl
Labels: documentation, topic: combinatorics, release notes: not needed

#4582 Cache parents for permutations in perm, cperm, @perm, ...
  src/Groups/group_constructors.jl
  src/Groups/perm.jl
Labels: topic: groups

#4577 Introduce global gap variable `Oscar_jl`
  Project.toml
  docs/src/DeveloperDocumentation/gap_integration.md
  experimental/MatrixGroups/src/MatrixGroups.jl
  gap/OscarInterface/gap/ExperimentalMatrixGroups.g
  gap/OscarInterface/gap/OscarInterface.gd
  gap/OscarInterface/gap/OscarInterface.gi
  gap/OscarInterface/read.g
  src/Oscar.jl
Labels: package: GAP

#4588 GModule: Move exports around
  experimental/GModule/src/GModule.jl
Labels: nightly, experimental, release notes: not needed

#4589 syllables, letters and their inverse for `WeylGroup` and `WeylGroupElem`
  src/LieTheory/WeylGroup.jl
  test/LieTheory/WeylGroup.jl
Labels: topic: LieTheory

#4566 Internal variables names in toric blowups
  docs/src/AlgebraicGeometry/ToricVarieties/BlowupMorphisms.md
  experimental/Schemes/src/ToricBlowups/attributes.jl
  experimental/Schemes/src/ToricBlowups/constructors.jl
  experimental/Schemes/src/ToricBlowups/methods.jl
  experimental/Schemes/src/ToricBlowups/types.jl
Labels: enhancement, topic: toric varieties, topic: toric schemes

#4585 Usability wishes for QQab
  docs/src/NumberTheory/abelian_closure.md
  src/Rings/AbelianClosure.jl
  test/Rings/AbelianClosure.jl
Labels: enhancement, topic: rings, release notes: not needed

#4586 Tweak printing of `abelian_closure(QQ)`
  docs/src/NumberTheory/abelian_closure.md
  experimental/GModule/src/GaloisCohomology.jl
  src/Rings/AbelianClosure.jl
  src/Rings/AlgClosureFp.jl
  test/Rings/AbelianClosure.jl
  test/Rings/AlgClosureFp.jl
  test/book/cornerstones/groups/cohomology.jlcon
  test/book/cornerstones/groups/explSL25.jlcon
Labels: release notes: not needed

#4602 fix a doctest and a statement
  docs/src/NumberTheory/abelian_closure.md
Labels: documentation, topic: number theory, release notes: not needed

#4594 add GSet dosctrings to main documentation
  docs/src/Groups/action.md
  src/Groups/gsets.jl
Labels: documentation, topic: groups

#4611 Fix doctest for QQab
  docs/src/NumberTheory/abelian_closure.md
Labels: release notes: not needed

#4607 Update linear algebra documentation to match with AbstractAlgebra again
  Project.toml
  docs/doc.main
Labels: documentation, release notes: not needed

#4561 Improve documentation for the "Polycyclic groups" section
  docs/src/Groups/fpgroup.md
  docs/src/Groups/pcgroup.md
  src/Groups/GAPGroups.jl
Labels: documentation, enhancement, topic: groups, release notes: not needed

#4612 cleanup 3 instances of dim(spec(R)) to dim(R)
  experimental/Schemes/src/SpaceGerms.jl
Labels: topic: schemes, experimental, release notes: not needed

#4596 4ti2 for groebner basis computations
  src/Rings/binomial_ideals.jl
  src/Rings/groebner/general.jl
  src/Rings/mpoly-ideals.jl
  test/Rings/binomial-ideals.jl
Labels: topic: rings

#4618 Skip stalling CI jobs
  .github/workflows/CI.yml
Labels: nightly, CI, release notes: not needed

#4619 Move doctests back to github hosted runners
  .github/workflows/CI.yml
Labels: CI, release notes: not needed

#4535 Remove redundant `_parse_symbol` methods
  experimental/IntersectionTheory/src/Bott.jl
  experimental/IntersectionTheory/src/Main.jl
  experimental/IntersectionTheory/src/Misc.jl
  experimental/IntersectionTheory/src/blowup.jl
Labels: triage, release notes: not needed

#4622 Adapt to conformance test changes in AA
  Project.toml
  src/AlgebraicGeometry/Schemes/FunctionField/FunctionFields.jl
  src/LieTheory/RootSystem.jl
  src/LieTheory/WeightLattice.jl
  src/Rings/AbelianClosure.jl
  src/Rings/AlgClosureFp.jl
  src/Rings/PBWAlgebraQuo.jl
  src/Rings/mpoly-localizations.jl
  test/AlgebraicGeometry/Schemes/FunctionFields.jl
  test/Groups/conformance.jl
  test/LieTheory/RootSystem.jl
  test/LieTheory/WeylGroup.jl
  test/LieTheory/setup_tests.jl
  test/Rings/AbelianClosure.jl
  test/Rings/AlgClosureFp.jl
  test/Rings/PBWAlgebraQuo.jl
  test/Rings/mpoly-localizations.jl
  test/Rings/setup_tests.jl
Labels: release notes: not needed

#4624 Remove some uses of gap_to_julia
  experimental/GModule/src/Cohomology.jl
  src/Groups/homomorphisms.jl
  src/Groups/pcgroup.jl
Labels: package: GAP, release notes: not needed

#4621 Make conformance tests work for `WeylGroup`
  docs/oscar_references.bib
  docs/src/LieTheory/weyl_groups.md
  experimental/LieAlgebras/src/LieAlgebras.jl
  experimental/LieAlgebras/src/WeylGroup.jl
  src/Groups/group_characters.jl
  src/Groups/matrices/MatGrp.jl
  src/Groups/matrices/form_group.jl
  src/LieTheory/WeylGroup.jl
  src/exports.jl
  test/LieTheory/WeylGroup.jl
Labels: topic: LieTheory

#4583 Remove duplicate code and bump Hecke
  Project.toml
  src/AlgebraicGeometry/Surfaces/K3Auto.jl
  src/NumberTheory/vinberg.jl
Labels: release notes: not needed

#4630 Use imperative form in (first sentence of) docstrings
  examples/PerfectPowers.jl
  examples/PrimDec.jl
  experimental/AlgebraicShifting/src/PartialShift.jl
  experimental/AlgebraicShifting/src/PartialShiftGraph.jl
  experimental/AlgebraicStatistics/src/CI.jl
  experimental/AlgebraicStatistics/src/GaussianGraphicalModels.jl
  experimental/AlgebraicStatistics/src/GraphicalModels.jl
  experimental/AlgebraicStatistics/src/Markov.jl
  experimental/AlgebraicStatistics/src/PhylogeneticModels.jl
  experimental/BasisLieHighestWeight/src/UserFunctions.jl
  experimental/CliffordAlgOrd/src/CliffordOrder.jl
  experimental/DoubleAndHyperComplexes/src/Objects/Types.jl
  experimental/FTheoryTools/src/FamilyOfG4Fluxes/properties.jl
  experimental/FTheoryTools/src/FamilyOfG4Fluxes/special_constructors.jl
  experimental/GModule/src/Cohomology.jl
  experimental/GModule/src/GaloisCohomology.jl
  experimental/GModule/src/GrpExt.jl
  experimental/GroebnerWalk/src/common.jl
  experimental/GroebnerWalk/src/generic_walk.jl
  experimental/GroebnerWalk/src/markedGB.jl
  experimental/GroebnerWalk/src/perturbed_walk.jl
  experimental/GroebnerWalk/src/standard_walk.jl
  experimental/Schemes/src/Auxiliary.jl
  experimental/Schemes/src/SpaceGerms.jl
  experimental/Schemes/src/ToricBlowups/attributes.jl
  experimental/Schemes/src/ToricBlowups/methods.jl
  src/AlgebraicGeometry/Schemes/AffineSchemes/Objects/Methods.jl
  src/AlgebraicGeometry/Schemes/AffineSchemes/Objects/Properties.jl
  src/AlgebraicGeometry/Schemes/CoveredSchemes/Morphisms/MorphismFromRationalFunctions/Methods.jl
  src/AlgebraicGeometry/Schemes/CoveredSchemes/Objects/Constructors.jl
  src/AlgebraicGeometry/Schemes/CoveredSchemes/Objects/Methods.jl
  src/AlgebraicGeometry/Schemes/Divisors/CartierDivisor.jl
  src/AlgebraicGeometry/Surfaces/EllipticSurface/NeighborStep.jl
  src/AlgebraicGeometry/ToricVarieties/CohomologyClasses/special_attributes.jl
  src/AlgebraicGeometry/ToricVarieties/NormalToricVarieties/attributes.jl
  src/AlgebraicGeometry/ToricVarieties/NormalToricVarieties/constructors.jl
  src/AlgebraicGeometry/ToricVarieties/NormalToricVarieties/properties.jl
  src/AlgebraicGeometry/ToricVarieties/NormalToricVarieties/standard_constructions.jl
  src/AlgebraicGeometry/ToricVarieties/Subvarieties/properties.jl
  src/AlgebraicGeometry/ToricVarieties/ToricDivisorClasses/attributes.jl
  src/AlgebraicGeometry/ToricVarieties/ToricDivisorClasses/properties.jl
  src/AlgebraicGeometry/ToricVarieties/ToricDivisors/properties.jl
  src/AlgebraicGeometry/ToricVarieties/cohomCalg/VanishingSets/methods.jl
  src/AlgebraicGeometry/ToricVarieties/cohomCalg/special_attributes.jl
  src/Combinatorics/Graphs/functions.jl
  src/Combinatorics/Matroids/properties.jl
  src/Combinatorics/PhylogeneticTrees.jl
  src/Combinatorics/SimplicialComplexes.jl
  src/LieTheory/RootSystem.jl
  src/LieTheory/WeightLattice.jl
  src/Modules/deRhamComplexes.jl
  src/NumberTheory/GaloisGrp/GaloisGrp.jl
  src/NumberTheory/vinberg.jl
  src/PolyhedralGeometry/Polyhedron/standard_constructions.jl
  src/PolyhedralGeometry/triangulations.jl
  src/Rings/FreeAssociativeAlgebraIdeal.jl
  src/Rings/groebner/fglm.jl
  src/Rings/mpoly-ideals.jl
  src/Serialization/Upgrades/main.jl
Labels: documentation, release notes: not needed

#4632 Tweak some show methods to use ItemQuantity, Lowercase
  experimental/QuadFormAndIsom/src/lattices_with_isometry.jl
  src/Combinatorics/Matroids/matroids.jl
  src/Combinatorics/Matroids/properties.jl
  src/Groups/abelian_aut.jl
Labels: release notes: not needed

#4605 Update `jll_deps`; make `lib4ti2_jll` an explicit dependency
  Project.toml
  src/Rings/binomial_ideals.jl
  src/imports.jl
  src/utils/utils.jl
Labels: release notes: not needed

#4635 Remove functions defined in Hecke
  experimental/GModule/src/GModule.jl
Labels: package: Hecke

#4634 Remove more calls to gap_to_julia
  experimental/GModule/src/Cohomology.jl
  src/GAP/gap_to_oscar.jl
  src/Groups/libraries/atlasgroups.jl
Labels: release notes: not needed

#4639 Remove `NoExperimentalCI/docs` job
  .github/workflows/NoExperimental.yml
  experimental/ExteriorAlgebra/test/runtests.jl
  experimental/NoExperimental_whitelist_.jl
  test/Rings/PBWAlgebraQuo.jl
Labels: triage, CI, release notes: not needed

#4637 Add cross-references to `demazure_character` docstrings
  docs/src/PolyhedralGeometry/Polyhedra/auxiliary.md
  experimental/LieAlgebras/src/SSLieAlgebraModule.jl
  src/PolyhedralGeometry/Polyhedron/standard_constructions.jl
Labels: documentation, topic: polyhedral geometry, topic: LieTheory, release notes: not needed

#4646 Remove last uses of `gap_to_julia`
  src/Groups/group_characters.jl
  test/GAP/gap_to_oscar.jl
Labels: package: GAP, release notes: not needed

#4591 Make `gap/` a GAP root directory
  gap/pkg/OscarInterface/PackageInfo.g
  gap/pkg/OscarInterface/README.md
  gap/pkg/OscarInterface/gap/ExperimentalMatrixGroups.g
  gap/pkg/OscarInterface/gap/OscarInterface.gd
  gap/pkg/OscarInterface/gap/OscarInterface.gi
  gap/pkg/OscarInterface/gap/alnuth.gi
  gap/pkg/OscarInterface/init.g
  gap/pkg/OscarInterface/julia/alnuth.jl
  gap/pkg/OscarInterface/read.g
  gap/pkg/OscarInterface/tst/alnuth/ALNUTH.tst
  gap/pkg/OscarInterface/tst/alnuth/examples.tst
  gap/pkg/OscarInterface/tst/alnuth/manual.tst
  gap/pkg/OscarInterface/tst/alnuth/polynome.tst
  gap/pkg/OscarInterface/tst/testall.g
  src/Oscar.jl
Labels: package: GAP, release notes: not needed

#4645 Bump Nemo to 0.49
  Project.toml
  docs/src/NumberTheory/abelian_closure.md
  experimental/FTheoryTools/src/AbstractFTheoryModels/attributes.jl
  test/book/cornerstones/groups/intro.jlcon
Labels: package: Nemo, backport 1.3.x

#4640 fix a `NiceMonomorphism` for GAP constructed in Oscar
  src/Groups/matrices/iso_nf_fq.jl
  test/Groups/matrixgroups.jl
Labels: topic: groups, release notes: not needed

#4571 Cleanup some code related to `dim(I) == -inf` checks
  experimental/Schemes/src/Resolution_structure.jl
  src/AlgebraicGeometry/Schemes/CoveredSchemes/Objects/Attributes.jl
  src/Rings/mpoly-affine-algebras.jl
  test/Rings/mpolyquo-localizations.jl
Labels: release notes: not needed, backport 1.3.x

#4452 AlgebraicGeometry: added graph_curve(::Graph)
  docs/oscar_references.bib
  docs/src/AlgebraicGeometry/Curves/ProjectiveCurves.md
  src/AlgebraicGeometry/AlgebraicGeometry.jl
  src/AlgebraicGeometry/Curves/GraphCurve.jl
  src/exports.jl
Labels: topic: algebraic geometry

#4592 Refactor the `extraperfect` library inclusion
  Project.toml
  gap/grp/perf27.grp
  gap/grp/perf33.grp
  src/GAP/GAP.jl
  src/GAP/utils.jl
  src/Groups/libraries/libraries.jl
  src/Groups/libraries/perfectgroups.jl
  test/Groups/libraries.jl
Labels: package: GAP, release notes: not needed

#4629 Move book tests to github runners
  .github/workflows/CI.yml
Labels: CI, release notes: not needed, backport 1.3.x

#4647 [FTheoryTools] Fix bug in G4-flux computation of big model
  experimental/FTheoryTools/src/FamilyOfG4Fluxes/special_constructors.jl
  experimental/FTheoryTools/src/G4Fluxes/auxiliary.jl
  experimental/FTheoryTools/src/G4Fluxes/constructors.jl
  experimental/FTheoryTools/test/FTM-1511-03209.jl
Labels: bug, topic: FTheoryTools, backport 1.3.x

#4638 Add more missing hash functions
  experimental/GModule/src/Cohomology.jl
  experimental/GModule/src/GrpExt.jl
  experimental/GaloisGrp/src/Subfields.jl
  src/Combinatorics/OrderedMultiIndex.jl
  src/NumberTheory/GaloisGrp/GaloisGrp.jl
Labels: release notes: not needed, backport 1.3.x

#4659 Implement `transitivity` and `rank_action` for $G$-sets
  docs/src/Groups/action.md
  src/Groups/gsets.jl
  test/Groups/gsets.jl
Labels: enhancement, topic: groups, release notes: use title

#4676 Fix `bracket` for `LieSubalgebra`s (it sometimes returned the wrong result)
  experimental/LieAlgebras/src/LieSubalgebra.jl
  experimental/LieAlgebras/test/LieSubalgebra-test.jl
Labels: topic: lie theory, release notes: use title, bug: wrong result

#4678 Add OSCAR acronym to docs
  docs/src/index.md
Labels: release notes: not needed

#4675 improve documentation, mainly for f.p. groups
  docs/src/Groups/fpgroup.md
  docs/src/Groups/grouphom.md
  docs/src/Groups/pcgroup.md
  src/Groups/GAPGroups.jl
  src/Groups/group_characters.jl
  src/Groups/pcgroup.jl
Labels: documentation, topic: groups, release notes: not needed

#4658 Backports for 1.3.0
  .github/workflows/CI.yml
  CHANGELOG.md
  CITATION.cff
  Project.toml
  README.md
  dev/releases/release_notes.py
  docs/doc.main
  docs/src/DeveloperDocumentation/changelog.md
  docs/src/DeveloperDocumentation/release.md
  docs/src/NumberTheory/abelian_closure.md
  experimental/FTheoryTools/docs/src/generalities.md
  experimental/FTheoryTools/src/AbstractFTheoryModels/attributes.jl
  experimental/FTheoryTools/src/FamilyOfG4Fluxes/special_constructors.jl
  experimental/FTheoryTools/src/G4Fluxes/auxiliary.jl
  experimental/FTheoryTools/src/G4Fluxes/constructors.jl
  experimental/FTheoryTools/src/LiteratureModels/Models/model1903_00009.json
  experimental/FTheoryTools/src/LiteratureModels/constructors.jl
  experimental/FTheoryTools/src/exports.jl
  experimental/FTheoryTools/test/FTM-1511-03209.jl
  experimental/FTheoryTools/test/literature_models.jl
  experimental/GModule/src/Cohomology.jl
  experimental/GModule/src/GrpExt.jl
  experimental/GaloisGrp/src/Subfields.jl
  experimental/Schemes/src/Resolution_structure.jl
  src/AlgebraicGeometry/Schemes/CoveredSchemes/Objects/Attributes.jl
  src/Combinatorics/OrderedMultiIndex.jl
  src/Groups/matrices/iso_nf_fq.jl
  src/NumberTheory/GaloisGrp/GaloisGrp.jl
  src/PolyhedralGeometry/iterators.jl
  src/Rings/mpoly-affine-algebras.jl
  test/Groups/matrixgroups.jl
  test/PolyhedralGeometry/types.jl
  test/Rings/mpolyquo-localizations.jl
  test/book/cornerstones/groups/intro.jlcon
Labels: release notes: not needed
