Repository oscar-system/Oscar.jl, pull requests merged in 2025-05, with the labels that each got.

#4836 Intersection theory: Extend docu
  experimental/IntersectionTheory/docs/src/AbstractBundles.md
  experimental/IntersectionTheory/docs/src/AbstractVarieties.md
  experimental/IntersectionTheory/docs/src/intro.md
  experimental/IntersectionTheory/src/Main.jl
  experimental/IntersectionTheory/src/blowup.jl
Labels: documentation, experimental

#4821 Export/document `character_table_complex_reflection_group`
  docs/oscar_references.bib
  docs/src/Groups/group_characters.md
  src/Groups/group_characters.jl
  src/exports.jl
  test/Groups/group_characters.jl
Labels: topic: groups, release notes: use title

#4849 Solving Issue #4848
  docs/src/CommutativeAlgebra/GroebnerBases/orderings.md
Labels: documentation, topic: commutative algebra, release notes: not needed

#4845 GroebnerWalk: Remove perturbed walk
  docs/oscar_references.bib
  experimental/GroebnerWalk/benchmark/benchmarks.jl
  experimental/GroebnerWalk/docs/src/introduction.md
  experimental/GroebnerWalk/examples/knapsack/goodknap.jl
  experimental/GroebnerWalk/examples/ku10.jl
  experimental/GroebnerWalk/examples/randomQQ.jl
  experimental/GroebnerWalk/examples/zero-dimensional/finitefield.jl
  experimental/GroebnerWalk/results.csv
  experimental/GroebnerWalk/src/GroebnerWalk.jl
  experimental/GroebnerWalk/src/common.jl
  experimental/GroebnerWalk/src/perturbed_walk.jl
  experimental/GroebnerWalk/src/standard_walk.jl
Labels: experimental

#4851 `is_gen` for graded rings
  src/Rings/mpoly-graded.jl
  test/Rings/mpoly-graded.jl
Labels: topic: commutative algebra, release notes: not needed

#4853 Replace a call to SRow by sparse_row
  src/Modules/UngradedModules/SubquoModuleElem.jl
Labels: topic: commutative algebra, release notes: not needed

#4862 Add `divexact` for `MPolyQuoRingElem`
  src/Rings/MPolyQuo.jl
  test/Rings/MPolyQuo.jl
Labels: topic: commutative algebra, release notes: not needed

#4841 Fix saturation for principal ideals
  src/Rings/mpoly-ideals.jl
  test/Rings/mpoly.jl
  test/book/specialized/brandhorst-zach-fibration-hopping/vinberg_2.jlcon
Labels: topic: commutative algebra, release notes: use title, backport 1.3.x

#4808 Enable CI caching for failed jobs
  .github/workflows/CI.yml
  .github/workflows/Docstrings.yml
  .github/workflows/NoExperimental.yml
Labels: CI, release notes: not needed

#4844 [FTheoryTools] Some minor improvements
  Artifacts.toml
  experimental/FTheoryTools/src/AbstractFTheoryModels/attributes.jl
  experimental/FTheoryTools/src/FamilyOfG4Fluxes/attributes.jl
  experimental/FTheoryTools/src/FamilyOfG4Fluxes/constructors.jl
  experimental/FTheoryTools/src/FamilyOfG4Fluxes/methods.jl
  experimental/FTheoryTools/src/FamilyOfG4Fluxes/properties.jl
  experimental/FTheoryTools/src/FamilyOfG4Fluxes/special_constructors.jl
  experimental/FTheoryTools/src/FamilyOfSpaces/attributes.jl
  experimental/FTheoryTools/src/FamilyOfSpaces/constructors.jl
  experimental/FTheoryTools/src/G4Fluxes/attributes.jl
  experimental/FTheoryTools/src/G4Fluxes/auxiliary.jl
  experimental/FTheoryTools/src/G4Fluxes/constructors.jl
  experimental/FTheoryTools/src/G4Fluxes/properties.jl
  experimental/FTheoryTools/src/HypersurfaceModels/constructors.jl
  experimental/FTheoryTools/src/LiteratureModels/Models/model1511_03209.json
  experimental/FTheoryTools/src/LiteratureModels/constructors.jl
  experimental/FTheoryTools/src/TateModels/constructors.jl
  experimental/FTheoryTools/src/WeierstrassModels/constructors.jl
  experimental/FTheoryTools/src/standard_constructions.jl
  experimental/FTheoryTools/test/FTM-1511-03209.jl
Labels: topic: FTheoryTools, release notes: to be added

#4866 [FTheoryTools] Better constructor for hypersurface models
  experimental/FTheoryTools/src/HypersurfaceModels/constructors.jl
Labels: enhancement, topic: FTheoryTools, release notes: not needed

#4869 Update QSM Artifact
  Artifacts.toml
  experimental/FTheoryTools/src/LiteratureModels/constructors.jl
Labels: enhancement, topic: FTheoryTools, release notes: use title

#4371 set caching of polynomial rings to `false` in AG
  src/AlgebraicGeometry/Schemes/AffineSchemes/Morphisms/Methods.jl
  src/AlgebraicGeometry/Schemes/AffineSchemes/Objects/Methods.jl
  src/AlgebraicGeometry/Schemes/CoveredProjectiveScheme/CoveredProjectiveScheme.jl
  test/AlgebraicGeometry/Schemes/AffineSchemes.jl
Labels: topic: algebraic geometry, release notes: not needed

#4822 Updated I/O for Clifford algebras in separate file
  experimental/CliffordAlgOrd/src/CliffordAlgOrd.jl
  experimental/CliffordAlgOrd/src/CliffordAlgebra.jl
  experimental/CliffordAlgOrd/src/CliffordOrder.jl
  experimental/CliffordAlgOrd/src/IO.jl
Labels: experimental, printing, release notes: not needed

#4874 Remove an useless doctestfilter
  docs/src/NumberTheory/galois.md
Labels: documentation, release notes: not needed

#4878 Fix `symmetric_power` of a dim 0 module
  experimental/LieAlgebras/src/Combinatorics.jl
  experimental/LieAlgebras/test/Combinatorics-test.jl
Labels: topic: lie theory, release notes: use title

#4873 Pass `Oscar.doctestfilters()` to all `doctest` invocations
  .github/workflows/CI.yml
  .github/workflows/NoExperimental.yml
  docs/make_work.jl
  src/utils/docs.jl
  src/utils/tests.jl
  test/book/test.jl
Labels: documentation, nightly

#4879 Add is_perfect for algebraic closure
  src/Rings/AlgClosureFp.jl
  test/Rings/AlgClosureFp.jl
Labels: enhancement, topic: number theory, release notes: use title

#4883 downgrade surfaces to version 1.3
  data/Surfaces/abelian_d10_pi6.mrdi
  data/Surfaces/abelian_d15_pi21_quintic_1.mrdi
  data/Surfaces/abelian_d15_pi21_quintic_3.mrdi
  data/Surfaces/bielliptic_d10_pi6.mrdi
  data/Surfaces/bielliptic_d15_pi21.mrdi
  data/Surfaces/bordiga.mrdi
  data/Surfaces/castelnuovo.mrdi
  data/Surfaces/cubic_scroll.mrdi
  data/Surfaces/elliptic_d10_pi10.mrdi
  data/Surfaces/elliptic_d10_pi9.mrdi
  data/Surfaces/elliptic_d11_pi12.mrdi
  data/Surfaces/elliptic_d12_pi13.mrdi
  data/Surfaces/elliptic_d12_pi14_ss_0.mrdi
  data/Surfaces/elliptic_d12_pi14_ss_inf.mrdi
  data/Surfaces/elliptic_d7_pi6.mrdi
  data/Surfaces/elliptic_d8_pi7.mrdi
  data/Surfaces/elliptic_d9_pi7.mrdi
  data/Surfaces/enriques_d10_pi8.mrdi
  data/Surfaces/enriques_d11_pi10.mrdi
  data/Surfaces/enriques_d13_pi16.mrdi
  data/Surfaces/enriques_d13_pi16_two.mrdi
  data/Surfaces/enriques_d9_pi6.mrdi
  data/Surfaces/k3_d10_pi9_quart_1.mrdi
  data/Surfaces/k3_d10_pi9_quart_2.mrdi
  data/Surfaces/k3_d11_pi11_ss_0.mrdi
  data/Surfaces/k3_d11_pi11_ss_1.mrdi
  data/Surfaces/k3_d11_pi11_ss_2.mrdi
  data/Surfaces/k3_d11_pi11_ss_3.mrdi
  data/Surfaces/k3_d11_pi12.mrdi
  data/Surfaces/k3_d12_pi14.mrdi
  data/Surfaces/k3_d13_pi16.mrdi
  data/Surfaces/k3_d14_pi19.mrdi
  data/Surfaces/k3_d7_pi5.mrdi
  data/Surfaces/k3_d8_pi6.mrdi
  data/Surfaces/k3_d9_pi8.mrdi
  data/Surfaces/quintic_elliptic_scroll.mrdi
  data/Surfaces/rational_d10_pi8.mrdi
  data/Surfaces/rational_d10_pi9_quart_1.mrdi
  data/Surfaces/rational_d10_pi9_quart_2.mrdi
  data/Surfaces/rational_d11_pi11_ss_0.mrdi
  data/Surfaces/rational_d11_pi11_ss_1.mrdi
  data/Surfaces/rational_d11_pi11_ss_inf.mrdi
  data/Surfaces/rational_d7_pi4.mrdi
  data/Surfaces/rational_d8_pi5.mrdi
  data/Surfaces/rational_d8_pi6.mrdi
  data/Surfaces/rational_d9_pi6.mrdi
  data/Surfaces/rational_d9_pi7.mrdi
  data/Surfaces/veronese.mrdi
Labels: serialization

#4870 Add input check for `FreeModuleHom`s
  experimental/DoubleAndHyperComplexes/src/Objects/induced_ENC.jl
  src/Modules/UngradedModules/FreeModuleHom.jl
  src/Modules/UngradedModules/Tensor.jl
Labels: topic: commutative algebra, release notes: not needed

#4886 BasisLieHighestWeight: Refactor by introducing an internal `ModuleData` struct
  experimental/BasisLieHighestWeight/src/BasisLieHighestWeight.jl
  experimental/BasisLieHighestWeight/src/BirationalSequence.jl
  experimental/BasisLieHighestWeight/src/MainAlgorithm.jl
  experimental/BasisLieHighestWeight/src/ModuleData.jl
  experimental/BasisLieHighestWeight/src/MonomialBasis.jl
  experimental/BasisLieHighestWeight/src/NewMonomial.jl
  experimental/BasisLieHighestWeight/src/UserFunctions.jl
  experimental/BasisLieHighestWeight/test/NewMonomial-test.jl
Labels: topic: lie theory, experimental, release notes: not needed

#4706 Improve comparison of morphisms of modules
  src/Misc/MoveToAbstractAlgebra.jl
  src/Misc/MoveToHecke.jl
  src/Modules/UngradedModules/SubQuoHom.jl
  src/Modules/mpolyquo.jl
  src/Rings/mpolyquo-localizations.jl
  src/imports.jl
  test/Modules/UngradedModules.jl
Labels: topic: commutative algebra, release notes: use title

#4810 Fix `tensor_product` for `SubquoModules`
  experimental/DoubleAndHyperComplexes/src/Morphisms/free_resolutions.jl
  experimental/DoubleAndHyperComplexes/src/Objects/induced_ENC.jl
  experimental/DoubleAndHyperComplexes/src/Objects/tensor_products.jl
  src/Modules/UngradedModules/HomologicalAlgebra.jl
  src/Modules/UngradedModules/Tensor.jl
  test/Modules/ModulesGraded.jl
  test/Modules/UngradedModules.jl
Labels: topic: commutative algebra, release notes: use title

#4894 Bump AlgebraicSolving to v0.9.0
  Project.toml
Labels: package: AlgebraicSolving, release notes: use title

#4896 Switch to the new logo
  docs/src/assets/logo-dark.svg
  docs/src/assets/logo.png
  docs/src/assets/logo.svg
Labels: release notes: not needed

#4893 Encapsulate `groebner_assure` & friends in `PBWAlgebra(Quo).jl`
  src/Rings/PBWAlgebra.jl
  src/Rings/PBWAlgebraQuo.jl
Labels: topic: commutative algebra, release notes: not needed

#4887 Fix some failures with Julia nightly, add missing `action_homomorphism(Omega::GSetByElements{FinGenAbGroup, S})` method
  gap/pkg/OscarInterface/tst/alnuth/ALNUTH.tst
  gap/pkg/OscarInterface/tst/alnuth/manual.tst
  src/Groups/GrpAb.jl
  test/Groups/gsets.jl
Labels: topic: groups, nightly, release notes: not needed

#4895 Bump AA to v0.45, Nemo to v0.50, Hecke to v0.36
  Project.toml
  docs/src/TropicalGeometry/hypersurface.md
  experimental/CliffordAlgOrd/src/CliffordAlgebra.jl
  experimental/CliffordAlgOrd/src/CliffordOrder.jl
  experimental/GModule/src/GaloisCohomology.jl
  experimental/QAnalogs/src/QAnalogs.jl
  experimental/QuadFormAndIsom/src/lattices_with_isometry.jl
  src/AlgebraicGeometry/Surfaces/EllipticSurface/EllipticSurface.jl
  src/AlgebraicGeometry/Surfaces/EllipticSurface/Morphisms.jl
  src/AlgebraicGeometry/Surfaces/EllipticSurface/NeighborStep.jl
  src/AlgebraicGeometry/ToricVarieties/NormalToricVarieties/constructors.jl
  src/Combinatorics/Graphs/functions.jl
  src/Misc/MoveToAbstractAlgebra.jl
  src/Misc/MoveToHecke.jl
  src/PolyhedralGeometry/PolyhedralComplex/constructors.jl
  src/PolyhedralGeometry/PolyhedralComplex/properties.jl
  src/PolyhedralGeometry/PolyhedralComplex/standard_constructions.jl
  src/PolyhedralGeometry/PolyhedralFan/properties.jl
  src/PolyhedralGeometry/PolyhedralFan/standard_constructions.jl
  src/PolyhedralGeometry/Polyhedron/standard_constructions.jl
  src/PolyhedralGeometry/SubdivisionOfPoints/properties.jl
  src/PolyhedralGeometry/groups.jl
  src/PolyhedralGeometry/helpers.jl
  src/Serialization/Rings.jl
  test/book/cornerstones/groups/explSL25.jlcon
  test/book/cornerstones/number-theory/embeddings.jlcon
  test/book/cornerstones/number-theory/intro.jlcon
  test/book/cornerstones/number-theory/sym.jlcon
  test/book/specialized/bies-kastner-toric-geometry/polyhedral_fan.jlcon
  test/book/specialized/breuer-nebe-parker-orthogonal-discriminants/expl_ray_class.jlcon
  test/book/specialized/holt-ren-tropical-geometry/hypersurface1.jlcon
  test/book/specialized/holt-ren-tropical-geometry/linearSpace1.jlcon
Labels: package: Hecke, package: Nemo, package: AbstractAlgebra, release notes: to be added

#4900 Type stabilize some code for `WeylGroup`s
  experimental/LieAlgebras/src/WeylGroup.jl
  experimental/LieAlgebras/test/WeylGroup-test.jl
  src/Groups/sub.jl
Labels: topic: groups, topic: lie theory, release notes: not needed

#4902 Replace wrong helper function is nmbthy tests
  test/NumberTheory/nmbthy.jl
Labels: topic: number theory, release notes: not needed

#4903 Fix irreducibility test for `AbsSimpleNumFieldOrderElem`
  src/NumberTheory/NmbThy.jl
Labels: topic: number theory, release notes: use title

#4871 Replace `OrderedMultiIndex` with `Combination`
  docs/oscar_references.bib
  experimental/DoubleAndHyperComplexes/src/Objects/Methods.jl
  experimental/DoubleAndHyperComplexes/src/Objects/eagon_northcott_complex.jl
  experimental/DoubleAndHyperComplexes/src/Objects/induced_ENC.jl
  experimental/DoubleAndHyperComplexes/src/Objects/new_koszul_complexes.jl
  experimental/Schemes/src/Resolution_structure.jl
  src/Combinatorics/EnumerativeCombinatorics/combinations.jl
  src/Modules/ExteriorPowers/FreeModules.jl
  src/Modules/ExteriorPowers/Generic.jl
  src/Modules/ExteriorPowers/SubQuo.jl
  src/exports.jl
  test/Combinatorics/EnumerativeCombinatorics/combinations.jl
  test/Modules/ExteriorPowers.jl
Labels: topic: combinatorics

#4839 Add accessors `group` and `subgroup` for `SubgroupTransversal`
  docs/src/Groups/subgroups.md
  src/Groups/cosets.jl
  src/exports.jl
Labels: enhancement, topic: groups, release notes: use title

#4331 unify type encoding for similar types
  src/Serialization/Fields.jl
  src/Serialization/PolyhedralGeometry.jl
  src/Serialization/Rings.jl
  src/Serialization/Upgrades/0.11.3.jl
  src/Serialization/Upgrades/0.12.0.jl
  src/Serialization/Upgrades/1.4.0.jl
  src/Serialization/main.jl
  src/Serialization/serializers.jl
Labels: serialization, release notes: use title

#4905 Fix `pc_group_with_isomorphism(::FinGenAbGroup)`
  experimental/GModule/src/Cohomology.jl
Labels: topic: number theory, experimental, release notes: use title

#4904 docs: make some things more explicit in "Documenting Code" section
  docs/src/DeveloperDocumentation/documentation.md
Labels: documentation, release notes: not needed

#4910 Stabilize FinGenAbGrp tests
  test/Groups/GrpAb.jl
Labels: topic: groups, nightly, release notes: not needed

#4908 test/PolyhedralGeometry: make sure to select correct roots / embedding
  test/PolyhedralGeometry/scalar_types.jl
Labels: topic: polyhedral geometry, testsuite, nightly, release notes: not needed

#4898 Incorporate new logo in banner
  README.md
  src/Oscar.jl
Labels: release notes: not needed

#4850 Add `quo` for `LaurentMPolyWrapRing`
  src/Rings/Laurent.jl
  test/Rings/Laurent.jl
Labels: release notes: use title

#3928 Combinatorics: partially ordered sets
  docs/doc.main
  docs/oscar_references.bib
  docs/src/Combinatorics/graphs.md
  docs/src/Combinatorics/posets.md
  experimental/GroebnerWalk/src/common.jl
  src/Combinatorics/Graphs/functions.jl
  src/Combinatorics/PartiallyOrderedSet/functions.jl
  src/Combinatorics/PartiallyOrderedSet/structs.jl
  src/Oscar.jl
  src/aliases.jl
  src/exports.jl
  test/Combinatorics/Graph.jl
  test/Combinatorics/Posets.jl
Labels: topic: combinatorics

#4911 posets: fixup incidencematrix printing in doctest after merge
  src/Combinatorics/PartiallyOrderedSet/functions.jl
Labels: topic: combinatorics, embarrassing-bugfix, release notes: not needed

#4909 Printing of free resolutions
  docs/src/CommutativeAlgebra/affine_algebras.md
  docs/src/CommutativeAlgebra/homological_algebra.md
  docs/src/CommutativeAlgebra/rings.md
  src/Modules/ModuleTypes.jl
  src/Modules/ModulesGraded.jl
  src/Modules/UngradedModules/FreeResolutions.jl
  src/Rings/mpoly.jl
  src/exports.jl
Labels: topic: commutative algebra, printing

#4914 remove old parallel methods so we don't have to deprecate later
  docs/doc.main
  docs/src/DeveloperDocumentation/parallel.md
  src/Serialization/parallel.jl
  test/Serialization/IPC.jl
  test/runtests.jl
Labels: serialization, release notes: not needed

#4918 Docu: Small update following PR #4890
  docs/src/CommutativeAlgebra/GroebnerBases/orderings.md
  src/Rings/orderings.jl
Labels: documentation, topic: commutative algebra, release notes: not needed

#4912 Filter hash changes in nightly doctests
  docs/src/NumberTheory/galois.md
  docs/src/Rings/integer.md
  experimental/AlgebraicShifting/src/PartialShift.jl
  experimental/AlgebraicShifting/src/PartialShiftGraph.jl
  experimental/AlgebraicStatistics/src/GaussianGraphicalModels.jl
  experimental/AlgebraicStatistics/src/Markov.jl
  experimental/AlgebraicStatistics/src/PhylogeneticParametrization.jl
  experimental/FTheoryTools/src/AbstractFTheoryModels/attributes.jl
  experimental/FTheoryTools/src/G4Fluxes/auxiliary.jl
  experimental/FTheoryTools/src/HypersurfaceModels/attributes.jl
  experimental/FTheoryTools/src/HypersurfaceModels/methods.jl
  experimental/FTheoryTools/src/LiteratureModels/constructors.jl
  experimental/FTheoryTools/src/TateModels/methods.jl
  experimental/LieAlgebras/src/SSLieAlgebraModule.jl
  experimental/SetPartitions/src/LinearPartition.jl
  src/AlgebraicGeometry/ToricVarieties/AlgebraicCycles/special_attributes.jl
  src/Combinatorics/SimplicialComplexes.jl
  src/Groups/action.jl
  src/Groups/gsets.jl
  src/PolyhedralGeometry/PolyhedralFan/properties.jl
  src/PolyhedralGeometry/PolyhedralFan/standard_constructions.jl
  src/PolyhedralGeometry/helpers.jl
  src/Rings/AbelianClosure.jl
  src/Rings/MPolyQuo.jl
  src/Rings/mpoly-affine-algebras.jl
  src/Rings/solving.jl
  src/TropicalGeometry/variety.jl
  src/utils/docs.jl
Labels: testsuite, nightly, release notes: not needed

#4917 Clean up evaluation of `FracFieldElem`s
  Project.toml
  src/Misc/MoveToAbstractAlgebra.jl
Labels: release notes: not needed

#4923 fix `local_schur_indices`
  src/GAP/wrappers.jl
  src/Groups/group_characters.jl
  src/Groups/schur_index.jl
  test/Groups/group_characters.jl
  test/Groups/schur_index.jl
Labels: topic: groups

#4927 Don't import non-existent `free_show`
  experimental/InjectiveResolutions/src/InjectiveResolutions.jl
Labels: experimental, release notes: not needed

#4934 _quantum_automorphism_group_indices: avoid getproperty hack
  src/Combinatorics/Matroids/quantum_automorphism_groups.jl
Labels: topic: combinatorics, release notes: not needed

#4924 Remove more singular_assures
  src/Modules/UngradedModules/HomologicalAlgebra.jl
  src/Modules/UngradedModules/ModuleGens.jl
  src/Modules/UngradedModules/SubquoModuleElem.jl
  src/Modules/homological-algebra.jl
  test/Modules/UngradedModules.jl
Labels: topic: commutative algebra, release notes: not needed

#4945 Use ItemQuantity in show for FreeAssociativeAlgebraIdeal
  src/Rings/FreeAssociativeAlgebraIdeal.jl
Labels: printing, release notes: not needed
