Repository oscar-system/Oscar.jl, pull requests merged in 2025-08, with the labels that each got.

#5170 [FTheoryTools] Overhaul verbosity printing
  experimental/FTheoryTools/docs/src/family_of_spaces.md
  experimental/FTheoryTools/docs/src/generalities.md
  experimental/FTheoryTools/src/AbstractFTheoryModels/Attributes/basic_attributes.jl
  experimental/FTheoryTools/src/AbstractFTheoryModels/Attributes/precomputed_attributes.jl
  experimental/FTheoryTools/src/AbstractFTheoryModels/Attributes/section_attributes.jl
  experimental/FTheoryTools/src/AbstractFTheoryModels/Methods/adders.jl
  experimental/FTheoryTools/src/AbstractFTheoryModels/Methods/blowups.jl
  experimental/FTheoryTools/src/AbstractFTheoryModels/Methods/put_over_concrete_base.jl
  experimental/FTheoryTools/src/AbstractFTheoryModels/Properties/properties.jl
  experimental/FTheoryTools/src/G4Fluxes/auxiliary.jl
  experimental/FTheoryTools/src/HypersurfaceModels/attributes.jl
  experimental/FTheoryTools/src/HypersurfaceModels/constructors.jl
  experimental/FTheoryTools/src/LiteratureModels/constructors.jl
  experimental/FTheoryTools/src/TateModels/attributes.jl
  experimental/FTheoryTools/src/TateModels/constructors.jl
  experimental/FTheoryTools/src/TunedModels/constructors.jl
  experimental/FTheoryTools/src/WeierstrassModels/constructors.jl
  experimental/FTheoryTools/test/setup_tests.jl
  test/book/specialized/bies-turner-string-theory-applications/SU5-2.jlcon
Labels: optimization, topic: FTheoryTools, release notes: not needed, extra-long

#5169 Update the labeled graph docs
  src/Combinatorics/Graphs/functions.jl
Labels: topic: combinatorics, release notes: not needed

#5171 slightly improved docs for graphs
  docs/src/Combinatorics/graphs.md
  src/Combinatorics/Graphs/functions.jl
Labels: documentation, topic: combinatorics, release notes: not needed

#5178 Change some longer tests to be extra-long
  experimental/FTheoryTools/test/FTM-1511-03209.jl
  experimental/FTheoryTools/test/literature_models.jl
  experimental/FTheoryTools/test/long_QSMs.jl
  experimental/FTheoryTools/test/singular_loci.jl
  experimental/FTheoryTools/test/tate_models.jl
  test/runtests.jl
Labels: topic: FTheoryTools, release notes: use title, extra-long

#5075 `homology` now works with `ComplexOfMorphisms{AbstractAlgebra.FPModule{FqFieldElem}}`
  src/Modules/UngradedModules/HomologicalAlgebra.jl
  test/Modules/UngradedModules.jl
Labels: topic: commutative algebra, release notes: not needed

#5187 Mention documentation preview in developer documentation of documentation
  docs/src/DeveloperDocumentation/documentation.md
Labels: documentation, release notes: not needed

#5185 Fix radical over integers
  src/Rings/mpoly-ideals.jl
  src/Rings/mpolyquo-localizations.jl
  test/Rings/mpoly.jl
Labels: topic: commutative algebra, release notes: use title

#5184 Parameterize change group type docstring
  src/Groups/homomorphisms.jl
Labels: documentation, topic: groups, release notes: not needed

#5192 Another round of (book) test changes for nightly
  gap/pkg/OscarInterface/tst/alnuth/ALNUTH.tst
  test/book/cornerstones/algebraic-geometry/circlepar-v1.13.jlcon
  test/book/cornerstones/groups/genchar-v1.13.jlcon
  test/book/cornerstones/number-theory/galoismod.jlcon
  test/book/cornerstones/number-theory/intro-v1.13.jlcon
  test/book/specialized/brandhorst-zach-fibration-hopping/vinberg_1-v1.13.jlcon
Labels: nightly, oscar book, release notes: not needed

#5165 fix `show` for `AutomorphismGroup`
  src/Groups/abelian_aut.jl
  src/Groups/homomorphisms.jl
  src/Groups/types.jl
Labels: bug, topic: groups, release notes: not needed

#5191 Adds support for multidimensional Array serialization
  src/Serialization/containers.jl
  src/Serialization/main.jl
  test/Serialization/containers.jl
Labels: serialization, release notes: use title

#5211 Add `is_acylic` function for directed graphs
  src/Combinatorics/Graphs/functions.jl
  src/exports.jl
  test/Combinatorics/Graph.jl
Labels: topic: combinatorics, release notes: use title

#5213 Link to website in README for "How to cite OSCAR"
  README.md
  docs/src/General/faq.md
  docs/src/index.md
Labels: release notes: not needed

#5223 some bypass surgery for pmap
  experimental/Parallel/src/Parallel.jl
  experimental/Parallel/test/OscarWorkerPool.jl
Labels: serialization, embarrassing-bugfix, experimental, release notes: not needed

#5139 Adapt to NemoExt in GAP
  src/GAP/gap_to_oscar.jl
  src/GAP/oscar_to_gap.jl
  test/GAP/gap_to_oscar.jl
  test/GAP/oscar_to_gap.jl
Labels: package: GAP, release notes: not needed

#5207 Move phylogenetics
  src/Combinatorics/PhylogeneticTrees.jl
  src/Oscar.jl
Labels: topic: combinatorics, release notes: not needed

#5232 Fix `build_doc` issues with Julia 1.12, deduplicate printing docs, fix a broken link
  docs/make_work.jl
  docs/src/DeveloperDocumentation/printing_details.md
  docs/src/General/printing.md
  experimental/InjectiveResolutions/docs/doc.main
Labels: documentation, release notes: not needed

#5222 [FTheoryTools] Reduce code duplication
  experimental/FTheoryTools/src/FTheoryTools.jl
  experimental/FTheoryTools/src/Serialization/hypersurface_models.jl
  experimental/FTheoryTools/src/Serialization/tate_models.jl
  experimental/FTheoryTools/src/Serialization/weierstrass_models.jl
  experimental/FTheoryTools/src/serialization.jl
Labels: serialization, optimization, topic: FTheoryTools, release notes: not needed, extra-long

#5227 fix creation of `class_function` objects
  src/Groups/group_characters.jl
  test/Groups/group_characters.jl
Labels: topic: groups, release notes: not needed, bug: unexpected error

#5238 Bump `serialization-upgrade-tests`
  test/Serialization/upgrades/setup_tests.jl
Labels: serialization, release notes: not needed

#5240 Add `change_base_ring` for graded multivariate rings
  src/Rings/primary_decomposition_helpers.jl
  test/Rings/mpoly-graded.jl
Labels: topic: commutative algebra, release notes: use title

#5241 Add rational_solutions over larger field
  docs/src/CommutativeAlgebra/ideals.md
  src/Rings/solving.jl
  test/Rings/solving.jl
Labels: topic: commutative algebra, release notes: use title

#5249 Cleaner Upgrade handling
  src/Serialization/Upgrades/0.15.0.jl
  src/Serialization/Upgrades/1.1.0.jl
  src/Serialization/Upgrades/1.2.0.jl
  src/Serialization/Upgrades/1.3.0.jl
  src/Serialization/Upgrades/1.4.0.jl
  src/Serialization/Upgrades/main.jl
Labels: serialization, release notes: not needed, extra-long
