Repository oscar-system/Oscar.jl, pull requests merged in 2025-03, with the labels that each got.

#4689 doctests: use [...] to indicate omitted stacktraces in error messages
  docs/src/Rings/integer.md
  docs/src/Rings/rational.md
  experimental/SetPartitions/src/ColoredPartition.jl
  experimental/SetPartitions/src/SetPartition.jl
  experimental/SetPartitions/src/SpatialPartition.jl
  src/Groups/GAPGroups.jl
  src/Groups/group_constructors.jl
  src/Groups/gsets.jl
  src/Groups/libraries/atlasgroups.jl
  src/Groups/libraries/fewclassesgroups.jl
  src/Groups/libraries/perfectgroups.jl
  src/Groups/libraries/primitivegroups.jl
  src/Groups/libraries/smallgroups.jl
  src/Groups/libraries/transitivegroups.jl
  src/Groups/sub.jl
Labels: release notes: not needed

#4700 Add doctest for semidirect_product
  src/Groups/directproducts.jl
Labels: topic: groups, printing, release notes: not needed

#4704 Temporarily disable extra-long test content
  experimental/FTheoryTools/test/FTM-1511-03209.jl
Labels: topic: FTheoryTools, CI, release notes: not needed

#4679 doc: add suggestions on formulations in changelog
  docs/src/DeveloperDocumentation/changelog.md
Labels: documentation, release notes: not needed

#4620 FTheory Tools attributes
  Artifacts.toml
  docs/src/DeveloperDocumentation/changelog.md
  experimental/FTheoryTools/src/AbstractFTheoryModels/attributes.jl
  experimental/FTheoryTools/src/AbstractFTheoryModels/methods.jl
  experimental/FTheoryTools/src/FTheoryTools.jl
  experimental/FTheoryTools/src/FamilyOfG4Fluxes/attributes.jl
  experimental/FTheoryTools/src/FamilyOfG4Fluxes/constructors.jl
  experimental/FTheoryTools/src/FamilyOfG4Fluxes/methods.jl
  experimental/FTheoryTools/src/FamilyOfG4Fluxes/properties.jl
  experimental/FTheoryTools/src/FamilyOfG4Fluxes/special_constructors.jl
  experimental/FTheoryTools/src/G4Fluxes/attributes.jl
  experimental/FTheoryTools/src/G4Fluxes/constructors.jl
  experimental/FTheoryTools/src/LiteratureModels/constructors.jl
  experimental/FTheoryTools/src/Serialization/hypersurface_models.jl
  experimental/FTheoryTools/src/Serialization/qsm_models.jl
  experimental/FTheoryTools/src/Serialization/tate_models.jl
  experimental/FTheoryTools/src/Serialization/weierstrass_models.jl
  experimental/FTheoryTools/test/literature_models.jl
  experimental/FTheoryTools/test/tate_models.jl
  src/Serialization/Upgrades/1.4.0.jl
  src/Serialization/main.jl
  test/Serialization/PolyhedralGeometry.jl
Labels: serialization, topic: FTheoryTools

#4695 Fix Chevalley basis; add more functionality
  experimental/LieAlgebras/src/AbstractLieAlgebra.jl
  experimental/LieAlgebras/src/LieAlgebra.jl
  experimental/LieAlgebras/src/LieAlgebras.jl
  experimental/LieAlgebras/src/LinearLieAlgebra.jl
  experimental/LieAlgebras/src/iso_oscar_gap.jl
  experimental/LieAlgebras/test/AbstractLieAlgebra-test.jl
  experimental/LieAlgebras/test/setup_tests.jl
Labels: topic: lie theory, release notes: to be added, backport 1.3.x, bug: wrong result

#4717 [FTheoryTools] Tiny fix for F11 model
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-11.json
Labels: enhancement, topic: FTheoryTools

#4162 Serialization Refactor
  Artifacts.toml
  docs/src/DeveloperDocumentation/changelog.md
  docs/src/DeveloperDocumentation/serialization.md
  experimental/FTheoryTools/src/AbstractFTheoryModels/attributes.jl
  experimental/FTheoryTools/src/AbstractFTheoryModels/methods.jl
  experimental/FTheoryTools/src/FTheoryTools.jl
  experimental/FTheoryTools/src/FamilyOfG4Fluxes/attributes.jl
  experimental/FTheoryTools/src/FamilyOfG4Fluxes/constructors.jl
  experimental/FTheoryTools/src/FamilyOfG4Fluxes/methods.jl
  experimental/FTheoryTools/src/FamilyOfG4Fluxes/properties.jl
  experimental/FTheoryTools/src/FamilyOfG4Fluxes/special_constructors.jl
  experimental/FTheoryTools/src/G4Fluxes/attributes.jl
  experimental/FTheoryTools/src/G4Fluxes/constructors.jl
  experimental/FTheoryTools/src/LiteratureModels/constructors.jl
  experimental/FTheoryTools/src/Serialization/hypersurface_models.jl
  experimental/FTheoryTools/src/Serialization/qsm_models.jl
  experimental/FTheoryTools/src/Serialization/tate_models.jl
  experimental/FTheoryTools/src/Serialization/weierstrass_models.jl
  experimental/FTheoryTools/test/literature_models.jl
  experimental/FTheoryTools/test/tate_models.jl
  experimental/LieAlgebras/src/serialization.jl
  experimental/LieAlgebras/test/setup_tests.jl
  experimental/NoExperimental_whitelist_.jl
  experimental/QuadFormAndIsom/src/serialization.jl
  experimental/QuadFormAndIsom/test/runtests.jl
  gap/pkg/OscarInterface/gap/OscarInterface.gd
  gap/pkg/OscarInterface/gap/OscarInterface.gi
  src/Serialization/Algebras.jl
  src/Serialization/Fields.jl
  src/Serialization/GAP.jl
  src/Serialization/Groups.jl
  src/Serialization/LieTheory.jl
  src/Serialization/MPolyMap.jl
  src/Serialization/PolyhedralGeometry.jl
  src/Serialization/QuadForm.jl
  src/Serialization/Rings.jl
  src/Serialization/ToricGeometry.jl
  src/Serialization/TropicalGeometry.jl
  src/Serialization/Upgrades/0.13.0.jl
  src/Serialization/Upgrades/1.4.0.jl
  src/Serialization/Upgrades/main.jl
  src/Serialization/basic_types.jl
  src/Serialization/containers.jl
  src/Serialization/main.jl
  src/Serialization/polymake.jl
  src/Serialization/serializers.jl
  test/AlgebraicGeometry/ToricVarieties/pr3006.ntv
  test/Project.toml
  test/Serialization/IPC.jl
  test/Serialization/PolyhedralGeometry.jl
  test/Serialization/PolynomialsSeries.jl
  test/Serialization/containers.jl
  test/Serialization/loading.jl
  test/Serialization/polynomial-example.mrdi
  test/Serialization/vlp.mrdi
Labels: serialization

#4718 Optimize many uses of `unique`; use `allunique` and `allequal`
  Project.toml
  experimental/AlgebraicStatistics/test/runtests.jl
  experimental/FTheoryTools/src/FamilyOfG4Fluxes/special_constructors.jl
  experimental/GITFans/src/GITFans.jl
  experimental/GModule/src/GModule.jl
  experimental/ModStd/src/ModStdNF.jl
  experimental/SymmetricIntersections/test/runtests.jl
  src/AlgebraicGeometry/Surfaces/K3Auto.jl
  src/Combinatorics/Matroids/matroids.jl
  src/Combinatorics/Matroids/quantum_automorphism_groups.jl
  src/Groups/sub.jl
  src/Modules/ExteriorPowers/FreeModules.jl
  src/Modules/ModulesGraded.jl
  src/Modules/UngradedModules/SubQuoHom.jl
  src/NumberTheory/GaloisGrp/GaloisGrp.jl
  src/NumberTheory/GaloisGrp/Qt.jl
  src/PolyhedralGeometry/Polyhedron/properties.jl
  src/Rings/AbelianClosure.jl
  src/Rings/AlgClosureFp.jl
  src/imports.jl
  test/Aqua.jl
  test/Combinatorics/EnumerativeCombinatorics/compositions.jl
  test/Combinatorics/EnumerativeCombinatorics/partitions.jl
  test/Combinatorics/EnumerativeCombinatorics/tableaux.jl
  test/Combinatorics/EnumerativeCombinatorics/weak_compositions.jl
  test/Groups/Permutations.jl
  test/Groups/conformance.jl
  test/Groups/group_characters.jl
  test/Groups/tom.jl
  test/LieTheory/WeylGroup.jl
  test/Project.toml
  test/Rings/mpoly-graded.jl
  test/Rings/mpoly.jl
Labels: optimization, release notes: not needed

#4655 Optimize some Lie theory code
  Project.toml
  src/LieTheory/RootSystem.jl
  src/LieTheory/WeightLattice.jl
  src/LieTheory/WeylGroup.jl
  src/imports.jl
Labels: topic: lie theory, release notes: not needed

#4725 [FTheoryTools] Remove unused struct for QSMs
  experimental/FTheoryTools/src/exports.jl
  experimental/FTheoryTools/src/types.jl
Labels: optimization, topic: FTheoryTools, release notes: not needed

#4711 [FTheoryTools] Add convenience constructors for flux instances
  experimental/FTheoryTools/src/FamilyOfG4Fluxes/methods.jl
Labels: enhancement, topic: FTheoryTools, release notes: use title

#4724 Serialization: Move upgrade test logic to a function
  Artifacts.toml
  experimental/LieAlgebras/test/Serialization-upgrade-test.jl
  experimental/LieAlgebras/test/setup_tests.jl
  experimental/NoExperimental_whitelist_.jl
  experimental/QuadFormAndIsom/test/runtests.jl
  experimental/QuadFormAndIsom/test/setup_tests.jl
  test/Project.toml
  test/Serialization/loading.jl
  test/Serialization/upgrades/runtests.jl
  test/Serialization/upgrades/setup_tests.jl
Labels: serialization, testsuite, release notes: not needed

#4697 Remove broken tropical Groebner basis shortcut for binomial ideals
  docs/src/TropicalGeometry/groebner_theory.md
  src/TropicalGeometry/groebner_basis.jl
  src/TropicalGeometry/initial.jl
  test/TropicalGeometry/groebner_basis.jl
Labels: topic: tropical geometry, release notes: use title

#4613 Optimise Singular conversions
  src/Rings/mpoly.jl
  src/Rings/oscar_singular.jl
Labels: release notes: use title

#4698 Add `rank` and `torsion_free_rank` methods for permutation groups, pc groups, free groups
  src/GAP/wrappers.jl
  src/Groups/GAPGroups.jl
Labels: enhancement, topic: groups, release notes: use title

#4730 Adjust to upcoming Hecke changes
  experimental/GaloisGrp/src/Subfields.jl
Labels: release notes: not needed, backport 1.3.x

#4729 Experimental: Add support for reducible types in `isomorphism(PermGroup, ::WeylGroup)`
  experimental/LieAlgebras/src/WeylGroup.jl
  experimental/LieAlgebras/test/WeylGroup-test.jl
Labels: enhancement, topic: lie theory, release notes: use title

#4716 Backports for 1.3.1
  .github/workflows/BibtoolCI.yml
  .github/workflows/CI.yml
  .github/workflows/Docstrings.yml
  .github/workflows/Docu.yml
  .github/workflows/JuliaFormatterCI.yml
  .github/workflows/NoExperimental.yml
  CHANGELOG.md
  Project.toml
  docs/doc.main
  docs/src/index.md
  experimental/GaloisGrp/src/Subfields.jl
  experimental/LieAlgebras/src/AbstractLieAlgebra.jl
  experimental/LieAlgebras/src/LieAlgebra.jl
  experimental/LieAlgebras/src/LieAlgebras.jl
  experimental/LieAlgebras/src/LieSubalgebra.jl
  experimental/LieAlgebras/src/LinearLieAlgebra.jl
  experimental/LieAlgebras/src/iso_oscar_gap.jl
  experimental/LieAlgebras/test/AbstractLieAlgebra-test.jl
  experimental/LieAlgebras/test/LieSubalgebra-test.jl
  experimental/LieAlgebras/test/setup_tests.jl
  src/PolyhedralGeometry/SubdivisionOfPoints/constructors.jl
  src/PolyhedralGeometry/helpers.jl
  src/Rings/oscar_singular.jl
  test/PolyhedralGeometry/polyhedron.jl
  test/PolyhedralGeometry/subdivision_of_points.jl
  test/Rings/oscar_singular.jl
Labels: release notes: not needed

#4501 Simple parallelization framework
  docs/doc.main
  docs/src/DeveloperDocumentation/parallel.md
  experimental/AlgebraicShifting/src/PartialShiftGraph.jl
  src/Serialization/main.jl
  src/Serialization/parallel.jl
  src/imports.jl
  src/utils/parallel.jl
  src/utils/utils.jl
  test/Serialization/IPC.jl
  test/runtests.jl
Labels: serialization

#4610 Remove Documenter monkey patch
  docs/Project.toml
  docs/documenter_helpers.jl
  test/Project.toml
Labels: release notes: not needed

#4687 Add braid moves for words in Weyl groups
  experimental/LieAlgebras/docs/src/weyl_groups_experimental.md
  experimental/LieAlgebras/src/WeylGroup.jl
  experimental/LieAlgebras/src/exports.jl
  experimental/LieAlgebras/test/WeylGroup-test.jl
Labels: topic: lie theory

#4731 Improve documentation
  docs/doc.main
  docs/src/DeveloperDocumentation/caching.md
  docs/src/DeveloperDocumentation/debugging.md
  docs/src/DeveloperDocumentation/documentation.md
  docs/src/DeveloperDocumentation/new_developers.md
  docs/src/DeveloperDocumentation/printing_details.md
  docs/src/DeveloperDocumentation/styleguide.md
  docs/src/General/complex.md
  docs/src/General/faq.md
  docs/src/General/printing.md
Labels: documentation, release notes: use title

#4628 local Schur indices for a character (Unger's algorithm)
  docs/oscar_references.bib
  docs/src/Groups/group_characters.md
  experimental/GModule/src/GModule.jl
  src/GAP/wrappers.jl
  src/Groups/Groups.jl
  src/Groups/group_characters.jl
  src/Groups/schur_index.jl
  src/Oscar.jl
  src/exports.jl
  test/Groups/group_characters.jl
  test/Groups/schur_index.jl
Labels: topic: groups, release notes: use title

#4445 TropicalGeometry: tropical linear spaces from graphs
  docs/src/TropicalGeometry/linear_space.md
  src/TropicalGeometry/linear_space.jl
  test/TropicalGeometry/linear_space.jl
Labels: topic: tropical geometry

#4692 Add `GSet` methods for `blocks` and related functions
  docs/src/Groups/action.md
  src/Groups/gsets.jl
  test/Groups/gsets.jl
Labels: enhancement, topic: groups, release notes: use title

#4743 add `galois_representative_and_multiplicity`
  docs/src/Groups/group_characters.md
  src/Groups/group_characters.jl
  src/exports.jl
  test/Groups/group_characters.jl
Labels: enhancement, topic: groups, release notes: not needed

#4742 fix: adjust to changes in rational reconstruction
  experimental/GModule/src/GModule.jl
  experimental/GModule/src/Misc.jl
  experimental/ModStd/src/ModStdQt.jl
Labels: release notes: not needed

#4747 Convert a `@repl` block to a `jldoctest`
  experimental/QuadFormAndIsom/docs/src/introduction.md
Labels: documentation, release notes: not needed

#4748 Fix unescaped dollar sign in docs
  docs/src/DeveloperDocumentation/changelog.md
Labels: documentation, release notes: not needed

#4626 Allow sorting w.r.t. monomial orderings / module orderings
  experimental/BasisLieHighestWeight/src/MainAlgorithm.jl
  src/Rings/mpoly-affine-algebras.jl
  src/Rings/mpoly-ideals.jl
  src/Rings/orderings.jl
  src/TropicalGeometry/groebner_fan.jl
Labels: topic: commutative algebra, release notes: use title

#4616 Unify group iso functions for changing group type
  Project.toml
  docs/src/Groups/grouphom.md
  experimental/GModule/src/Cohomology.jl
  experimental/GModule/src/GrpExt.jl
  experimental/GModule/src/Types.jl
  experimental/LieAlgebras/docs/src/weyl_groups_experimental.md
  experimental/LieAlgebras/src/LieAlgebras.jl
  experimental/LieAlgebras/src/WeylGroup.jl
  src/Groups/gsets.jl
  src/Groups/homomorphisms.jl
  src/Groups/types.jl
  src/InvariantTheory/types.jl
  src/LieTheory/Types.jl
  src/Misc/MoveToHecke.jl
  src/Rings/slpolys.jl
  src/exports.jl
  src/imports.jl
Labels: topic: groups, release notes: not needed

#4745 improvements around character fields
  experimental/OrthogonalDiscriminants/src/data.jl
  src/Groups/group_characters.jl
  src/Groups/sub.jl
  test/Groups/group_characters.jl
Labels: documentation, enhancement, topic: groups, release notes: not needed

#4663 Adds Attributes to Graphs
  docs/src/Combinatorics/graphs.md
  docs/src/PolyhedralGeometry/intro.md
  src/Combinatorics/Graphs/functions.jl
  src/Combinatorics/Graphs/structs.jl
  src/PolyhedralGeometry/visualization.jl
  src/exports.jl
  test/Combinatorics/Graph.jl
Labels: topic: combinatorics

#4755 Add explanatory remark in groebner_bases.md
  docs/src/CommutativeAlgebra/GroebnerBases/groebner_bases.md
Labels: documentation, topic: commutative algebra, release notes: not needed

#4757 avoid internet access during tests to access atlas data
  test/Groups/schur_index.jl
Labels: topic: groups, testsuite, release notes: not needed

#4703 first try at tropical prevarieties
  src/TropicalGeometry/hypersurface.jl
  src/exports.jl
  test/TropicalGeometry/variety.jl
Labels: topic: tropical geometry

#4751 Adjust input of should-i-notify-action to correspond with the updated action
  .github/workflows/CI.yml
Labels: CI, release notes: not needed

#4760 Cleanup docu for Borcherds method for Enriques surfaces
  docs/src/AlgebraicGeometry/Surfaces/EnriquesSurfaces.md
  src/AlgebraicGeometry/Surfaces/EnriquesAut.jl
  src/exports.jl
Labels: documentation, topic: algebraic geometry, release notes: not needed

#4753 Fix cached orbits inside orbits
  src/Groups/gsets.jl
  test/Groups/gsets.jl
Labels: topic: groups
