Repository oscar-system/Oscar.jl, pull requests merged in 2025-01, with the labels that each got.

#4370 Clifford algebras and Clifford orders
  experimental/CliffordAlgOrd/src/CliffordAlgOrd.jl
  experimental/CliffordAlgOrd/src/CliffordAlgebra.jl
  experimental/CliffordAlgOrd/src/CliffordOrder.jl
  experimental/CliffordAlgOrd/test/CliffordAlgebra.jl
  experimental/CliffordAlgOrd/test/CliffordOrder.jl
Labels: topic: number theory, experimental

#4392 [PolyhedralGeometry] Check containment of points in hyperplanes and halfspaces
  docs/src/PolyhedralGeometry/Polyhedra/auxiliary.md
  docs/src/PolyhedralGeometry/Polyhedra/constructions.md
  docs/src/PolyhedralGeometry/cones.md
  src/PolyhedralGeometry/Cone/properties.jl
  src/PolyhedralGeometry/Polyhedron/properties.jl
  src/PolyhedralGeometry/iterators.jl
  test/PolyhedralGeometry/cone.jl
  test/PolyhedralGeometry/iterators.jl
  test/PolyhedralGeometry/polyhedron.jl
Labels: enhancement, topic: polyhedral geometry

#4414 Move LieTheory serialization to src; add `WeightLattice` serialization
  experimental/LieAlgebras/src/serialization.jl
  experimental/LieAlgebras/test/RootSystem-test.jl
  experimental/LieAlgebras/test/WeylGroup-test.jl
  src/Serialization/LieTheory.jl
  src/Serialization/main.jl
  test/Serialization/LieTheory.jl
Labels: serialization, topic: LieTheory

#4416 add `is_atlas_character_table`
  docs/src/Groups/group_characters.md
  gap/OscarInterface/gap/OscarInterface.gi
  src/GAP/wrappers.jl
  src/Groups/group_characters.jl
  src/Groups/libraries/libraries.jl
  src/exports.jl
  test/Groups/libraries.jl
Labels: topic: groups

#4418 Update copyright and book publication year to 2025
  CITATION.cff
  LICENSE.md
  README.md
Labels: oscar book

#4419 Specify (and ignore) recursive kwarg in gap_to_julia methods
  src/GAP/gap_to_oscar.jl
Labels: package: GAP

#4420 Small improvement in new_developers.md
  docs/src/DeveloperDocumentation/new_developers.md
Labels: documentation

#4422 FTheoryTools: Print known properties of G4-fluxes
  experimental/FTheoryTools/src/G4Fluxes/attributes.jl
  experimental/FTheoryTools/src/G4Fluxes/constructors.jl
  experimental/FTheoryTools/src/G4Fluxes/properties.jl
  experimental/FTheoryTools/src/G4Fluxes/special_attributes.jl
Labels: enhancement, topic: FTheoryTools

#4424 fix: is_irreducible for number field order elements
  src/NumberTheory/NmbThy.jl
  test/NumberTheory/nmbthy.jl
Labels: topic: number theory

#4429 fix: R() for R::BoundedRing
  src/NumberTheory/GaloisGrp/GaloisGrp.jl
Labels: topic: number theory

#4154 Strict transform of an ideal in Cox ring
  docs/src/AlgebraicGeometry/ToricVarieties/BlowupMorphisms.md
  docs/src/PolyhedralGeometry/fans.md
  docs/src/PolyhedralGeometry/intro.md
  experimental/Schemes/src/Schemes.jl
  experimental/Schemes/src/ToricBlowups/methods.jl
  experimental/Schemes/test/runtests.jl
  src/PolyhedralGeometry/PolyhedralFan/properties.jl
  src/PolyhedralGeometry/PolyhedralFan/standard_constructions.jl
  src/aliases.jl
  src/exports.jl
  test/PolyhedralGeometry/polyhedral_fan.jl
Labels: topic: toric schemes

#4384 LieAlgebras: Adapt Demazure operator
  docs/src/LieTheory/root_systems.md
  docs/src/LieTheory/weight_lattices.md
  docs/src/LieTheory/weyl_groups.md
  experimental/LieAlgebras/src/RootSystem.jl
  experimental/LieAlgebras/test/LieAlgebraModule-test.jl
  src/Groups/spinor_norms.jl
  src/LieTheory/RootSystem.jl
  src/LieTheory/Types.jl
  src/LieTheory/WeightLattice.jl
  src/LieTheory/WeylGroup.jl
  src/exports.jl
  test/LieTheory/WeylGroup.jl
Labels: topic: LieTheory

#4423 FTheoryTools: Use Zenodo data as artifact
  .github/workflows/CI.yml
  Artifacts.toml
  experimental/FTheoryTools/src/AbstractFTheoryModels/methods.jl
  experimental/FTheoryTools/src/LiteratureModels/constructors.jl
  experimental/FTheoryTools/test/FTM-1511-03209.jl
  test/runtests.jl
Labels: topic: FTheoryTools

#4438 Fix LaTeX inline equations in toric blowups docs
  experimental/Schemes/src/ToricBlowups/methods.jl
  src/PolyhedralGeometry/PolyhedralFan/properties.jl
Labels: documentation, topic: toric schemes

#4439 Include AA's conformance tests in all files that use them
  test/AlgebraicGeometry/Schemes/FunctionFields.jl
  test/Groups/conformance.jl
  test/LieTheory/WeylGroup.jl
  test/LieTheory/setup_tests.jl
  test/Rings/PBWAlgebraQuo.jl
  test/Rings/setup_tests.jl
  test/runtests.jl
Labels: testsuite

#4435 Polyhedral geometry tests should not use varieties
  test/PolyhedralGeometry/polyhedral_fan.jl
Labels: topic: polyhedral geometry

#4434 Clarify docs for `==` for normal toric varieties
  docs/src/AlgebraicGeometry/ToricVarieties/NormalToricVarieties.md
Labels: topic: toric varieties

#4457 Docs: added resource flag to bibtool command
  .bibtoolrsc
  docs/src/DeveloperDocumentation/documentation.md
Labels: documentation

#4446 [FTheoryTools] Add support for all vertical, well-quantized G4s that do not break the non-Abelian gauge group
  experimental/FTheoryTools/docs/src/g4.md
  experimental/FTheoryTools/src/AbstractFTheoryModels/methods.jl
  experimental/FTheoryTools/src/G4Fluxes/attributes.jl
  experimental/FTheoryTools/src/G4Fluxes/constructors.jl
  experimental/FTheoryTools/src/G4Fluxes/properties.jl
  experimental/FTheoryTools/src/G4Fluxes/special_attributes.jl
  experimental/FTheoryTools/src/HypersurfaceModels/methods.jl
  experimental/FTheoryTools/src/LiteratureModels/constructors.jl
  experimental/FTheoryTools/src/auxiliary.jl
  experimental/FTheoryTools/src/exports.jl
  experimental/FTheoryTools/test/tate_models.jl
Labels: enhancement, topic: FTheoryTools, experimental

#4421 Bump GAP.jl to 0.13
  Project.toml
  src/Oscar.jl
Labels: package: GAP

#4463 Fix some typos around backticks in docstrings
  docs/src/Rings/rational.md
  experimental/AlgebraicStatistics/src/CI.jl
  experimental/AlgebraicStatistics/src/GaussianGraphicalModels.jl
  experimental/AlgebraicStatistics/src/GraphicalModels.jl
  experimental/AlgebraicStatistics/src/Markov.jl
  experimental/FTheoryTools/src/TateModels/attributes.jl
  experimental/ModStd/src/ModStdQt.jl
  experimental/Schemes/src/DerivedPushforward.jl
  src/AlgebraicGeometry/Surfaces/EllipticSurface/EllipticSurface.jl
Labels: documentation

#4465 `orbit_representatives_and_stabilizers` for 0-dim. subspaces
  src/Groups/gsets.jl
  test/Groups/gsets.jl
Labels: topic: groups

#4451 PolyhedralGeometry: added tutte_lifting(::Graph)
  docs/src/PolyhedralGeometry/Polyhedra/constructions.md
  src/PolyhedralGeometry/Polyhedron/standard_constructions.jl
  src/exports.jl
Labels: topic: polyhedral geometry

#4464 Clean up some code that got obsolete by newer GAP
  experimental/OrthogonalDiscriminants/gap/fix.g
  experimental/OrthogonalDiscriminants/src/OrthogonalDiscriminants.jl
  gap/OscarInterface/PackageInfo.g
  src/Groups/GAPGroups.jl
  src/Groups/homomorphisms.jl
Labels: package: GAP

#4469 add special `stabilizer` methods for matrix groups
  src/GAP/wrappers.jl
  src/Groups/action.jl
  src/Groups/gsets.jl
  test/Groups/action.jl
Labels: topic: groups

#4475 Remove some unreachable code `Schemes/` and `MPolyQuo.jl`
  src/AlgebraicGeometry/Schemes/CoveredSchemes/Objects/Attributes.jl
  src/Rings/MPolyQuo.jl
Labels: topic: schemes, release notes: not needed

#4466 [FTheoryTools] More improvements
  experimental/FTheoryTools/docs/src/g4.md
  experimental/FTheoryTools/src/FTheoryTools.jl
  experimental/FTheoryTools/src/FamilyOfG4Fluxes/attributes.jl
  experimental/FTheoryTools/src/FamilyOfG4Fluxes/constructors.jl
  experimental/FTheoryTools/src/FamilyOfG4Fluxes/methods.jl
  experimental/FTheoryTools/src/FamilyOfG4Fluxes/properties.jl
  experimental/FTheoryTools/src/FamilyOfG4Fluxes/special-intersection-theory.jl
  experimental/FTheoryTools/src/FamilyOfG4Fluxes/special_constructors.jl
  experimental/FTheoryTools/src/G4Fluxes/attributes.jl
  experimental/FTheoryTools/src/G4Fluxes/auxiliary.jl
  experimental/FTheoryTools/src/G4Fluxes/constructors.jl
  experimental/FTheoryTools/src/G4Fluxes/properties.jl
  experimental/FTheoryTools/src/Serialization/hypersurface_models.jl
  experimental/FTheoryTools/src/Serialization/tate_models.jl
  experimental/FTheoryTools/src/Serialization/weierstrass_models.jl
  experimental/FTheoryTools/src/WeierstrassModels/attributes.jl
  experimental/FTheoryTools/src/exports.jl
  experimental/FTheoryTools/src/types.jl
  experimental/FTheoryTools/test/g4s.jl
  experimental/FTheoryTools/test/literature_models.jl
  experimental/FTheoryTools/test/tate_models.jl
Labels: enhancement, topic: FTheoryTools

#4477 Ordering of simple roots: Documentation
  src/LieTheory/CartanMatrix.jl
  src/LieTheory/RootSystem.jl
Labels: documentation, topic: LieTheory, release notes: not needed

#4454 Fix blowups along rays and singular cones
  docs/src/PolyhedralGeometry/intro.md
  experimental/Schemes/src/ToricBlowups/constructors.jl
  src/PolyhedralGeometry/PolyhedralFan/properties.jl
  src/PolyhedralGeometry/PolyhedralFan/standard_constructions.jl
  src/exports.jl
  test/AlgebraicGeometry/ToricVarieties/toric_blowups.jl
Labels: topic: polyhedral geometry, topic: toric schemes

#4455 Improve documentation of `minimal_supercone_*`
  src/PolyhedralGeometry/PolyhedralFan/properties.jl
Labels: topic: polyhedral geometry

#4479 Replace implicit `convert` calls by type assertions
  experimental/AlgebraicStatistics/src/GaussianGraphicalModels.jl
  experimental/AlgebraicStatistics/src/Markov.jl
  experimental/DoubleAndHyperComplexes/src/Objects/Types.jl
  experimental/StandardFiniteFields/src/StandardFiniteFields.jl
  src/AlgebraicGeometry/ToricVarieties/Proj/constructors.jl
  src/PolyhedralGeometry/Polyhedron/properties.jl
  src/Rings/PBWAlgebra.jl
Labels: release notes: not needed

#4484 Fast strict transform under toric blowups
  experimental/FTheoryTools/src/AbstractFTheoryModels/methods.jl
  experimental/FTheoryTools/src/auxiliary.jl
  experimental/Schemes/src/ToricBlowups/methods.jl
  experimental/Schemes/test/runtests.jl
Labels: enhancement, topic: toric schemes

#4486 [FTheoryTools] More improvements
  experimental/FTheoryTools/docs/src/g4.md
  experimental/FTheoryTools/docs/src/literature.md
  experimental/FTheoryTools/src/AbstractFTheoryModels/attributes.jl
  experimental/FTheoryTools/src/AbstractFTheoryModels/methods.jl
  experimental/FTheoryTools/src/AbstractFTheoryModels/properties.jl
  experimental/FTheoryTools/src/FamilyOfG4Fluxes/methods.jl
  experimental/FTheoryTools/src/auxiliary.jl
  experimental/FTheoryTools/src/exports.jl
Labels: documentation, enhancement, topic: FTheoryTools

#4471 add some missing `hom` and `isomorphism` methods
  src/Groups/homomorphisms.jl
  test/Groups/homomorphisms.jl
Labels: topic: groups, release notes: not needed

#4478 `isomorphism(PermGroup, ::WeylGroup)` for missing irreducible types
  docs/oscar_references.bib
  experimental/LieAlgebras/src/WeylGroup.jl
  experimental/LieAlgebras/test/WeylGroup-test.jl
Labels: topic: LieTheory, experimental

#4489 Make ring flattening a tiny bit more type stable
  src/Rings/MPolyMap/flattenings.jl
Labels: release notes: not needed

#4480 Add more links to tutorials
  docs/src/AlgebraicGeometry/ToricVarieties/intro.md
  docs/src/AlgebraicGeometry/intro.md
  docs/src/Groups/intro.md
  docs/src/LinearAlgebra/intro.md
  docs/src/NumberTheory/intro.md
  docs/src/PolyhedralGeometry/intro.md
  docs/src/index.md
  experimental/FTheoryTools/docs/src/introduction.md
  experimental/IntersectionTheory/docs/src/intro.md
Labels: documentation, enhancement

#4481 `QuadFormAndIsom`: fix Hermitian Miranda--Morrison (again...) + some cleanups
  experimental/QuadFormAndIsom/src/embeddings.jl
  experimental/QuadFormAndIsom/src/enumeration.jl
  experimental/QuadFormAndIsom/src/hermitian_miranda_morrison.jl
  experimental/QuadFormAndIsom/test/runtests.jl
Labels: experimental

#4487 [FTheoryTools] Compute D3-tadpole for family of G4-fluxes
  experimental/FTheoryTools/docs/src/g4.md
  experimental/FTheoryTools/src/FamilyOfG4Fluxes/attributes.jl
  experimental/FTheoryTools/src/FamilyOfG4Fluxes/special_constructors.jl
  experimental/FTheoryTools/src/G4Fluxes/attributes.jl
  experimental/FTheoryTools/src/G4Fluxes/properties.jl
  experimental/FTheoryTools/src/Serialization/hypersurface_models.jl
  experimental/FTheoryTools/src/Serialization/tate_models.jl
  experimental/FTheoryTools/src/Serialization/weierstrass_models.jl
  experimental/FTheoryTools/src/exports.jl
  experimental/FTheoryTools/test/FTM-1511-03209.jl
Labels: enhancement, topic: FTheoryTools

#4491 [FTheoryTools] Save updated intersection numbers after costly computation
  experimental/FTheoryTools/src/FamilyOfG4Fluxes/attributes.jl
Labels: enhancement, topic: FTheoryTools

#4492 Add links to commutative algebra tutorials
  docs/src/CommutativeAlgebra/Miscellaneous/binomial_ideals.md
  docs/src/CommutativeAlgebra/intro.md
Labels: documentation, enhancement

#4482 new functions for integer programming
  docs/doc.main
  docs/oscar_references.bib
  docs/src/PolyhedralGeometry/Optimization/linear_programs.md
  docs/src/PolyhedralGeometry/Optimization/mixed_integer_linear_programs.md
  docs/src/PolyhedralGeometry/intro.md
  src/PolyhedralGeometry/Optimization/LP_file_format.jl
  src/PolyhedralGeometry/Optimization/linear_program.jl
  src/PolyhedralGeometry/Optimization/mixed_integer_linear_program.jl
  src/PolyhedralGeometry/PolyhedralGeometry.jl
  src/PolyhedralGeometry/Polyhedron/standard_constructions.jl
  src/exports.jl
Labels: topic: polyhedral geometry

#4497 Allow variables of same positive degree in `monomials_of_degree`
  src/InvariantTheory/iterators.jl
  test/InvariantTheory/iterators.jl
Labels: enhancement, release notes: use title

#4476 Simplify attribute handling using new `@attr` features
  Project.toml
  experimental/FTheoryTools/src/AbstractFTheoryModels/attributes.jl
  experimental/FTheoryTools/src/AbstractFTheoryModels/properties.jl
  experimental/FTheoryTools/src/FamilyOfG4Fluxes/special_constructors.jl
  experimental/FTheoryTools/src/G4Fluxes/auxiliary.jl
  experimental/Schemes/src/NormalToricVarieties/attributes.jl
  experimental/Schemes/src/ToricDivisors/attributes.jl
  src/AlgebraicGeometry/Schemes/AffineSchemes/Objects/Attributes.jl
  src/AlgebraicGeometry/Schemes/CoveredSchemes/Objects/Attributes.jl
  src/AlgebraicGeometry/Schemes/FunctionField/FunctionFields.jl
  src/AlgebraicGeometry/Schemes/ProjectiveSchemes/Objects/Attributes.jl
  src/AlgebraicGeometry/Schemes/ProjectiveSchemes/Objects/Properties.jl
  src/AlgebraicGeometry/Schemes/Sheaves/IdealSheaves.jl
  src/AlgebraicGeometry/Surfaces/EllipticSurface/EllipticSurface.jl
  src/AlgebraicGeometry/Surfaces/EllipticSurface/Morphisms.jl
  src/AlgebraicGeometry/ToricVarieties/CohomologyClasses/special_attributes.jl
  src/AlgebraicGeometry/ToricVarieties/NormalToricVarieties/attributes.jl
  src/AlgebraicGeometry/ToricVarieties/cohomCalg/special_attributes.jl
  src/Groups/group_characters.jl
  src/Groups/matrices/form_group.jl
  src/Modules/Posur.jl
  src/Modules/mpolyquo-localizations.jl
  src/Rings/MPolyMap/AffineAlgebras.jl
  src/Rings/MPolyMap/flattenings.jl
  src/Rings/MPolyQuo.jl
  src/Rings/mpoly-affine-algebras.jl
  src/Rings/mpoly-ideals.jl
  src/Rings/mpoly-localizations.jl
  src/Rings/mpolyquo-localizations.jl
Labels: release notes: not needed

#4505 Simplify code for toric blowup along a cone
  experimental/Schemes/src/ToricBlowups/constructors.jl
Labels: topic: toric varieties, optimization, topic: toric schemes

#4490 Improve `@perm` macro
  src/Groups/perm.jl
  test/Groups/Permutations.jl
  test/Project.toml
Labels: topic: groups, release notes: to be added

#4498 Clarify doc of `init` in `map_word`
  src/Groups/GAPGroups.jl
Labels: documentation, topic: groups, release notes: not needed

#4500 [FTheoryTools] More improvements
  experimental/FTheoryTools/docs/src/g4.md
  experimental/FTheoryTools/src/FamilyOfG4Fluxes/attributes.jl
  experimental/FTheoryTools/src/FamilyOfG4Fluxes/constructors.jl
  experimental/FTheoryTools/src/FamilyOfG4Fluxes/methods.jl
  experimental/FTheoryTools/src/FamilyOfG4Fluxes/properties.jl
  experimental/FTheoryTools/src/FamilyOfG4Fluxes/special_constructors.jl
  experimental/FTheoryTools/src/G4Fluxes/attributes.jl
  experimental/FTheoryTools/src/G4Fluxes/auxiliary.jl
  experimental/FTheoryTools/src/G4Fluxes/constructors.jl
  experimental/FTheoryTools/src/G4Fluxes/properties.jl
  experimental/FTheoryTools/src/Serialization/weierstrass_models.jl
  experimental/FTheoryTools/src/exports.jl
  experimental/FTheoryTools/test/FTM-1511-03209.jl
  experimental/FTheoryTools/test/g4s.jl
Labels: enhancement, topic: FTheoryTools

#4513 add credit to the DFG to the Oscar manual
  README.md
  docs/src/index.md
Labels: documentation, release notes: not needed

#4108 Mjrodgers ow g modules
  experimental/GModule/src/Cohomology.jl
  experimental/GModule/src/GModule.jl
  experimental/GModule/src/GrpExt.jl
  experimental/GModule/src/Misc.jl
  experimental/GModule/src/Types.jl
  experimental/GModule/test/runtests.jl
  src/GAP/iso_oscar_gap.jl
  src/Rings/AbelianClosure.jl
Labels: experimental, release notes: not needed

#4515 Improve documentation for "Finitely presented groups"
  docs/src/Groups/fpgroup.md
Labels: documentation, topic: groups, release notes: not needed

#4503 Fix FTheoryTools bug, extend strict_transform
  docs/src/AlgebraicGeometry/ToricVarieties/BlowupMorphisms.md
  experimental/FTheoryTools/src/AbstractFTheoryModels/methods.jl
  experimental/Schemes/src/ToricBlowups/methods.jl
  experimental/Schemes/test/runtests.jl
Labels: bug, enhancement, topic: FTheoryTools, topic: toric schemes
