Repository oscar-system/Oscar.jl, pull requests merged in 2025-07, with the labels that each got.

#5041 Free resolutions: correct length function
  src/Modules/UngradedModules/FreeResolutions.jl
  test/Modules/UngradedModules.jl
Labels: topic: commutative algebra, release notes: not needed

#5031 More features for FTheoryTools
  experimental/FTheoryTools/docs/src/g4.md
  experimental/FTheoryTools/src/AbstractFTheoryModels/methods.jl
  experimental/FTheoryTools/src/FamilyOfG4Fluxes/attributes.jl
  experimental/FTheoryTools/src/FamilyOfG4Fluxes/methods.jl
  experimental/FTheoryTools/src/FamilyOfG4Fluxes/special_constructors.jl
  experimental/FTheoryTools/src/G4Fluxes/attributes.jl
  experimental/FTheoryTools/src/G4Fluxes/auxiliary.jl
  experimental/FTheoryTools/src/G4Fluxes/constructors.jl
  experimental/FTheoryTools/src/Serialization/hypersurface_models.jl
  experimental/FTheoryTools/src/Serialization/tate_models.jl
  experimental/FTheoryTools/src/Serialization/weierstrass_models.jl
  experimental/FTheoryTools/src/exports.jl
  experimental/FTheoryTools/test/FTM-1511-03209.jl
  experimental/FTheoryTools/test/QSMs.jl
Labels: enhancement, topic: FTheoryTools, release notes: to be added, extra-long

#5035 Custom printing for FPGroupElem
  src/Groups/GAPGroups.jl
  test/Groups/elements.jl
Labels: enhancement, topic: groups, printing, release notes: not needed

#5007 Rename IdealGens member 'gens' to 'gensBiPolyArray'
  experimental/ModStd/src/ModStdNF.jl
  experimental/Schemes/src/Tjurina.jl
  src/InvariantTheory/fundamental_invariants.jl
  src/Rings/MPolyQuo.jl
  src/Rings/groebner/fglm.jl
  src/Rings/groebner/hilbert-driven.jl
  src/Rings/groebner/modular.jl
  src/Rings/mpoly-localizations.jl
  src/Rings/mpoly.jl
  test/Rings/MPolyQuo.jl
Labels: triage, release notes: not needed

#4951 Add support for spectral sequences in Cech cohomology
  experimental/DoubleAndHyperComplexes/src/DoubleAndHyperComplexes.jl
  experimental/DoubleAndHyperComplexes/src/Morphisms/SummandProjection.jl
  experimental/DoubleAndHyperComplexes/src/Morphisms/Types.jl
  experimental/DoubleAndHyperComplexes/src/Morphisms/induced_homs.jl
  experimental/DoubleAndHyperComplexes/src/Morphisms/new_koszul_complexes.jl
  experimental/DoubleAndHyperComplexes/src/Morphisms/shifted_complexes.jl
  experimental/DoubleAndHyperComplexes/src/Morphisms/strand_functionality.jl
  experimental/DoubleAndHyperComplexes/src/Morphisms/strand_morphisms.jl
  experimental/DoubleAndHyperComplexes/src/Morphisms/strands.jl
  experimental/DoubleAndHyperComplexes/src/Morphisms/tensor_product.jl
  experimental/DoubleAndHyperComplexes/src/Morphisms/total_complexes.jl
  experimental/DoubleAndHyperComplexes/src/Morphisms/views.jl
  experimental/DoubleAndHyperComplexes/src/Objects/Constructors.jl
  experimental/DoubleAndHyperComplexes/src/Objects/induced_ENC.jl
  experimental/DoubleAndHyperComplexes/src/Objects/new_koszul_complexes.jl
  experimental/DoubleAndHyperComplexes/test/LeGreuelFormulaOnStratifiedSpaces.jl
  experimental/DoubleAndHyperComplexes/test/koszul_complexes.jl
  experimental/DoubleAndHyperComplexes/test/runtests.jl
  experimental/Schemes/src/DerivedPushforward.jl
  experimental/Schemes/src/Schemes.jl
  experimental/Schemes/src/SpectralSequences.jl
  experimental/Schemes/test/runtests.jl
  experimental/Schemes/test/spectral_sequences.jl
  src/Modules/Iterators.jl
Labels: release notes: use title

#5055 Add `permutation_character(G::GAPGroup, H::GAPGroup)`
  docs/src/Groups/group_characters.md
  src/GAP/wrappers.jl
  src/Groups/group_characters.jl
  src/exports.jl
  test/Groups/group_characters.jl
Labels: enhancement, topic: groups, release notes: use title

#5054 Migrate spectral sequences and derived pushforward to the hypercomplexes
  experimental/DoubleAndHyperComplexes/src/DerivedPushforward.jl
  experimental/DoubleAndHyperComplexes/src/DoubleAndHyperComplexes.jl
  experimental/DoubleAndHyperComplexes/src/SpectralSequences.jl
  experimental/DoubleAndHyperComplexes/test/DerivedPushforward.jl
  experimental/DoubleAndHyperComplexes/test/runtests.jl
  experimental/DoubleAndHyperComplexes/test/spectral_sequences.jl
  experimental/Schemes/src/Schemes.jl
  experimental/Schemes/test/runtests.jl
Labels: experimental, release notes: not needed

#5026 Add functionality for pc groups and their elements: `hirsch_length`, `depth`, `relative_order`, `exponent_vector`, `leading_exponent`
  docs/src/Groups/pcgroup.md
  src/GAP/wrappers.jl
  src/Groups/GAPGroups.jl
  src/Groups/homomorphisms.jl
  src/Groups/pcgroup.jl
  src/exports.jl
Labels: enhancement, topic: groups, release notes: use title

#5039 Tweak printing of symmetric & alternating groups
  docs/src/Groups/pcgroup.md
  experimental/GaloisGrp/src/Solve.jl
  src/Groups/GAPGroups.jl
  src/Groups/cosets.jl
  src/Groups/directproducts.jl
  src/Groups/group_characters.jl
  src/Groups/group_constructors.jl
  src/Groups/gsets.jl
  src/Groups/homomorphisms.jl
  src/Groups/libraries/primitivegroups.jl
  src/Groups/libraries/transitivegroups.jl
  src/Groups/perm.jl
  src/Groups/sub.jl
  src/Groups/tom.jl
  src/Groups/types.jl
  src/InvariantTheory/invariant_rings.jl
  test/Groups/group_characters.jl
  test/Groups/tom.jl
  test/book/cornerstones/algebraic-geometry/monodromy.jlcon
  test/book/cornerstones/groups/actions.jlcon
  test/book/cornerstones/groups/cohomology.jlcon
  test/book/specialized/decker-schmitt-invariant-theory/sym.jlcon
Labels: enhancement, topic: groups, printing, release notes: not needed

#5049 Add support for GAP.jl 0.14
  Project.toml
Labels: enhancement, package: GAP, needs hecke update, release notes: use title

#5048 FTheoryTools documentation improvements
  experimental/FTheoryTools/docs/doc.main
  experimental/FTheoryTools/docs/src/g4.md
  experimental/FTheoryTools/docs/src/literature.md
  experimental/FTheoryTools/docs/src/weierstrass.md
  experimental/FTheoryTools/src/AbstractFTheoryModels/attributes.jl
  experimental/FTheoryTools/src/FamilyOfG4Fluxes/attributes.jl
  experimental/FTheoryTools/src/FamilyOfG4Fluxes/constructors.jl
  experimental/FTheoryTools/src/FamilyOfG4Fluxes/properties.jl
  experimental/FTheoryTools/src/FamilyOfG4Fluxes/special_constructors.jl
  experimental/FTheoryTools/src/G4Fluxes/attributes.jl
  experimental/FTheoryTools/src/G4Fluxes/auxiliary.jl
  experimental/FTheoryTools/src/G4Fluxes/properties.jl
  experimental/FTheoryTools/src/WeierstrassModels/attributes.jl
  experimental/FTheoryTools/src/exports.jl
  experimental/FTheoryTools/src/standard_constructions.jl
Labels: documentation, topic: FTheoryTools, release notes: to be added, extra-long

#5068 some love for rational points
  docs/src/AlgebraicGeometry/Schemes/RationalPointsAffine.md
  docs/src/AlgebraicGeometry/Schemes/RationalPointsProjective.md
  src/AlgebraicGeometry/Curves/ProjectivePlaneCurve.jl
  src/AlgebraicGeometry/RationalPoint/AffineRationalPoint.jl
  src/AlgebraicGeometry/RationalPoint/ProjectiveRationalPoint.jl
  src/exports.jl
Labels: topic: algebraic geometry, release notes: not needed

#5057 Add user interface for free resolutions over local rings
  docs/src/CommutativeAlgebra/homological_algebra.md
  experimental/DoubleAndHyperComplexes/src/Morphisms/simplified_complexes.jl
  src/Modules/UngradedModules/FreeResolutions.jl
  src/Rings/MPolyQuo.jl
  src/Rings/mpoly-localizations.jl
  src/Rings/mpolyquo-localizations.jl
  src/Rings/orderings.jl
  src/imports.jl
  test/Modules/UngradedModules.jl
  test/Rings/MPolyQuo.jl
Labels: topic: commutative algebra, release notes: not needed

#5058 Remove obsolete VERSION checks
  experimental/Parallel/src/Parallel.jl
  src/Oscar.jl
  src/PolyhedralGeometry/helpers.jl
  src/imports.jl
  src/utils/tests.jl
  system/Build.jl
  test/Groups/Permutations.jl
  test/runtests.jl
Labels: release notes: not needed

#5081 Replace a bunch of calls to and methods for `dim` by `rank` and `krull_dim`, cleanup
  src/Modules/UngradedModules/FreeMod.jl
  src/Modules/UngradedModules/FreeModElem.jl
  src/Modules/UngradedModules/ModuleGens.jl
  src/Rings/MPolyQuo.jl
  src/Rings/mpoly-affine-algebras.jl
  src/Rings/mpoly-ideals.jl
  src/Rings/mpoly-localizations.jl
  src/Rings/mpolyquo-localizations.jl
Labels: release notes: not needed

#5071 FTheory: More documentation and related improvements
  experimental/FTheoryTools/docs/doc.main
  experimental/FTheoryTools/docs/src/family_of_spaces.md
  experimental/FTheoryTools/docs/src/g4.md
  experimental/FTheoryTools/docs/src/generalities.md
  experimental/FTheoryTools/docs/src/hypersurface.md
  experimental/FTheoryTools/docs/src/introduction.md
  experimental/FTheoryTools/docs/src/literature.md
  experimental/FTheoryTools/docs/src/resolving_singularities.md
  experimental/FTheoryTools/docs/src/tate.md
  experimental/FTheoryTools/docs/src/weierstrass.md
  experimental/FTheoryTools/src/AbstractFTheoryModels/attributes.jl
  experimental/FTheoryTools/src/AbstractFTheoryModels/methods.jl
  experimental/FTheoryTools/src/FamilyOfG4Fluxes/attributes.jl
  experimental/FTheoryTools/src/FamilyOfG4Fluxes/constructors.jl
  experimental/FTheoryTools/src/FamilyOfG4Fluxes/methods.jl
  experimental/FTheoryTools/src/FamilyOfG4Fluxes/special_constructors.jl
  experimental/FTheoryTools/src/G4Fluxes/attributes.jl
  experimental/FTheoryTools/src/G4Fluxes/auxiliary.jl
  experimental/FTheoryTools/src/G4Fluxes/constructors.jl
  experimental/FTheoryTools/src/G4Fluxes/properties.jl
  experimental/FTheoryTools/src/HypersurfaceModels/attributes.jl
  experimental/FTheoryTools/src/HypersurfaceModels/constructors.jl
  experimental/FTheoryTools/src/HypersurfaceModels/methods.jl
  experimental/FTheoryTools/src/LiteratureModels/constructors.jl
  experimental/FTheoryTools/src/TateModels/attributes.jl
  experimental/FTheoryTools/src/TateModels/constructors.jl
  experimental/FTheoryTools/src/TateModels/methods.jl
  experimental/FTheoryTools/src/WeierstrassModels/attributes.jl
  experimental/FTheoryTools/src/WeierstrassModels/constructors.jl
  experimental/FTheoryTools/src/WeierstrassModels/methods.jl
  experimental/FTheoryTools/src/auxiliary.jl
  experimental/FTheoryTools/src/exports.jl
  experimental/FTheoryTools/src/standard_constructions.jl
  experimental/FTheoryTools/test/tate_models.jl
  experimental/FTheoryTools/test/weierstrass_models.jl
Labels: documentation, optimization, topic: FTheoryTools, release notes: to be added, extra-long

#5082 Change `root_of_unity(K::QQAbField, n::Int)` to return always the root corresponding to $\exp(2\pi i/n)$
  docs/src/NumberTheory/abelian_closure.md
  src/Rings/AbelianClosure.jl
  test/Rings/AbelianClosure.jl
Labels: topic: number theory, release notes: use title

#5073 Use Laurent polynomial ring approach to speed up computation of `toric_ideal`
  src/AlgebraicGeometry/ToricVarieties/NormalToricVarieties/toric_ideal.jl
Labels: enhancement, topic: toric geometry, optimization, release notes: use title

#5066 Require curves to be of pure dimension one.
  experimental/DoubleAndHyperComplexes/test/ext.jl
  src/AlgebraicGeometry/Curves/AffinePlaneCurve.jl
  src/AlgebraicGeometry/Curves/ProjectivePlaneCurve.jl
  src/AlgebraicGeometry/Schemes/AbstractTypes.jl
  src/AlgebraicGeometry/Schemes/AffineAlgebraicSet/Objects/Attributes.jl
  src/AlgebraicGeometry/Schemes/AffineAlgebraicSet/Objects/Types.jl
  src/AlgebraicGeometry/Schemes/AffineSchemes/Objects/Attributes.jl
  src/AlgebraicGeometry/Schemes/AffineSchemes/Objects/Constructors.jl
  src/AlgebraicGeometry/Schemes/AffineVariety/Objects/Types.jl
  src/AlgebraicGeometry/Schemes/CoveredSchemes/Morphisms/Constructors.jl
  src/AlgebraicGeometry/Schemes/ProjectiveAlgebraicSet/Objects/Attributes.jl
  src/AlgebraicGeometry/Schemes/ProjectiveAlgebraicSet/Objects/Types.jl
  src/AlgebraicGeometry/Schemes/ProjectiveVariety/Objects/Constructors.jl
  test/AlgebraicGeometry/Curves/ProjectivePlaneCurve.jl
Labels: release notes: not needed

#5095 Try to fix invariant theory booktests (again) (for nightly)
  test/book/specialized/decker-schmitt-invariant-theory/cox_ring.jlcon
Labels: oscar book, release notes: not needed

#5094 Serialization: Add option to JSONSerializer to suppress saving refs
  docs/src/DeveloperDocumentation/serialization.md
  src/Serialization/serializers.jl
  test/Serialization/setup_tests.jl
Labels: serialization, release notes: use title

#5103 Adjust some surface code following PR #5066
  src/AlgebraicGeometry/Surfaces/AdjunctionProcess/AdjunctionProcess.jl
  src/AlgebraicGeometry/Surfaces/SurfacesP4.jl
Labels: topic: algebraic geometry, release notes: not needed

#5107 Change output in doc test to remove random failures (cf. PR 5103)
  experimental/FTheoryTools/src/HypersurfaceModels/attributes.jl
Labels: bug, documentation, topic: FTheoryTools, release notes: not needed

#5104 Addressing some (but not all) problems in issue #4860
  docs/doc.main
  docs/src/CommutativeAlgebra/ModulesOverMultivariateRings/module_data.md
  docs/src/CommutativeAlgebra/ModulesOverMultivariateRings/module_operations.md
  docs/src/CommutativeAlgebra/ModulesOverMultivariateRings/subquotients.md
  experimental/InjectiveResolutions/src/InjectiveResolutions.jl
  src/Modules/UngradedModules/SubquoModule.jl
Labels: topic: commutative algebra, release notes: not needed

#5102 Rename some instances of `dim`
  docs/src/CommutativeAlgebra/ModulesOverMultivariateRings/free_modules.md
  experimental/GModule/src/Cohomology.jl
  experimental/GModule/src/GModule.jl
  experimental/GModule/src/Misc.jl
  experimental/InjectiveResolutions/src/InjectiveResolutions.jl
  experimental/InjectiveResolutions/src/ModuleFunctionality.jl
  experimental/InjectiveResolutions/src/MonoidAlgebra.jl
  experimental/IntersectionTheory/src/Main.jl
  experimental/Schemes/src/SpaceGerms.jl
  experimental/Schemes/src/critical_locus.jl
  experimental/SymmetricIntersections/src/homogeneous_polynomial_actions.jl
  experimental/SymmetricIntersections/test/runtests.jl
  src/AlgebraicGeometry/Surfaces/AdjunctionProcess/AdjunctionProcess.jl
  src/Groups/homomorphisms.jl
  src/Groups/matrices/form_group.jl
  src/Groups/matrices/forms.jl
  src/Groups/matrices/matrix_manipulation.jl
  src/Groups/matrices/transform_form.jl
  src/Modules/UngradedModules/FreeMod.jl
  src/Modules/UngradedModules/SubquoModuleElem.jl
  src/NumberTheory/QuadFormAndIsom/embeddings.jl
  src/Rings/resultant.jl
  test/Rings/MPolyQuo.jl
  test/Rings/mpoly-graded.jl
  test/Rings/mpoly.jl
  test/Rings/mpolyquo-localizations.jl
Labels: renaming, release notes: use title

#5092 add `induce` for `GSetBySubgroupTransversal`
  src/Groups/action.jl
  src/Groups/gsets.jl
  test/Groups/gsets.jl
Labels: enhancement, topic: groups, release notes: not needed

#5111 Revert "Set `OMP_NUM_THREADS=1` unconditionally (bandaid for #4806) (#4811)"
  .github/workflows/CI.yml
Labels: CI, release notes: not needed

#5109 Fix a bug in `galois_group` that resulted in too small groups being returned
  src/NumberTheory/GaloisGrp/GaloisGrp.jl
  test/NumberTheory/galthy.jl
Labels: topic: number theory, release notes: use title, bug: wrong result

#5113 Speed up `degree(::GAPGroupClassFunction)`
  src/Groups/group_characters.jl
Labels: topic: groups, release notes: not needed

#5110 Update AA to 0.46, Nemo to 0.51, Hecke to 0.37
  Project.toml
  test/book/cornerstones/groups/explSL25.jlcon
Labels: package: Hecke, package: Nemo, package: AbstractAlgebra, release notes: to be added

#5128 Delete three obsolete files
  test/Serialization/upgrades/current_file_version.json
  test/Serialization/upgrades/file_version_less_than_0.12.1.json
  test/Serialization/upgrades/polynomial_file_version_less_than_0.12.1.json
Labels: serialization, release notes: not needed

#5134 Fix race conditions in documentation deployment
  docs/make.jl
Labels: embarrassing-bugfix, CI, release notes: not needed

#5126 Add `isinteger`, `is_rational` and `is_integral` for `QQAbFieldElem`
  Project.toml
  src/Rings/AbelianClosure.jl
  test/Rings/AbelianClosure.jl
Labels: topic: number theory, release notes: use title

#5136 Micro-optimization: avoid one alloc per sparse_row call
  experimental/LieAlgebras/src/AbstractLieAlgebra.jl
  src/Modules/UngradedModules/FreeModElem.jl
  src/Modules/UngradedModules/SubquoModuleElem.jl
Labels: release notes: not needed

#5121 Make `RootSpaceElem`, `DualRootSpaceElem` and `WeightLatticeElem` immutable
  src/LieTheory/RootSystem.jl
  src/LieTheory/Types.jl
  src/LieTheory/WeightLattice.jl
Labels: topic: lie theory, release notes: not needed

#5127 Move `version-1-3-0-files` artifact to its own repo
  Artifacts.toml
  test/Project.toml
  test/Serialization/containers.jl
  test/Serialization/new-containers.json
  test/Serialization/old-containers.json
  test/Serialization/upgrades/GF_2.json
  test/Serialization/upgrades/GF_2_2.json
  test/Serialization/upgrades/file_version_less_than_0.11.2.json
  test/Serialization/upgrades/file_version_less_than_0.12.0.json
  test/Serialization/upgrades/file_version_less_than_1.2.0.json
  test/Serialization/upgrades/poly1.0.5.json
  test/Serialization/upgrades/runtests.jl
  test/Serialization/upgrades/setup_tests.jl
Labels: serialization, testsuite, release notes: not needed

#5140 Add `smallest_moved_point` and `largest_moved_point`
  docs/src/Groups/permgroup.md
  src/GAP/wrappers.jl
  src/Groups/perm.jl
  src/exports.jl
Labels: enhancement, topic: groups, release notes: use title

#5124 Make some element structs immutable
  experimental/GModule/src/Types.jl
  src/Rings/PBWAlgebra.jl
  src/Rings/PBWAlgebraQuo.jl
  src/Rings/mpoly-localization_types.jl
  src/Rings/mpolyquo-localizations.jl
  src/TropicalGeometry/semiring.jl
Labels: release notes: not needed

#5148 [FTheoryTools] Overhaul the QSM documentation
  docs/oscar_references.bib
  experimental/FTheoryTools/docs/src/generalities.md
  experimental/FTheoryTools/docs/src/qsm_models.md
  experimental/FTheoryTools/src/AbstractFTheoryModels/not_yet_computed_attributes.jl
  experimental/FTheoryTools/src/AbstractFTheoryModels/qsm_attributes.jl
  experimental/FTheoryTools/src/FTheoryTools.jl
  experimental/FTheoryTools/src/auxiliary.jl
Labels: documentation, enhancement, optimization, topic: FTheoryTools, release notes: not needed, extra-long

#4719 Update changelog script
  .github/workflows/BibtoolCI.yml
  .github/workflows/CI.yml
  .github/workflows/Docstrings.yml
  .github/workflows/Docu.yml
  .github/workflows/JuliaFormatterCI.yml
  .github/workflows/NoExperimental.yml
  .github/workflows/changelog.yml
  dev/releases/release_notes.py
  docs/src/DeveloperDocumentation/changelog.md
  docs/src/DeveloperDocumentation/release.md
Labels: release notes: not needed

#5153 Avoid fraction_field(::RationalFunctionField)
  src/Serialization/Fields.jl
Labels: serialization, release notes: not needed

#5122 Add serialization for Matrix Groups
  src/Serialization/Groups.jl
  test/Serialization/Groups.jl
Labels: serialization, release notes: use title

#5159 [FTheoryTools] Move kbar^3 docu and source code to generalities
  experimental/FTheoryTools/docs/src/generalities.md
  experimental/FTheoryTools/docs/src/qsm_models.md
  experimental/FTheoryTools/src/AbstractFTheoryModels/not_yet_computed_attributes.jl
  experimental/FTheoryTools/src/AbstractFTheoryModels/qsm_attributes.jl
Labels: documentation, topic: FTheoryTools, release notes: not needed, extra-long

#5080 Don't allow `grade` on graded polynomial ring
  src/Rings/mpoly-graded.jl
  test/Serialization/PolynomialsSeries.jl
  test/Serialization/upgrades/setup_tests.jl
Labels: bug, topic: commutative algebra, triage, release notes: use title, extra-long

#5162 Add another hash filter for nightly doctests
  src/Groups/abelian_aut.jl
Labels: nightly, release notes: not needed

#5161 [FTheoryTools] Overhaul adder functions
  experimental/FTheoryTools/docs/src/generalities.md
  experimental/FTheoryTools/docs/src/literature.md
  experimental/FTheoryTools/docs/src/resolving_singularities.md
  experimental/FTheoryTools/src/AbstractFTheoryModels/adders.jl
  experimental/FTheoryTools/src/AbstractFTheoryModels/methods.jl
  experimental/FTheoryTools/src/AbstractFTheoryModels/precomputed_attributes.jl
  experimental/FTheoryTools/src/FTheoryTools.jl
  experimental/FTheoryTools/src/exports.jl
  experimental/FTheoryTools/test/literature_models.jl
  experimental/FTheoryTools/test/tate_models.jl
Labels: documentation, optimization, topic: FTheoryTools, release notes: to be added, extra-long
