Repository oscar-system/Oscar.jl, pull requests merged in 2025-04, with the labels that each got.

#4763 Improve linear algebra documentation
  Project.toml
  docs/doc.main
  docs/oscar_references.bib
  docs/src/LinearAlgebra/intro.md
Labels: documentation, release notes: use title

#4767 fix exponentation of tropical polynomials
  src/TropicalGeometry/TropicalGeometry.jl
  src/TropicalGeometry/semiring.jl
  src/TropicalGeometry/semiring_mpoly.jl
  test/TropicalGeometry/semiring.jl
Labels: topic: tropical geometry, release notes: not needed

#4771 Use `Set` for `GSet` block systems
  docs/src/Groups/action.md
  src/Groups/gsets.jl
  test/Groups/gsets.jl
Labels: release notes: use title

#4765 New wrapper for Singular triangular decompositions
  docs/oscar_references.bib
  docs/src/CommutativeAlgebra/ideals.md
  src/Rings/mpoly-ideals.jl
  src/exports.jl
Labels: topic: commutative algebra, release notes: use title

#4766 Stabilize booktests in `vinberg`
  src/AlgebraicGeometry/Schemes/Sheaves/IdealSheaves.jl
Labels: topic: algebraic geometry, release notes: not needed, backport 1.3.x

#4728 [FTheoryTools] Include 1/2 c2 in identification of flux families
  Artifacts.toml
  experimental/FTheoryTools/docs/src/g4.md
  experimental/FTheoryTools/src/AbstractFTheoryModels/attributes.jl
  experimental/FTheoryTools/src/AbstractFTheoryModels/methods.jl
  experimental/FTheoryTools/src/FamilyOfG4Fluxes/attributes.jl
  experimental/FTheoryTools/src/FamilyOfG4Fluxes/constructors.jl
  experimental/FTheoryTools/src/FamilyOfG4Fluxes/methods.jl
  experimental/FTheoryTools/src/FamilyOfG4Fluxes/properties.jl
  experimental/FTheoryTools/src/FamilyOfG4Fluxes/special-intersection-theory.jl
  experimental/FTheoryTools/src/FamilyOfG4Fluxes/special_constructors.jl
  experimental/FTheoryTools/src/G4Fluxes/attributes.jl
  experimental/FTheoryTools/src/G4Fluxes/auxiliary.jl
  experimental/FTheoryTools/src/G4Fluxes/constructors.jl
  experimental/FTheoryTools/src/LiteratureModels/Models/1511_03209/1511-03209-base-space.mrdi
  experimental/FTheoryTools/src/Serialization/hypersurface_models.jl
  experimental/FTheoryTools/src/Serialization/tate_models.jl
  experimental/FTheoryTools/src/Serialization/weierstrass_models.jl
  experimental/FTheoryTools/src/exports.jl
  experimental/FTheoryTools/src/types.jl
  experimental/FTheoryTools/test/FTM-1511-03209.jl
  experimental/FTheoryTools/test/QSMs.jl
  src/AlgebraicGeometry/ToricVarieties/CohomologyClasses/special_attributes.jl
Labels: enhancement, topic: FTheoryTools, release notes: use title

#4773 Some more serialization of stuff around localizations
  src/Rings/mpolyquo-localizations.jl
  src/Serialization/Rings.jl
  src/Serialization/main.jl
  src/Serialization/parallel.jl
  test/Serialization/PolynomialsSeries.jl
Labels: serialization

#4782 Temporarily fix Hecke version
  Project.toml
Labels: release notes: not needed

#4775 Fix upgrades for Vector{ZZLat}
  src/Serialization/QuadForm.jl
  src/Serialization/Upgrades/1.4.0.jl
  src/Serialization/containers.jl
  src/Serialization/main.jl
Labels: serialization

#4778 Adv/upgrade fracelem
  src/Serialization/Upgrades/1.4.0.jl
Labels: serialization, embarrassing-bugfix

#4781 new: roots of tropical polynomials
  docs/src/TropicalGeometry/semiring.md
  src/TropicalGeometry/poly.jl
  test/TropicalGeometry/poly.jl
Labels: topic: tropical geometry, release notes: use title

#4447 TropicalGeometry: new positive tropicalizations
  docs/doc.main
  docs/oscar_references.bib
  docs/src/TropicalGeometry/positive_variety.md
  src/TropicalGeometry/TropicalGeometry.jl
  src/TropicalGeometry/positive_variety.jl
  src/exports.jl
  test/TropicalGeometry/positive_variety.jl
Labels: topic: tropical geometry

#2183 Basics for quantum analogs
  docs/oscar_references.bib
  experimental/QAnalogs/README.md
  experimental/QAnalogs/docs/doc.main
  experimental/QAnalogs/docs/src/q_analogs.md
  experimental/QAnalogs/src/QAnalogs.jl
  experimental/QAnalogs/test/q_analogs.jl
Labels: experimental, release notes: use title

#4794 fix `quo` for the f.p. group on zero generators
  src/GAP/wrappers.jl
  src/Groups/sub.jl
  test/Groups/quotients.jl
Labels: topic: groups, release notes: not needed, backport 1.3.x, bug: wrong result

#4779 Add exceptional classes and indices
  experimental/FTheoryTools/docs/src/literature.md
  experimental/FTheoryTools/src/AbstractFTheoryModels/attributes.jl
  experimental/FTheoryTools/src/AbstractFTheoryModels/methods.jl
  experimental/FTheoryTools/src/FamilyOfG4Fluxes/special_constructors.jl
  experimental/FTheoryTools/src/G4Fluxes/properties.jl
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-10.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-11.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-12.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-13.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-14.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-15.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-16.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-3.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-4.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-5.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-6.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-7.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-8.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1408_4808-9.json
  experimental/FTheoryTools/src/LiteratureModels/Models/model1903_00009.json
  experimental/FTheoryTools/src/LiteratureModels/constructors.jl
  experimental/FTheoryTools/src/exports.jl
  experimental/FTheoryTools/test/literature_models.jl
  test/book/specialized/bies-turner-string-theory-applications/SU5.jlcon
Labels: topic: FTheoryTools, release notes: use title

#4792 Fix attribute handling in tropical linear spaces
  src/TropicalGeometry/intersection.jl
  src/TropicalGeometry/linear_space.jl
Labels: topic: tropical geometry, release notes: not needed

#4795 Small cleanup in QuadFormAndIsom
  experimental/QuadFormAndIsom/src/embeddings.jl
Labels: experimental, release notes: not needed

#4811 Set `OMP_NUM_THREADS=1` unconditionally (bandaid for #4806)
  .github/workflows/CI.yml
Labels: CI, release notes: not needed

#4807 Change default ordering in `universal_enveloping_algebra` to be admissible
  experimental/LieAlgebras/src/LieAlgebra.jl
  experimental/LieAlgebras/test/LieAlgebra-test.jl
Labels: topic: lie theory, experimental, release notes: use title

#4818 Fix a bug in Borcherds' method.
  src/AlgebraicGeometry/Surfaces/K3Auto.jl
  test/AlgebraicGeometry/Surfaces/K3Auto.jl
Labels: topic: algebraic geometry, backport 1.0.x, backport 1.1.x, release notes: use title, backport 1.3.x, bug: wrong result, bug: unexpected error

#4789 Add `highest_root(R::RootSystem)` for convenience
  docs/src/LieTheory/root_systems.md
  src/LieTheory/RootSystem.jl
  src/exports.jl
Labels: topic: lie theory, release notes: use title

#4803 [FTheoryTools] Extend extra long tests
  experimental/FTheoryTools/test/FTM-1511-03209.jl
Labels: enhancement, topic: FTheoryTools, release notes: not needed

#4825 Reduce number of tests executed in extra-long-tests
  experimental/FTheoryTools/test/FTM-1511-03209.jl
Labels: topic: FTheoryTools, release notes: not needed

#4829 Fix some typos in wreath product docstrings
  docs/src/Groups/products.md
  src/Groups/directproducts.jl
Labels: documentation, topic: groups, release notes: not needed

#4805 Update docs part of ExperimentalTemplate
  docs/make_work.jl
  experimental/ExperimentalTemplate/docs/doc.main
  experimental/ExperimentalTemplate/docs/src/example_page.md
  experimental/ExperimentalTemplate/docs/src/introduction.md
Labels: documentation, experimental, release notes: not needed

#4735 Add iterator for combinations
  experimental/LieAlgebras/src/Combinatorics.jl
  experimental/LieAlgebras/test/Combinatorics-test.jl
  src/Combinatorics/EnumerativeCombinatorics/EnumerativeCombinatorics.jl
  src/Combinatorics/EnumerativeCombinatorics/combinations.jl
  src/Combinatorics/EnumerativeCombinatorics/types.jl
  src/exports.jl
  test/Combinatorics/EnumerativeCombinatorics/combinations.jl
Labels: enhancement, topic: combinatorics, release notes: use title

#4837 Fix maximal_order for NfNSGen
  src/Rings/NumberField.jl
  test/Rings/NumberField.jl
Labels: topic: number theory, release notes: use title

#4827 check the result type of `GAP.Globals.PermutationOp`
  docs/src/Groups/grouplib.md
  src/Groups/gsets.jl
  test/Groups/gsets.jl
Labels: enhancement, topic: groups, release notes: not needed

#4661 Add `dicyclic_group`, `is_dicyclic_group` and have `quaternion_group` and `is_quaternion_group` be aliases of those
  src/Groups/group_constructors.jl
  src/exports.jl
  test/Groups/constructors.jl
Labels: enhancement, topic: groups, release notes: use title
